<%@partecipants.each do |partecipant| %>
    <%if !@group.portavoce.include? partecipant.user%>
        <div class="pcontainer">
          <div class="MoImg24">
            <%= partecipant.user_image_tag(24) %>
          </div>
          <div class="Mo">
            <%=link_to_user partecipant.user, :full_name => true, :title => partecipant.partecipation_role.name %>
          </div>
          <div style="clear:both;"></div>
        </div>
    <%end%>
<%end %>