coverage
rdoc
doc
.yardoc
.bundle
pkg
.git
.idea
.document
.rspec
.rvmrc
.DS_Store
tmp
log
config/database.yml
config/application.yml
config/paypal.yml
test/fixtures
script/igraph-0.5.4
public/assets
public/system
public/ckeditor_assets
private
solr/data/
solr/development
solr/production
solr/test
solr/default
solr/pids
*.orig
bin/alwaysdata
config/secrets.yml
