<% javascript 'endless_page' %>

<%=render :layout => "layouts/page_title", :locals => {:title => @blog.title} do%>
<%= render :partial => 'blog_posts/admin_links' %>
<%end%>
  
<% if @blog_posts.size == 0 && !params[:page] %>
	<div class="blogPost">
		<h3>Nessun Post</h3>
		<p>Non vi sono ancora Post in questo Blog, torna presto.</p>
	</div>
<% else %>
	<% if @tag %>
		<h3>Tag: <%= @tag %></h3>
	<% end %>
	<div id="blogPostContainer">
	<%= render :collection => @blog_posts, :partial => 'blog_posts/blog_post' %>
	</div>
		
<% end %>


 <div id="loading_results">
  	<span>Post precedenti...</span>
 </div>

<script type="text/javascript">
			$('input:submit').button();			
		</script>
<br />
