h2 Cookie Policy

h4 About cookies
p
  ' This website uses cookies.  By using this website and agreeing to this policy, you consent to Airesis the use of
  ' cookies in accordance with the terms of this policy.
  ' Cookies are files sent by web servers to web browsers, and stored by the web browsers.
  ' The information is then sent back to the server each time the browser requests a page from the server.
  ' This enables a web server to identify and track web browsers.
  ' There are two main kinds of cookies: session cookies and persistent cookies.
  ' Session cookies are deleted from your computer when you close your browser, whereas persistent cookies
  ' remain stored on your computer until deleted, or until they reach their expiry date.

h4 Cookies on our website
p
  ' Airesis uses the following cookies on this website, for the following purposes:
  ' Keep you session active
  ' Remember if you already saw an advice so we don’t show it everytime

h4 Google cookies

p 
  ' Airesis uses Google Analytics to analyse the use of this website. 
  ' Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  
  ' The information generated relating to our website is used to create reports about the use of the website. 
  ' Google will store and use this information.  
  ' Google's privacy policy is available at: http://www.google.com/privacypolicy.html.]


h4 Refusing cookies
p
  ' Most browsers allow you to refuse to accept cookies.  

p 
  ' In Internet Explorer, you can refuse all cookies by clicking "Tools”, "Internet Options”, "Privacy”, and selecting "Block all cookies” using the sliding selector.  

p
  ' In Firefox, you can adjust your cookies settings by clicking "Tools”, "Options” and "Privacy”.
p
  ' Blocking cookies will have a negative impact upon the usability of some websites.

h4 Credit
p
  ' This document was created using a Contractology template available at http://www.freenetlaw.com.
