<ol style="padding-left:10px">
<li>
<b>Accettazione delle Condizioni d'Uso e sue modifiche.</b>
Ogni volta che usi o accedi a questo sito web accetti queste Condizioni d'Uso, e le loro eventuali modifiche che possono essere adottate con o senza notifica da parte nostra.
Inoltre, se stai usando un particolare servizio fornito da o attraverso il nostro sito, sei soggetto alle regole e linee guida di quel servizio che costituiscono parte integrante di queste Condizioni d'Uso.
Consulta anche la nostra <b><%= link_to t('privacy_policy'), privacy_path, remote: true, class: 'privacy_link'%></b>, che costituisce parte integrante di queste Condizioni d'Uso.
</li>
<li>
<b>I nostri servizi.</b>
Il nostro sito e i servizi forniti da esso o attraverso di esso sono forniti COME SONO e pertanto, i gestori e proprietari di questo sito non si assumono alcuna responsabilità riguardo alla puntualità, alla cancellazione, accuratezza o alla mancata consegna o memorizzazione di qualsiasi dato, comunicazione o personalizzazione dell'iscritto.
Visitando questo sito accetti che i suoi proprietari si riservino il diritto e possano, in qualsiasi momento, anche senza preavviso e senza alcuna responsabilità nei tuoi confronti, modificare o cancellare l'accesso a questo sito o ai suoi servizi, o cancellare i dati da te forniti, temporaneamente o permanentemente.
</li>
<li>
<b>Le tue responsibilità e i tuoi obblighi di registrazione.</b>
Per usare questo sito, devi registrarti accettando di fornire informazioni veritiere quando richiesto. Devi essere maggiorenne. Attraverso l'atto della registrazione, accetti esplicitamente le nostre Condizioni d'Uso e le loro periodiche modifiche che puoi consultare su questa pagina.
</li>
<li>
<b>Politiche sulla Privacy.</b>
I dati forniti con la registrazione o successivamente ed altri dati personali che raccogliamo sono soggetti al regolamento della nostra Politica sulla Privacy.
</li>
<li>
<b>Registrazione e Password.</b>
Sei impegnato a mantenere riservata la Password di accesso al Sito, così come sei responsabile dell'utilizzo dei servizi erogati attraverso la tua registrazione e/o accesso (login), anche quando tale erogazione non fosse stata autorizzata da te direttamente.
Accetti di segnalarci immediatamente qualsiasi uso non autorizzato della tua registrazione, profilo o password, di cui tu venga a conoscenza.
</li>
<li>
<b>Il tuo comportamento.</b>
Accetti che tutte le informazioni o dati di qualsiasi tipo, in forma di testo, software, codice, musica o suono digitale, immagini fotografiche, video o altri materiali (Contenuti), forniti pubblicamente o privatamente, ricadano sotto la sola responsabilità della persona che li fornisce, o il cui profilo viene usato per fornirli.
Accetti che, contro la volontà degli amministrarori, sul Sito possano occasionalmente comparire contenuti offensivi o comunque reprensibili.
Con l'uso di questo sito e di ogni servizio da esso fornito:
<ol type="A" style="padding-left: 20px">
<li>accetti di non inserire Contenuti o comunque di assumere iniziative che possano risultare illegali, volgari, osceni o comunque reprensibili, che rechino danno, diffamino o offendano altre persone, o che danneggino il buon funzionamento di questo sito e dei servizi forniti, che lo infettino tramite virus elettronico o altri programmi distruttivi e deleteri, che determinino responsabilità di rilevanza civile o penale o che possano violare le leggi vigenti nazionali o internazionali.
</li><li>accetti di non falsificare la tua identità o un tuo collegamento con associazioni, persone fisiche o enti e di non falsificare o cercare di nascondere l'origine o la natura di ogni Contenuto a te fornito;
</li><li>accetti di non raccogliere dati riguardanti altri iscritti;
</li><li>accetti di non fornire o usare questo sito o i suoi Contenuti o servizi in un qualsiasi servizio commerciale o in in ogni modo che possa diffondere pubblicità indesiderata (junk mail o spam), catene di Sant'Antonio, schemi piramidali, o ogni forma di sollecitazione o pubblicità non autorizzata senza il nostro previo consenso scritto;
</li><li>accetti di non fornire contenuti che possano far sorgere responsabilità civili o penali o che possano costituire o essere considerate una violazione di una norma locale, nazionale o internazionale, ivi comprese le leggi riguardanti copyright, brevetti, o segreti commerciali;
</li><li> accetti di non scrivere titoli generici e irritanti (e mai tutto in maiuscolo). Il titolo serve ad indicare il contenuto della proposta o del post sul blog. Il contenuto a sua volta deve essere dettagliato e descrittivo, senza dare nulla per scontato;
</li><li> convieni che lo spirito è quello dell'Open Source ma che non siamo un ente benefico (ed il tempo è denaro): sì a Supporto ed Help Desk, no a Servizi e Consulenze gratuite;
</li><li> convieni che gli amministratori hanno la facoltà di spostare nella categoria più opportuna la proposta che hai inserito nel posto errato;
</li><li> convieni che invii ed inserimenti doppi verranno cancellati senza spiegazioni;
</li><li> convieni che il mancato rispetto di queste condizioni potrà comportare l'immediata e definitiva cancellazione del tuo Account, salvo più gravi provvedimenti;
</li><li> convieni che tutti gli indirizzi IP dei messaggi vengano registrati per consentire l'applicazione di queste condizioni;
</li><li> convieni che che non è consentito creare account multipli per un singolo utente: nel caso un utente disponga di più account, magari creatisi a partire dall'accessso tramite tecnologia omniauth (Facebook, Google+, Twitter, etc...) è tenuto ad utilizzare la funzionalità di 'Unione account' per aggregare le informazioni dei diversi account.
</li><li> convieni che l'indirizzo email richiesto in fase di registrazione sarà usato solo per confermare i dettagli della registrazione e la password, inviare notifiche sugli eventi che accadono nel sistema e per poterti inviare una nuova password nel caso in cui dimenticassi e/o smarrissi l'attuale. La regolamentazione sull'invio di newsletter e notifiche via mail viene regolata dalle "Impostazioni Notifiche e Messaggi" dell'utente: l'amministratore non assicura il pieno rispetto di tali regole nel caso di bug, virus o altri malfunzionamenti del sistema.
</li><li> accetti che l'amministratore o i moderatori di questo sito abbiano il diritto di cancellare, modificare, spostare o chiudere qualsiasi discussione ogni volta che questo venga richiesto dalla comunità degli utenti;
</li><li> accetti che come Utente Registrato qualsiasi informazione da te inserita venga salvata in un database;
</li><li> accetti che come Utente Certificato qualsiasi informazione sensibile e anagrafica da te inserita venga salvata in un database;
</li><li> accetti che webmaster, amministratori e moderatori non possono essere ritenuti responsabili di eventuali tentativi di hacking che possano condurre ai suddetti dati;
</li><li> accetti che questo Sito utilizzi cookies per salvare informazioni in locale sul tuo computer. Questi cookies non contengono dati da te inseriti come sopra, ma servono solo a migliorare la navigazione del Sito;
</li><li> Accetti il fatto che è assolutamente vietato pubblicizzare prodotti o servizi attraverso questo sito in qualsiasi forma, fatto salvo autorizzazione scritta da parte dell'amministratore.</li>
</ol>
</li>
<li>
<b>Invio di Contenuti a questo sito.</b>
Fornendo ogni tipo di Contenuto a questo sito:
<ol type="A" style="padding-left: 20px">
<li>accetti di fornirci il diritto internazionale, gratuito, perpetuo e senza esclusioni di usare, mostrare, riprodurre, adattare, pubblicare, distribuire, recitare, promuovere, archiviare, tradurre tale contenuto, in tutto o in parte. Questa licenza viene applicata in riferimento ad ogni forma, medium o tecnologia conosciuta o sviluppata successivamente;
</li><li> riconosci che hai tutti i diritti legali, morali e materiali, ed ogni altro diritto necessario a trasferirci tale licenza d'uso stabilita da questo documento ;
</li><li> riconosci ed accetti che abbiamo il diritto ma non l'obbligo di rifiutare di pubblicare o di cancellare o limitare l'accesso ad ogni contenuto da te fornito in qualsiasi momento e per ogni ragione, con o senza preavviso.</li></ol>
</li>
<li>
<b>Servizi da Terzi.</b>
Beni e servizi forniti da terzi possono essere pubblicizzati o resi disponibili su o attraverso questo sito. Rappresentazioni di prodotti e servizi forniti da terzi sono governati da politiche da essi fornite. Non siamo responsabili in alcun modo per ogni interazione, accordo o contratto da te stipulato con terzi.
</li>
<li>
<b>Sollevazione da pretese di indennizzo.</b>
Riconosci ed accetti che i gestori e proprietari di questo sito ed i soggetti ad esso collegati (per esempio le nostre aziende sussidiare ed affiliate, i nostri impiegati, dirigenti, proprietari, fornitori indipendenti o i nostri associati) siano sollevati da qualsiasi obbligo risarcitorio, comprese le spese legali, che possano essere richieste da terzi a causa della tua condotta su questo sito ed ogni suo servizio, a causa dei contenuti da te forniti, a causa della violazione di queste Condizioni d'Uso o a causa di ogni altra violazione dei diritti di un'altra persona o terzo da te commessa nell'uso di questo sito e dei suoi servizi.
</li>
<li>
<b>ASSENZA DI GARANZIE.</b>
Riconosci ed accetti che l'uso di questo sito e di ogni servizio e contenuto da esso fornito (il "servizio") e disponibile e fornito a te a tuo rischio e pericolo. viene fornito "così com'è" senza alcuna garanzia esplicita o implicita, incluse garanzie di commerciabilità, adeguatezza all'uso e legalità di ogni servizio fornito.
Non forniamo inoltre alcuna garanzia, implicita o esplicita, che qualsiasi parte del nostro servizio sarà ininterrotta, corretta, non conterrà virus informatici, sarà puntuale, sicura, accurata, affidabile, sia di buona qualità, o che quasiasi contenuto da noi fornito possa essere scaricato via internet con sicurezza. 
Riconosci ed accetti l'uso del sito a tuo rischio e senza nostra responsabilità di qualsiasi tipo.
Alcune giurisdizioni possono non permettere limitazioni di responsabilità o di garanzie, pertanto le limitazioni di cui sopra possono non essere valide nel tuo caso nella misura in cui si riferiscano a garanzie implicite.

Accetti che:
<ol type="A" style="padding-left: 20px">
<li>RICONOSCI ED ACCETTI CHE NON SAREMO IN ALCUN CASO RESPONSABILITA' PER EVENTUALI DANNI DI QUALSIASI SPECIE E NATURA, DIRETTI O INDIRETTI, ANCHE RELATIVI A PERDITE DI PROFITTI, DATI O ALTRE PERDITE NON TANGIBILI (ANCHE PREVIO AVVERTIMENTO DELLA POSSIBILITÀ DI VERIFICARSI DI TALI PERDITE), RISULTANTI DA (I) L'USO O LA INCAPACITÀ DI USARE I NOSTRI SERVIZI, (II) IL COSTO DI OTTENERE BENI E SERVIZI SOSTITUTIVI RISULTANTI DA TRANSAZIONI EFFETTUATE ATTRAVERSO IL NOSTRO SITO O I SERVIZI DA ESSO FORNITI, (III) L'ACCESSO NON AUTORIZZATO O LA MODIFICA DELLA TUA TRASMISSIONE DEI DATI, (IV) AFFERMAZIONI O CONDOTTE DI TERZI SUL NOSTRO SITO, O (V) OGNI ALTRA QUESTIONE RELATIVA AL NOSTRO SITO O AI SERVIZI DA ESSO FORNITI.
</li></ol>
Alcune giurisdizioni non ammettono limitazioni di responsabilità, e pertanto tali limitazioni possono non essere valide nel tuo caso.
</li>
<li>
<b>Riserva sui diritti.</b>
Ci riserviamo tutti i diritti, compreso quello di Copyright, marchio, brevetto, segreto commerciale ed ogni altro diritto che possiamo avere sul nostro sito, i suoi contenuti, e i beni e servizi da esso forniti. L'uso dei nostri diritti e delle nostre proprietà richiede previo consenso scritto.
Non ti forniamo alcuna implicita o esplicita licenza o diritto di renderti disponibili questi servizi e non avrai alcun diritto di farne uso commerciale senza nostro previo consenso scritto.
</li><li>
<b>Avviso di violazione del Copyright.</b>
Se credi beni di tua proprietà siano stati usati in un modo che costituisce violazione del Copyright o della tua proprietà intellettuale, puoi contattare il responsabile web (webmaster) all'indirizzo <%=mail_to APP_EMAIL_ADDRESS%>
</li><li>
<b>Legge applicabile e Foro competente.</b>
Accetti che queste Condizioni d'Uso e ogni disputa che possa sorgere riguardante il tuo utilizzo di questo sito e dei suoi servizi o prodotti sia regolato dalle leggi della Repubblica Italiana.
Registrandoti e/o usando questo sito e i suoi servizi accetti che per ogni disputa derivante o comunque connessa alle presenti condizioni d'uso sarà competente il Foro del capoluogo più vicino al domicilio del proprietario di questo sito.
</li><li>
<b>Altre Informazioni.</b>
<ol type="i">
<li>Nel caso in cui alcune norme di queste Condizioni d'Uso siano in conflitto con le leggi vigenti o in cui ogni loro dispozione sia resa invalida giudizialmente, tali norme verranno interpretate in modo da riflettere l'intento originale delle parti in accordo con la legge vigente, mentre il resto delle Condizioni d'Uso rimarrà valido ed intatto;
</li><li>l'incapacita' di una parte di rendere valido qualsiasi diritto specificato da queste Condizioni d'Uso non limita i diritti rimanenti di tale parte;
</li><li>Accetti che, in deroga ad eventuali disposizioni di legge che dispongano diversamente, ogni disputa o conflitto riguardante il tuo uso del nostro sito e dei servizi da esso forniti venga notificata legalmente entro un (1) anno dal verificarsi delle cause che hanno provocato tale disputa o conflitto o sia altrimenti nulla;
</li><li>ci riserviamo il diritto di trasferire gli obblighi ed i diritti derivanti da queste Condizioni d'Uso ed essere sollevati da ogni obbligo.
	</li>
</ol>
PER ACCETTARE LE PRESENTI CONDIZIONI GENERALI DI SERVIZIO (dichiarando ai sensi e per gli effetti dell'art. 1341, 2 ° comma, cod. civ., di avere letto con attenzione e di approvare specificamente le pattuizioni contenute negli articoli precedenti riguardanti: (i) art. 1 possibilità di modifica delle condizioni generali del Servizio; (ii) art. 2 possibilità di estensione o modifica dell'oggetto del Servizio; (iii) art. 9 sollevazione da pretese di indennizzo; (v) art. 2 possibilità di recesso dal Contratto; (vii) art. 10 assenza di garanzie da parte dei gestori o proprietari del nostro sito; (viii) art. 11 limitazioni della responsabilità da parte dei gestori o proprietari del nostro sito!; (ix) art. 14 legge applicabile e foro competente; (v) art. 15 (iii) decadenza dal diritto di proporre azione)
</li><li>
<b>Relativamente alla legge sull'Editoria</b>
In ottemperanza con la legge sull'editoria italiana, si segnala che il Sito non vuole essere un prodotto editoriale, ma una comunità virtuale non rientrante nella categoria dell'informazione periodica stabilita dalla Legge 7 marzo 2001, n.62.
Gli aggiornamenti sono casuali e non periodici.
Non essendo una testata giornalistica non esiste editore.
Tutti i Loghi e Marchi esposti in questo sito sono di proprietà dei rispettivi possessori, tutti i commenti sono a responsabilità di chi li ha scritti, tutto il resto è proprietà dell'amministratore del Sito.
</li>
</ol>