<ol style="padding-left:10px">
  <li><b>Introduzione.</b>
    Questo sito web considera molto seriamente il diritto alla privacy di ognuno e desidera che chiunque possa sentirsi
    a proprio agio nell'usare questo sito. Questa Politica sulla Privacy riguarda informazioni personali (che d'ora in
    poi chiameremo "Dati") che possono essere raccolti dal nostro sito. Questa Politica non riguarda altri enti che non
    possediamo o controlliamo, o persone che non sono nostre dipendenti, agenti o sotto il nostro diretto controllo. Per
    maggiori informazioni in proposito leggi anche le nostre Condizioni d'Uso.
  </li>
  <li>
    <b>Raccolta Dati.</b>
    La nostra procedura di registrazione richiede un valido indirizzo email, un unico identificatore personale (username
    o login), una parola chiave (password), nome e cognome dell'utente. L' indicazione di altre informazioni personali è
    una vostra libera scelta. Vi preghiamo di notare che il vostro identificatore personale (username), l'indirizzo
    email, o altre informazioni che avete indicato possono contenere il vostro nome reale o altre informazioni personali
    e, di conseguenza, possono apparire su questo sito. Come in molti altri siti, il nostro server può salvare
    automaticamente nel "log file" alcune informazioni come l'indirizzo IP del vostro computer, oppure può salvare altre
    informazioni salvate nel vostro computer con la tecnica dei "cookies". In seguito troverete informazioni su se e
    come questo sito gestisca la pubblicità.
  </li>
  <li>
    <b>Uso dei Dati.</b>
    Questo sito usa i vostri Dati personali per adattare e migliorare la qualità e l'ergonomia del vostro accesso al
    sito. Adotteremo tutte le misure necessarie affinché i vostri Dati non siano forniti a terzi a meno che:

    indicazione contraria sia indicata in questa Politica sulla Privacy;
    abbiamo ottenuto in precedenza il vostro consenso, per esempio quando scegliete voi stesso di accettare o negare la
    condivisione della lettura dei Dati;


    un servizio fornito dal nostro sito richiede l'interazione con un servizio fornito da terzi o è fornito interamente
    da terzi (per esempio un fornitore di servizi);


    i vostri dati vengano richiesti dalle Forze dell'ordine; nell'esercizio delle loro funzioni;


    riscontriamo che il vostro uso di questo sito violi questa Politica, le nostre Condizioni d'Uso, altre linee d'uso o
    come giudicato da noi ragionevolmente necessario per proteggere i nostri diritti legali e/o i nostri beni;


    questo sito sia acquistato da terzi laddove i suddetti terzi siano in grado di usare Dati nello stesso modo indicato
    da questa Politica.
    Nel caso inoltre che scegliate di seguire links che appaiono sul nostro sito per visitare altri siti web, vi
    suggeriamo di leggere le politiche sulla privacy che appaiono in quei siti per essere sicuri della privacy dei
    vostri dati personali
  </li>
  <li>

    <b>Cookies.</b>
    Come altri siti, questo sito salva ed usa cookies per migliorare l'uso da parte di ogni iscritto, come per esempio
    per salvare le vostre preferenze di visualizzazione. Pubblicità può apparire sul nostro sito e potrebbe salvare ed
    usare cookies sul vostro computer. Questo uso è soggetto alle politiche sulla privacy dei soggetti fornitori della
    pubblicità In ogni caso i fornitori di pubblicità non hanno accesso ai nostri cookies. Questi fornitori di solito
    usano del codice anonimo e non identificabile personalmente per ottenere informazioni riguardanti visite al nostro
    sito.
  </li>
  <li>
    <b>Minori.</b>
    Non permettiamo a minorenni di accedere al nostro sito se non con il consenso dei genitori. Per maggiori
    informazioni, contattate il nostro responsabile web (webmaster).
  </li>
  <li>
    <b>Modifica o Cancellazione delle informazioni sul tuo profilo.</b>
    Questo sito vi fornisce la possibilità di modificare le informazioni riguardanti il vostro profilo che ci avete
    fornito nella fase di registrazione usando la vostra pagina di configurazione personale. Potete richiedere la
    cancellazione del vostro profilo contattando il responsabile web (webmaster), ma questo verrà concesso solo ad
    insindacabile giudizio del responsabile. Contenuti o altri dati che potreste avere inserito sul nostro sito e che
    non sono contenuti nel vostro profilo, come messaggi che appaiono nei forum o articoli e notizie possono continuare
    a rimanere nel nostro sito a nostra discrezione anche se il vostro profilo e' stato cancellato.
    Non è possibile modificare il proprio indirizzo email nel caso l'account sia collegato ad un utenza Facebook,
    Google+ o Twitter.
    Controllate le nostre Condizioni d'Uso per maggiori informazioni.
  </li>
  <li>
    <b>Modifiche a questa Politica sulla Privacy.</b>
    Di tanto in tanto possiamo effettuare modifiche a questa politica. Sarete notificati in caso di modifiche
    sostanziali inserendo un annuncio evidente sul sito e/o inviando un messaggio all'indirizzo di posta elettronica che
    ci avete fornito (contenuto nella descrizione dei dati del vostro profilo).
  </li>
  <li>
    <b>NESSUNA GARANZIA</b>
    Questa Politica sulla Privacy indica le nostre linee guida per il mantenimento dei Dati e faremo ogni sforzo per
    seguire queste regole. Ci possono comunque essere fattori oltre il nostro controllo che potrebbero risultare nel
    rilascio dei dati a terzi. Di conseguenza, con questa Politica non si fornisce alcuna garanzia relativa al
    mantenimento della riservatezza dei Dati.
  </li>
  <li>
    <b>Contatti.</b>
    Per ogni domanda riguardante questa Politica contatta il nostro responsabile web (webmaster).
  </li>
</ol>