<h1>Listing user_likes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_likes.each do |user_like| %>
  <tr>
    <td><%= link_to 'Show', user_like %></td>
    <td><%= link_to 'Edit', edit_user_like_path(user_like) %></td>
    <td><%= link_to 'Destroy', user_like, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User like', new_user_like_path %>
