<ul>
  <%- if controller_name != 'registrations' %>
      <li><%= link_to t('pages.sessions.links.register'), new_registration_path(resource_name) %></li>
  <% end -%>

  <%- if controller_name != 'passwords' %>
      <li><%= link_to t('pages.sessions.links.forgot_password'), new_password_path(resource_name) %></li>
  <% end -%>

  <%- if controller_name != 'confirmations' %>
      <li><%= link_to t('pages.sessions.links.havent_received_email'), new_confirmation_path(resource_name) %></li>
  <% end -%>
</ul>
