<% if ::Configuration.socialnetwork_active %>
    <div class="card">
      <h2><%= t('pages.registration.identity_provviders_title') %></h2>
      <%= link_to_ip t('pages.top_panel.facebook_login'), :facebook, 'facebook' %>
      <%= link_to_ip t('pages.top_panel.google_login'), :google_oauth2, 'google' %>
      <%= link_to_ip t('pages.top_panel.twitter_login'), :twitter, 'twitter' %>
    </div>
<% end %>
