<div class="title">
  <%= t('pages.groups.show.next_events') %>
</div>
<% @c = @group.events.next.order('starttime asc').limit(4) %>
<% unless @c.empty? %>
<div class="scrollable">
  <%= render partial: 'events/mini_event', collection: @c, as: 'event' %>
</div>
<% end %>
