<div class="title">
  <%= t('pages.groups.show.last_proposals') %>
</div>
<% @c = Proposal.group_portlet(@group,current_user) %>
<% unless @c.empty? %>
    <div class="scrollable">
      <%= render partial: 'proposals/mini_proposal', collection: @c, as: 'proposal' %>
    </div>


<% end %>