<div class="title">
  <%= t('pages.groups.show.last_topics') %>
</div>
<% if @last_topics.size > 0 %>
    <div class="scrollable">
      <div class="mini_topics">
        <%= render partial: 'frm/topics/mini_topic', collection: @last_topics, as: 'topic' %>
      </div>
    </div>
<% end %>
