<p>
<%= t('mailer.blocked.hi_user', {user: "#{@user.blocked_name} #{@user.blocked_surname}"}) %> <%=  %>,<br/>
<%= t('mailer.blocked.deleted_correctly') %>
</p>
<p>
<%=raw t('mailer.blocked.greetings') %>
</p>