Ciao <%=@to.fullname %>,<br/>
<%= @from.fullname %> ti ha inviato il seguente messaggio:<br />
<p style="font-style: italic;">
<%= @body %>
</p>
Puoi rispondere a <%=  @from.name %> rispondendo semplicemente a questa email.