<%= t('mailer.user_message.hi_user', {user: @to.fullname}) %><br/>
<%= t('mailer.user_message.user_sent_message', {user: @from.fullname}) %><br />
<p style="font-style: italic;">
<%= @body %>
</p>
<%= t('mailer.user_message.reply_to_user', {user: @from.name}) %>