<div class='category'>
  <h2><%= link_to t('forem.forum.forums'), group_forums_url(@group) %> &raquo; <%= link_to forem_emojify(@category), group_frm_category_url(@group, @category) %></h2>
  <%= render @category %>
</div>