<div class="blogComments" id="proposalComments">
	<% @proposal_comments.each do |comment| %>
		<%= render :partial => 'comment_list_element', :locals => {:comment => comment} %>
	<% end %>
</div>


<script type="text/javascript">
	$(function() {
		$('.reply_textarea').watermark('Inserisci un suggerimento').elastic();
	})
</script>