<h2><%= link_to t('frm.forum.forums'), group_forums_url(@group) %> &raquo; <%= link_to forem_emojify(topic.forum.title), group_forum_url(@group, topic.forum) %> &raquo; <%= forem_emojify(topic.subject) %></h2>
