<ul class="breadcrumbs">
  <li><%= link_to t('frm.forum.forums'), group_forums_url(@group) %></li>
  <li><%= link_to topic.forum.category, group_frm_category_url(@group, topic.forum.category) %></li>
  <li><%= link_to topic.forum.title, group_forum_url(@group, topic.forum) %></li>
  <li class="current"><%= topic.subject %></li>
</ul>
