<h1>Listing search_proposals</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search_proposals.each do |search_proposal| %>
  <tr>
    <td><%= link_to 'Show', search_proposal %></td>
    <td><%= link_to 'Edit', edit_search_proposal_path(search_proposal) %></td>
    <td><%= link_to 'Destroy', search_proposal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search proposal', new_search_proposal_path %>
