$('#edit_quorum_container').html("<div  class='panel callout'><p><%=t('pages.groups.edit_quorums.edit_quorum_warning')%></p></div><br/><%= escape_javascript(render(:partial => 'quorums/form', :locals => {:button_name => t('buttons.update')}))%>");

$('#edit_quorum_container').dialog({
    width: 800,
    height: 'auto',
    modal : true,
    resizable: false,
    close : function(event, ui) {
        $('#edit_quorum_container').dialog('destroy');
        $('#edit_quorum_container').empty();
    }
});

