$('#edit_quorum_container').html("<div  class='ui-state-highlight'><b>Attenzione! Le modifiche al quorum non influenzeranno le proposte alle quali è già stato assegnato!</b></div><br/><%= escape_javascript(render(:partial => 'quorums/form', :locals => {:button_name => "Aggiorna"}))%>");

$('#edit_quorum_container').dialog({
    width: 500,
    height: 'auto',
    modal : true,
    resizable: false,
    close : function(event, ui) {
        $('#edit_quorum_container').dialog('destroy');
        $('#edit_quorum_container').empty();
    }
});

