var container_ = $('<div id="quorum_container" class="reveal-modal medium" data-reveal></div>');
$('body').append(container_);
container_.html("<%= j (render(:partial => 'quorums/form', :locals => {:button_name => t('buttons.create')}))%>");

container_.foundation('reveal', 'open');

container_.find('a.cancel').click(function() {
    container_.foundation('reveal', 'close');
    return false;
});

$(document).on('closed', container_, function () {
    container_.remove();
});

/*container_.css('max-height', $('html').height() - 110 + 'px').css('overflow-y','auto');
container_.dialog({
	width: 800,
	height: 'auto',
	modal : true,
	resizable: false,
	close : function(event, ui) {
        container_.dialog('destroy');
        container_.remove();
	}
});
  */
