<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="six sub-columns">
                    <img src="https://www.airesis.eu/favicons/logo_email.png" alt="Airesis"/>
                  </td>
                  <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                            <span class="template-label">
                              <%= Maktoub.app_name %>
                            </span>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
