<% if @group.posts.published.count == 0 %>
    <div class="blogPost">
      <p>
        <%= t('pages.groups.show.no_blogs_yet') %>
      </p>
    </div>
<% else %>
    <% posts = @group.posts.published.includes([:blog, {:user => :image}, :tags]) %>
    <%= render :collection => posts, :partial => 'blog_posts/blog_post' %>
<% end %>