<h1>Modifica il gruppo</h1>

<%= render :partial => @group, :locals => { :button_name => "Aggiorna" } %>

<%= link_to 'Torna all''elenco', groups_path %>


<%=content_for :left_panel do%>
	<%= render :partial => 'groups/administration_panel' %>

<%end%>
