<h4>Utenti più attivi</h4>
	<%@users = User.find(:all,:include => :image, :order => "rank desc", :limit => 5)
	  @users.each do |user|
%>
 <div class="pcontainer">
	        <div class="MoImg24">
	            <%= user.user_image_tag(24) %>
	        </div>
	        <div class="Mo">
	            <%=raw(user.full_link_to_page) %> (<%=user.rank%>)
	        </div>
	        <div style="clear: both;"></div>
	    </div>
<%end%>