<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<% form_for :user, :url => {:action => "reset_password"} do |form| %>
<fieldset>
    <legend>
        Reimposta Password
    </legend>
    <p>
        <label for="user_password">
            Password
        </label>
        <br/>
        <%= form.password_field :password, :size => 45, :class => 'text' %>
    </p>
    <p>
        <label for="user_password_confirmation">
            Confirm Password
        </label>
        <br/>
        <%= form.password_field :password_confirmation, :size => 45, :class => 'text' %>
    </p>
    <%= submit_tag "Reset your password" %>
</fieldset>
<% end %>
