$('body').append('<div id="new_message_container" class="reveal-modal medium" data-reveal></div>');
$('#new_message_container').html("<%= j render 'users/message'%>");

$('#new_message_container').foundation('reveal','open');

disegnaBottoni();