<div class="card">
  <div class="image-container">
    <%= avatar(@user, size: 120) %>
    <% if @user == current_user %>
        <div class="caption">
          <a><%= t('pages.users.show.edit_image') %></a>
        </div>
    <% end %>
  </div>
</div>
<%= render 'users/message' %>
