<div class="title clearifx">
  <span class="left"><%= t('pages.home.index.last_petitions') %></span>
  <%=link_to 'Vai alle petizioni', proposals_path, class: 'btn right' %>
</div>
<% @proposals_p = Proposal.open_space_petitions_portlet(current_user) %>
<% unless @proposals_p.empty? %>
    <div class="scrollable">
      <%= render partial: 'proposals/mini_proposal', collection: @proposals_p, as: 'proposal' %>
    </div>
<% end %>
