<div class="title clearfix">
  <span class="left"><%= t('pages.home.index.next_events') %></span>
  <%= link_to t('pages.home.index.show_events'), events_path, class: 'btn right' %>
</div>
<div class="scrollable">
  <% unless @events.empty? %>
      <%= render partial: 'events/mini_event', collection: @events, as: 'event' %>
  <% end %>
</div>
