<div class="title">
  <%= t('pages.home.show.your_proposals') %>
</div>

<% @proposals_p = Proposal.home_portlet(current_user) %>
   <% unless @proposals_p.empty? %>
    <div style="overflow-y: scroll;height: 310px;overflow-x: hidden;">
      <%= render partial: 'proposals/mini_proposal', collection: @proposals_p, as: 'proposal' %>
    </div>
<% end %>