<p>
Ciao <%= @user.fullname %>, <br/>
il tuo gruppo <b><%= @group.name %></b> non ha ancora dei partecipanti.
  </p>
<p>
Perchè non inviti i tuoi amici a partecipare?<br/>
Condividi il link del tuo gruppo su Facebook o Google+ e richiama tutti coloro che conosci.
</p>
<p style="font-size: 0.9em">
Il gruppo è stato contrassegnato per la cancellazione.<br/>
Se entro sette giorni non vi saranno ulteriori partecipanti il gruppo verrà cancellato automaticamente.<br/>
Per ulteriori chiarimenti rivolgiti a help@airesis.it
</p>
