<h2 id="linkback">Aiutaci a far conoscere questo strumento di democrazia partecipativa</h2>
<p>	Il nostro progetto ha bisogno di essere conosciuto da tutti coloro che hanno a cuore l'avvenire della nostra democrazia. Aiutaci a divulgarlo nei blog, nei forum, su facebook, sui social network e ovunque ci sia voglia di democrazia. </p>
<p>Puoi usare, se vuoi, i nostri link o i nostri banner sul tuo sito o in quello  di  amici, associazioni o  enti che condividono il nostro progetto.Per poter visualizzare il banner o il link sul proprio sito, copia il codice che trovi qui sotto e inseriscilo all'interno del codice della pagina del tuo sito dove vuoi che venga visualizzato:</p>
<h3>Banners</h3>

<table width="100%"  border="0" cellspacing="10" cellpadding="0">
	<tr>
		<td>
		<div  style="border:1px dotted grey; padding:10px ">
			<table width="100%"  border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td> <%= link_to image_tag("helpus_2.gif"), root_path, :target => "_blank" %> </td>
					<td valign="top"><h3>160x600 - Wide skyscraper
					<br>
					<textarea name="textarea2"  style="width:100%; height:400px " onClick="javascript:this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave;"><img src="http://www.airesis.it/assets/helpus_2.gif" width="160" height="600" border="0" alt="Airesis: Scegli di partecipare"></a>
					</textarea></h3></td>
				</tr>
			</table>
		</div></td>
		<td valign="top">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
				<div  style="border:1px dotted grey; padding:10px ">
					<%= link_to image_tag("helpus_3.gif"), root_path, :target => "_blank" %>					
					<h3>468x60 - Full Banner </h3>
					<textarea name="textarea4"  style="width:100%; height:100px " onClick="javascript:this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; "><img src="http://www.airesis.it/assets/helpus_3.gif" width="468" height="60" border="0" alt="Airesis: Scegli di partecipare"></a></textarea>
				</div></td>
			</tr>
			<tr>
				<td height="10"></td>
			</tr>
			<tr>
				<td>
				<div  style="border:1px dotted grey; padding:10px ">
					<%= link_to image_tag("helpus_1.gif"), root_path, :target => "_blank" %>
					<h3>160x160 - Square </h3>
					<textarea name="textarea3"  style="width:100%; height:100px " onClick="javascript:this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; "><img src="http://www.airesis.it/assets/helpus_1.gif" width="160" height="160" border="0" alt="Airesis: Scegli di partecipare"></a></textarea>
				</div></td>
			</tr>
		</table></td>
	</tr>
</table>

<h3>Link testuale</h3>

<ul>
	<li>
		<a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; ">Airesis: Scegli di partecipare </a>
		<br>
		<textarea name="textarea"  style="width:100%; height:100px " onclick="javascript:this.select();"><a href="http://www.airesis.it/" target="_blank" title="Airesis: scelta di partecipazione, trasparenza, dialogo ed equit&agrave; ">Airesis: Scegli di partecipare</a></textarea>
	</li>
</ul>
<p>
	Se sceglierai di pubblicare il banner sarà di grande aiuto per il progetto. Grazie.
</p>