<% @page_title = "Partecipa al progetto per una nuova democrazia"%>
<% @page_descr = "Contribuisci a questo progetto con le tue esperienze, aiutaci a realizzare una nuova democrazia, piu' trasparente e piu' condivisa "%>
<% content_for :left_panel do %>
<div style="position:fixed; margin-left:7px">
        <div id="navlist" class="well" style="padding: 3px 0">
      <ul class="nav nav-list">
	  <li><h6 class="nav-header">Contenuti</h6></li>

          <li <%if x="attivo"%>class="active"<%end %>><a href="#opensource">Opensource</a></li>
          <li>
            <a href="#partecipare">Partecipa</a>
          </li>
        </ul>
        </div>
	</div>
<% end %>
<h2 id="opensource">Airesis &egrave; aperto a tutti</h2>
<p>Airesis si appoggia su un motore totalmente gratuito ed OpenSource. Puoi partecipare allo sviluppo:</p>
<ul>
  <li>Fruendo della piattaforma e segnalando i bug e gli errori che riscontri </li>
  <li> Contribuendo alla grafica, all'usabilit&agrave; e all'intuitivit&agrave; del sistema </li>
  <li>Programmando l'interfaccia utente della piattaforma (RICHIESTA: Conoscenza di HTML, CSS o Javascript)</li>
  <li> Programmando la piattaforma al lato server (RICHIESTA: Conoscenza del linguaggio Ruby o C/C++ o voglia di imparalo con l'aiuto degli altri volontari) </li>
  <li> Fornendo un contributo economico al progetto o 


  ricercando finanziamenti</li>
  <li>Occupandoti di divulgare il  progetto e curandone la comunicazione </li>
</ul>
<p>A tale scopo stiamo usufruendo dei seguenti strumenti per poter coordinare la nostra attivit&agrave;. Puoi partecipare gi&agrave; da qui: </p>
<ul>
  <li><a href="https://groups.google.com/forum/?fromgroups=#!forum/agora-20" target="_blank">Gruppo di sviluppo su Google Groups</a> </li>
  <li><a href="https://www.facebook.com/groups/airesis/">Gruppo di sviluppo su Facebook </a></li>
  <li><a href="https://github.com/coorasse/DemocracyOnline">Codice sorgente</a></li>
</ul>
<meta itemprop="name" content="Come partecipare al progetto">
<meta itemprop="description" content="Chiunque pu&ograve; contribuire al progetto open-source Agor&agrave; 2.0-Airesis: non &egrave; necessario avere competenze informatiche, le cose da fare sono molte anche per i non programmatori. 

Nel progetto siamo tutti volontari non retribuiti, uniti dalla volont&agrave; di aiutare i cittadini ad organizzarsi in modo trasparente e partecipato facendo rifiorire una democrazia di qualit&agrave;. 

Qui sotto &egrave; elencato ci&ograve; che puoi fare per aiutarci. Seleziona quello che fa al caso tuo, lascia il tuo indirizzo di posta elettronica e fai click su &quot;Submit&quot; (in fondo alla pagina): ti ricontatteremo nel giro di qualche giorno.   ">
<meta itemprop="thumbnailUrl" content="https://docs.google.com/spreadsheet/formthumb?formkey=dFREc0NlUWZlWmh3SlVFMEMxSmhKdUE6MQ">

<meta itemprop="embedUrl" content="https://docs.google.com/spreadsheet/embeddedform?formkey=dFREc0NlUWZlWmh3SlVFMEMxSmhKdUE6MQ">
<meta itemprop="faviconUrl" content="//ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk.png">
<div><h2  id="partecipare">Come partecipare al progetto</h2>
<p></p>
<div >
  <p>Chiunque pu&ograve; contribuire al progetto open-source Agor&agrave; 2.0-Airesis: non &egrave; necessario avere competenze informatiche, le cose da fare sono molte anche per i non programmatori. 
  
Nel progetto siamo tutti volontari non retribuiti, uniti dalla volont&agrave; di aiutare i cittadini ad organizzarsi in modo trasparente e partecipato facendo rifiorire una democrazia di qualit&agrave;.</p>
  <p>Per poter segnalarci la tua partecipazione inserisci la tua email e indicaci in che ambito potresti aiutarci tramite il modulo che trovi a <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFREc0NlUWZlWmh3SlVFMEMxSmhKdUE6MQ#gid=0" target="_blank"><strong>questa pagina</strong></a>, oppure puoi prendere contatto con <strong>Nicola Giulietti</strong> &nbsp;- <a href="mailto:nicolagiulietti@hotmail.it">nicolagiulietti@hotmail.it</a> - cell. 380 2931955 se hai dubbi o necessiti di chiarimenti. </p>
</div>
</div>
