<% @page_title = "Partecipa al progetto per una nuova democrazia" %>
<% @page_descr = "Contribuisci a questo progetto con le tue esperienze, aiutaci a realizzare una nuova democrazia, piu' trasparente e piu' condivisa " %>
<% content_for :left_panel do %>
    <div class="sticky-anchor"></div>
    <div class="sticky">
      <div id='cssmenu'>
        <ul style="border-bottom: none ;">
          <li><a href="#opensource">Opensource</a></li>
          <li><a href="#partecipare">Partecipa</a></li>
          <li><a href="#linkback">Banner</a></li>
        </ul>
      </div>
    </div>
<% end %>

<h2 id="opensource">Airesis &egrave; aperto a tutti</h2>
<p>Airesis si appoggia su un motore totalmente gratuito ed OpenSource. Puoi partecipare allo sviluppo:</p>
<ul>
  <li>Fruendo della piattaforma e segnalando i bug e gli errori che riscontri</li>
  <li> Contribuendo alla grafica, all'usabilit&agrave; e all'intuitivit&agrave; del sistema</li>
  <li>Programmando l'interfaccia utente della piattaforma (RICHIESTA: Conoscenza di HTML, CSS o Javascript)</li>
  <li> Programmando la piattaforma al lato server (RICHIESTA: Conoscenza del linguaggio Ruby o C/C++ o voglia di
    imparalo con l'aiuto degli altri volontari)
  </li>
  <li> Fornendo un <%= link_to 'contributo economico', sostienici_path %> al progetto o ricercando finanziamenti</li>
  <li>Occupandoti di <a href="#linkback">divulgare il progetto</a> e curandone la comunicazione</li>
</ul>
<p>A tale scopo stiamo usufruendo dei seguenti strumenti per poter coordinare la nostra attivit&agrave;. Puoi
  partecipare gi&agrave; da qui: </p>
<ul>
  <li>
    <a href="https://groups.google.com/forum/?fromgroups=#!forum/agora-20" target="_blank">Gruppo di sviluppo su Google
      Groups</a></li>
  <li><a href="https://www.facebook.com/groups/airesis/">Gruppo di sviluppo su Facebook </a></li>
  <li><a href="https://github.com/coorasse/Airesis">Codice sorgente</a></li>
</ul>
<h2 id="partecipare">Come partecipare al progetto</h2>
<p></p>
<div>
  <p>Chiunque pu&ograve; contribuire al progetto open-source Airesis: non &egrave; necessario avere competenze
    informatiche, le cose da fare sono molte anche per i non programmatori.

    Nel progetto <%= link_to 'siamo tutti volontari', chisiamo_path %> non retribuiti, uniti dalla volont&agrave; di
    aiutare i cittadini ad organizzarsi in modo trasparente e partecipato facendo rifiorire una democrazia di qualit&agrave;.</p>

  <p>Per poter segnalarci la tua partecipazione inserisci la tua email e indicaci in che ambito potresti aiutarci
    tramite il modulo che trovi a
    <a href="https://docs.google.com/forms/d/1UJXAIaLYp73XRr_BfvOG-V4Yw9Xf9K0eARNGevtyE1M/viewform" target="_blank"><strong>questa
      pagina</strong></a>, oppure puoi prendere contatto con <strong>Nicola Giulietti</strong> &nbsp;-
    <a href="mailto:nicolagiulietti@hotmail.it">nicolagiulietti@hotmail.it</a> - cell. 380 2931955 se hai dubbi o
    necessiti di chiarimenti. </p>

  Ecco un elenco dei volontari di cui abbiamo bisogno:
  <div class="scheda_ruolo">
    <h3>Developer</h3>
    Lo sviluppatore "interno" scrive codice e fa parte ufficialmente del gruppo di sviluppo di Airesis. <br/>
    Segue le linee guida del progetto e si occupa di portare avanti le attività richieste per implementare le diverse
    funzionalità.<br/>
    Il suo lavoro consisterà nella scrittura di moduli in Ruby, quando ci saranno nuove funzionalità da implementare, o
    nella scrittura di pagine HTML e,
    di conseguenza, CSS e Javascript se si occupa dell'interfaccia utente. <br/>
    Chiunque voglia ricoprire questo ruolo sarà aiutato e guidato dal
    <a href="chisiamo">referente per la programmazione</a> nelle prime fasi
    per poter iniziare agevolmente il proprio lavoro.
  </div>

  <div class="scheda_ruolo">
    <h3>Tester di primo livello</h3>
    Il tester di primo livello è un utente che, auspicabilmente, non ha alcuna conoscenza tecnica informatica
    ed un livello di informatizzazione medio, tale per cui è in grado di navigare in internet in autonomia ed è
    in grado di utilizzare gli strumenti più comuni del web (motori di ricerca, social network, ecc...).<br/>
    Il tester di primo livello rappresenta il cittadino che utilizza l'applicazione: si occupa di segnalare tutte le
    pagine
    e funzionalità del sistema che non si comportano nella maniera in cui si aspetta o che hanno problemi.
  </div>

  <div class="scheda_ruolo">
    <h3>Tester di secondo livello</h3>
    Il tester di secondo livello è un utente con una buona conoscenza informatica per cui è in grado di eseguire
    i test più approfonditi del sistema.<br/>
    Si occupa dei test di sicurezza e forza il sistema al limite, cercando di metterlo sotto stress e riscontrare
    problemi più complessi.
  </div>

  <div class="scheda_ruolo">
    <h3>Grafico</h3>
    Disegna le interfacce utente e fornisce le bozze al gruppo di sviluppo.
  </div>

  <div class="scheda_ruolo">
    <h3>Reclutatore</h3>
    Si occupa della ricerca di nuovi volontari disposti a portare avanti il progetto, di testers,
    nonchè di gruppi disponibili ad utilizzare il software per le loro attività e la verifica del funzionamento delle
    logiche.
  </div>

  <div class="scheda_ruolo">
    <h3>Analista</h3>
    E' l'anello di congiunzione tra gli utenti ed il gruppo di sviluppo. <br/>
    Raccoglie le necessità dei gruppi e dei cittadini e fornisce al gruppo di sviluppo ed al gruppo grafica
    la documentazione necessaria e dettagliata per lo sviluppo di tali servizi.
  </div>


</div>

<%= render :partial => 'linkback' %>
