<% @page_title = "Aiutaci come puoi, ognuno può contribuire"%>
<% @page_descr = "Contribuisci come per realizzare uno strumento capace di evolvere la democrazia "%>
 <h1>Perch&eacute; sostenere Airesis</h1>
<p>  I volontari di questo progetto hanno impegnato (e stanno impegnando) molte 
  ore per allestire uno strumento a servizio dei cittadini e dei gruppi: la 
  loro disponibilit&agrave; &egrave; ripagata unicamente dalla soddisfazione di realizzare 
  qualcosa di utile. Purtroppo per&ograve;, il volontariato non basta: servono fondi 
  per mantenere un'installazione del software aperta a tutti, dove 
  sperimentare le migliorie e le funzionalit&agrave; che stiamo sviluppando. In 
  futuro, inoltre, potr&agrave; essere necessario avvalersi di lavoro retribuito per 
  la manutenzione dell'installazione, poich&eacute; all'aumentare degli utenti, il 
  lavoro risulta pi&ugrave; impegnativo e richiede una costanza che il puro 
  volontariato non pu&ograve; garantire. 
  
  La Democrazia ha bisogno non solo di persone nuove, ma anche di strumenti 
  per organizzarsi meglio e sviluppare nuove idee, cos&igrave; da non replicare 
  modelli improduttivi ed antidemocratici. In molti gruppi, inoltre, le 
  energie dei volontari e dei cittadini non riescono ad essere opportunamente 
  valorizzate, in mancanza di opportuni strumenti. Perci&ograve; contribuire alla 
  sperimentazione di Airesis e aiutarci a migliorare sempre di pi&ugrave; il software 
&egrave; un investimento per valorizzare ci&ograve; che c'&egrave; di pi&ugrave; prezioso: il tuo tempo 
ed il tempo di chi si impegna a servizio degli altri.</p>
<h1>Come donare</h1>
<p>Stiamo procedendo alla creazione di un'Associazione di Promozione Sociale 
  dedicata allo sviluppo di Airesis e al sostegno di progetti similari. In 
  attesa che sia possibile donare direttamente a quest'ultima &egrave; possibile fare 
una donazione attraverso le associazioni che ci appoggiano. Contatta  <a href="mailto:nicolagiulietti@hotmail.it">nicolagiulietti@hotmail.it</a> per maggiori informazioni.</p>
<%= render :partial => 'linkback'%>