<% @page_title = "Aiutaci come puoi, ognuno può contribuire"%>
<% @page_descr = "Contribuisci come per realizzare uno strumento capace di evolvere la democrazia "%>
 <h2>Perch&eacute; sostenere Airesis</h2>
<p>  I volontari di questo progetto hanno impegnato (e stanno impegnando) molte 
  ore per allestire uno strumento a servizio dei cittadini e dei gruppi: la 
  loro disponibilit&agrave; &egrave; ripagata unicamente dalla soddisfazione di realizzare 
  qualcosa di utile. Purtroppo per&ograve;, il volontariato non basta: servono fondi 
  per mantenere un'installazione del software aperta a tutti, dove 
  sperimentare le migliorie e le funzionalit&agrave; che stiamo sviluppando. In 
  futuro, inoltre, potr&agrave; essere necessario avvalersi di lavoro retribuito per 
  la manutenzione dell'installazione, poich&eacute; all'aumentare degli utenti, il 
  lavoro risulta pi&ugrave; impegnativo e richiede una costanza che il puro 
  volontariato non pu&ograve; garantire.</p>
  
  <p>La Democrazia ha bisogno non solo di persone nuove, ma anche di strumenti 
  per organizzarsi meglio e sviluppare nuove idee, cos&igrave; da non replicare 
  modelli improduttivi ed antidemocratici. In molti gruppi, inoltre, le 
  energie dei volontari e dei cittadini non riescono ad essere opportunamente 
  valorizzate, in mancanza di opportuni strumenti. Perci&ograve; contribuire alla 
  sperimentazione di Airesis e aiutarci a migliorare sempre di pi&ugrave; il software 
&egrave; un investimento per valorizzare ci&ograve; che c'&egrave; di pi&ugrave; prezioso: il tuo tempo 
ed il tempo di chi si impegna a servizio degli altri.</p>
<h2>Come donare</h2>
<p>Stiamo procedendo alla creazione di un'Associazione di Promozione Sociale 
  dedicata allo sviluppo di Airesis che possa permetterne il sostentamento. 
  In attesa che sia possibile donare direttamente a quest'ultima &egrave; possibile fare 
una donazione privata attraverso PayPal. 
<form action="https://www.paypal.com/cgi-bin/webscr" method="post", style="text-align: center;">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYANNo4swsHjS2b5gQD6amb+Rz0COvvlTz0ubI3EWIwLrFi01kSUKHNPUdUceH+QEIGAdAY7Dm43iVSlzMl4e91eGDKZLb/hpkms0KPN+XOp7S1z73aiSS43qFEzaUsZRje94XJuPxivi5Erha0lIxsRLnAf8DhxaHDj5qk0icPlHzELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIpw2BesHVoXKAgaA/6yRmv3FjBAV4jjHD1YM59PCq9Z4K+c7tSaJtQIbKVNXiiHsaIwnJdd1+OiL5QzkLR5K64RoDAhS+oqEGqJ4NbViL39wYMuHN4W3Tq+WhoKK0ziwMEni1QeOeeCM6GXNsuzVjS3tImzHPeN0CwxEXlmjXaXw7v6FuaKx+K1K2Dsz+Ys4J5P+S+ATHR2lwoPoR53d4jtyZPZZt++PP+BF9oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTIxMDIxMjEwMTI3WjAjBgkqhkiG9w0BCQQxFgQUCualaehBXYx9yiGipa673RQBD4MwDQYJKoZIhvcNAQEBBQAEgYCuqXfUaeBUaMKW35NVCJ20B2H4IfA7lMCvSlN/rc7Gk2mz8orKkJLYObjbogPZsP/qop2UGsJBIiBORQCdV/qJcO9izw/iRXh57BKGjxv9/jHRHIMjwryEPVL17ZBIB8Ic0Zf55tW6xn59Z3jdl/rN3TZU6kGqSftmK1RQi3c36Q==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" style="border:0px;margin:auto;" name="submit" alt="PayPal - Il metodo rapido, affidabile e innovativo per pagare e farsi pagare.">
<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
</form>
<a href="mailto:info@airesis.it">Contattaci</a> per maggiori informazioni.</p>

<%= render :partial => 'linkback'%>