<% @page_title = "Aiutaci come puoi, ognuno può contribuire" %>
<% @page_descr = "Contribuisci come per realizzare uno strumento capace di evolvere la democrazia " %>
<% content_for :left_panel do %>
    <div class="sticky-anchor"></div>
    <div class="sticky">
      <div id='cssmenu'>
        <ul style="border-bottom: none ;">
          <li><a href="#sostenere">Perché sostenerci</a></li>
          <li><a href="#donare">Donazioni</a></li>
          <li><a href="#linkback">Fai conoscere il progetto</a></li>
        </ul>
      </div>
    </div>

<% end %>
<h2 id="sostenere">Perch&eacute; sostenere Airesis</h2>
<div>
  <div style="float:left;width:78%;">
    <p> I volontari di questo progetto hanno impegnato (e stanno impegnando) molte
      ore per allestire uno strumento a servizio dei cittadini e dei gruppi: la
      loro disponibilit&agrave; &egrave; ripagata unicamente dalla soddisfazione di realizzare
      qualcosa di utile. Purtroppo per&ograve;, il volontariato non basta: servono fondi
      per mantenere un'installazione del software aperta a tutti, dove
      sperimentare le migliorie e le funzionalit&agrave; che stiamo sviluppando. In
      futuro, inoltre, potr&agrave; essere necessario avvalersi di lavoro retribuito per
      la manutenzione dell'installazione, poich&eacute; all'aumentare degli utenti, il
      lavoro risulta pi&ugrave; impegnativo e richiede una costanza che il puro
      volontariato non pu&ograve; garantire.</p>

  </div>
  <div style="float: left;">
    <iframe scrolling="no" width="160" height="250" frameborder="0" allowtransparency="true" src="http://www.buonacausa.org/widget/show/476"></iframe>
  </div>
  <div style="clear: both;"></div>
</div>
<p>La Democrazia ha bisogno non solo di persone nuove, ma anche di strumenti
  per organizzarsi meglio e sviluppare nuove idee, cos&igrave; da non replicare
  modelli improduttivi ed antidemocratici. In molti gruppi, inoltre, le
  energie dei volontari e dei cittadini non riescono ad essere opportunamente
  valorizzate, in mancanza di opportuni strumenti. Perci&ograve; contribuire alla
  sperimentazione di Airesis e aiutarci a migliorare sempre di pi&ugrave; il software
  &egrave; un investimento per valorizzare ci&ograve; che c'&egrave; di pi&ugrave; prezioso: il tuo tempo
  ed il tempo di chi si impegna a servizio degli altri.</p>
<h2 id="donare">Come donare</h2>
<p>E' stata costituita l'Associazione di Promozione Sociale
  <a href="http://www.tecnologiedemocratiche.it/" target="_blank">Tecnologie Democratiche</a>
  al fine di supportare lo sviluppo di Airesis e permetterne il sostentamento.
  La tua donazione sarà interamente devoluta per lo sviluppo e l'hosting della piattaforma.

  Sostienici economicamente al fine di retribuire un programmatore senior e per il mantenimento del server che ospita la nostra applicazione:
  <ul>
  <li>Attraverso un bonifico intestato a: 'Tecnologie Democratiche' IBAN: IT76L0316501600000011758905</li>
  <li>Attraverso una donazione su Paypal:</li>
  </ul>

<div style="text-align: center;">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick" style="border: 0px;"/>
    <input type="hidden" name="hosted_button_id" value="RL58BCGC6TS48" style="border: 0px;"/>
    <input type="image" name="submit" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" alt="PayPal - Il metodo rapido, affidabile e innovativo per pagare e farsi pagare." style="border: 0px;"/>
    <img src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" border="0" alt="" width="1" height="1" style="display: block; margin-left: auto; margin-right: auto;"/>
  </form>
</div>
<a href="mailto:info@airesis.it">Contattaci</a> per maggiori informazioni.</p>


<%= render :partial => 'linkback' %>