<% @page_title = "Una scelta in comune" %>
<% @meta_description = "Un comune che coinvolge i cittadini, un comune che ascolta i cittadini" %>

<div class="slide">
  <div class="row centered">
    <h1><%= @page_title %></h1>
  </div>
</div>
<div class="slide red">
  <div class="row centered">
    <h2 id="why">Perchè Airesis nel vostro Comune</h2>

    <p>Airesis è un software sviluppato in Italia e capace di generare partecipazione attorno alle iniziative del
      Comune,
      consentendo di far emergere le migliori soluzioni sulle questioni presentate alla cittadinanza.
    </p>

    <p>Attraverso le sue funzionalità permette di:</p>
    <ul>
      <li>valutare il consenso da parte dei cittadini sulle iniziative comunali</li>
      <li>portare ingenti risparmi nella promozione di eventi di partecipazione e referendum</li>
      <li>instaurare un dialogo costruttivo fra i cittadini e il Comune</li>
      <li>incentivare la trasparenza e la comunicazione da parte dell’amministrazione</li>
    </ul>
  </div>
</div>
<div class="slide green">
  <div class="row centered">
    <h2>Funzioni presenti in Airesis per l'Amministrazione Comunale</h2>
    <ul>
      <li>Autenticazione e certificazione degli utenti in base all’anagrafe comunale</li>
      <li> Promozione di eventi e gestione della partecipazione</li>
      <li>Pubblicazione di notizie e articoli</li>
      <li>Creazione di mozioni riguardanti proposte, progetti, regolamenti, organizzazione di eventi, scelte di
        candidati e preventivi di spesa
      </li>
      <li>Possibilità di votare su soluzioni multiple ad una proposta</li>
      <li>Possibilità di rendere le proposte pubbliche o visibili solo ad un gruppo ristretto di persone</li>
      <li>Possibilità di creare delle aree di lavoro per commissioni, assessorati, stakeholders, ecc...</li>
      <li>Archivio di documenti</li>
      <li>Forum di discussione</li>
      <li>assegnazione di ruoli e permessi agli utenti per definire facoltà e responsabilità operative in base alle
        esigenze del comune:
        <ul>
          <li>chi può inserire gli eventi</li>
          <li>chi può inserire proposte</li>
          <li>chi può votare le proposte</li>
          <li>chi può inserire contributi e commenti</li>
          <li>chi può visualizzare l’archivio di documenti</li>
          <li>chi può visualizzare le proposte private</li>
          <li>comunicazioni sicure attraverso protocollo https e google authentication</li>
          <li>facoltà di discutere in modo temporaneamente anonimo</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <p>
      Le Pubbliche Amministrazioni potranno usufruire di un loro indirizzo personalizzato, migliorando così la propria immagine istituzionale presso i cittadini:
    </p>
    <h2>nomedelcomune.airesis.it</h2>

    <p>II Comune, controllando gli accessi tramite la propria anagrafe e le funzioni messe a disposizione da Airesis otterrà uno strumento che porterà
      i cittadini a conoscere e partecipare alle iniziative che l'amministrazione comunale stessa vorrà incentivare,
      favorendo il consenso e senza gravare sulla spesa pubblica.
    </p>

    <p>
      Alcuni comuni hanno già iniziato la sperimentazione, siate fra i primi a sfruttare le
      potenzialità di Airesis, i cittadini sapranno apprezzare questa iniziativa.
    </p>
    <p>
      Airesis è sostenuto mediante donazioni liberali devolute verso l'Associazione di Promozione Sociale "Tecnologie Democratiche",
      che seguirà la vostra eventuale richiesta e vi guiderà nell'attivazione del software e nell'assistenza.
    </p>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h2>Contatti</h2>

    <p>
      Nicola Giulietti<br/>
      Presidente Associazione ‘Tecnologie Democratiche’<br/>
      Email: nicolagiulietti@hotmail.it<br/>
      Tel: +393802931955
    </p>

    <p>
      Alessandro Rodi<br/>
      Head Developer Airesis - Scegli di Partecipare<br/>
      Email: alessandro.rodi@airesis.it<br/>
      Tel: +41786521715<br/>
    </p>

    <p>
      Marino Tilatti<br/>
      Responsabile Comunicazione Airesis - Scegli di Partecipare<br/>
      Email: marino.tilatti@airesis.it<br/>
      Tel: +39-3493003944<br/>
    </p>

  </div>
</div>


