<% @page_title = "Rassegna stampa" %>   <!--TODO:I18n -->

<div class="row">
  <div class="row centered">
<h2 id="opensource">Rassegna stampa</h2> <!--TODO:I18n -->

<ul>
  <li><a href="http://www.opinione.it/web/2013/06/18/alessandrini_web-18-06.aspx" target="_blank">18 Giugno 2013 - State of the Net: verso la eDemocracy</a></li>
  <li><a href="http://www.romatoday.it/politica/elezioni/provincia-roma-comunali-2013/intervista-fabiola-velli-candidato-movimento-5-stelle-fiumicino.html" target="_blank">14 Maggio 2013 - Fabiola Velli (M5s): "Bloccare su Fiumicino la costruzione di quattro ecomostri"</a></li>
  <li><a href="http://www.corriere.it/politica/13_aprile_22/m5s-piattaforma-democrazia-liquida-votazioni-online-problema-trasparenza_4e08ab82-ab41-11e2-8dd6-b5ff5800dec2.shtml" target="_blank">22 Aprile 2013 - Quanti voti ha preso Rodotà alle Quirinarie? La democrazia liquida fa discutere il M5S</a></li>
  <li><a href="http://www.repubblica.it/tecnologia/2013/04/21/news/m5s_piattaforma_per_la_democrazia_online_ecco_airesis_al_via_il_23_maggio-57157303/" target="_blank">21 Aprile 2013 - M5s, piattaforma per la democrazia online: si chiama Airesis, al via il 23 maggio</a></li>
  <li><a href="http://www.lanazione.it/firenze/cronaca/2013/04/20/876723-nuovo_software_movimento_stelle.shtml" target="_blank">20 Aprile 2013 - Un nuovo software per il Movimento 5 stelle</a></li>
  <li><a href="http://espresso.repubblica.it/dettaglio/grillo-e-il-rebus-della-piattaforma/2204364" target="_blank">9 Aprile 2013 - Grillo e il rebus della piattaforma</a></li>
  <li><a href="http://www.melty.it/airesis-m5s-copyright-democrazia-diretta-a109805.html" target="_blank">26 Marzo 2013 - Airesis, l'M5S non ha il copyright della democrazia diretta</a></li>
  <li><a href="http://ctzen.it/2013/03/13/progetto-airesis-la-democrazia-e-in-rete-la-piattaforma-libera-del-m5s-e-non-solo/" target="_blank">13 Marzo 2013 - Progetto Airesis, la democrazia è in Rete. La piattaforma libera del M5s e non solo</a></li>
  <li><a href="http://daily.wired.it/news/politica/2013/02/19/m5s-airesis-40321.html" target="_blank">19 Febbraio 2013 - Movimento 5 Stelle, la piattaforma che sostituisce LiquidFeedback</a></li>
</ul>
    </div>
</div>