var _privacy_container = $('<div id="privacy_modal"  class="reveal-modal medium" data-reveal></div>');
_privacy_container.html("<%= j render(:partial => 'devise/registrations/privacy')%>");
$('body').append(_privacy_container);
$("#privacy_modal").foundation('reveal', 'open');