var _privacy_container = $('<div id="privacy_modal" title="<%=escape_javascript t('words.privacy_policy') %>"></div>');
_privacy_container.html("<%= escape_javascript(render(:partial => 'devise/registrations/privacy'))%>");
$('body').append(_privacy_container);
_privacy_container.dialog({ height: 250, width: 450, modal: true});
$('.privacy_link').click(function (e) {
    _privacy_container.dialog('open');
    e.preventDefault();
    return false;
});