<% @page_title = "Road Map e futuri sviluppi "%>
<% @page_descr = "Il nostro percorso per realizzare un nuovo software, una idea nata con internet capace di far evolvere la democrazia. "%><h2  id="strumento">Destinazione: la democrazia elettronica</h2>
<p>Airesis nasce dall'incontro di un progetto avviato oltre due anni fa denominato Agora 2.0 a seguito della necessit&agrave; di usufruire di uno strumento informatico che potesse integrare le funzioni principali di social network, gestione di eventi, forum e votazione, gi&agrave; esistenti se prese singolarmente, ma mai presenti contemporaneamente in alcun software.</p>
<p>La nostra missione &egrave; ambiziosa, ma sappiamo che &egrave; possibile realizzarla con gli strumenti giusti, passo dopo passo.</p>
<p>Grazie alla nostra determinazione quello che sembrava un sogno di libert&agrave;, ha trovato il supporto di numerose persone e finalmente il sostegno di programmatori, analisti, matematici, grafici e cittadini responsabili &egrave; riuscito a tracciare un percorso per la messa online di Airesis entro gennaio 2013. Successivamente saranno previste ulteriori release del software a cadenza mensile o bimestrale per soddisfare le richieste e le esigenze degli utenti, nell'ottica del miglioramento continuo.</p>
<p><strong>Gennaio 2013</strong> - data ultima per l'uscita di una nuova versione del software con nuove funzioni, tra cui:</p>
<ul>
  <li>Log delle operazioni degli amministratori</li>
  <li>Possibilit&agrave; di invitare alla discussione di una proposta i propri contatti facebook, google mail o su altri social network</li>
  <li>Url significativi per le pagine</li>
  <li>Miglioramento e ampliamento dei metodi di votazione delle proposte</li>
</ul>
<p><strong>Novembre 2012</strong> - Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:</p>
<ul>
  <li>Miglioramento della scrivania dell'utente e del profilo utente</li>
  <li>Gestione di competenze nei gruppi</li>
</ul>
<p><strong>Ottobre 2012</strong> - Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:</p>
<ul>
  <li>Connessione tramite HTTPS</li>
  <li>Miglioramento della struttura e della grafica della pagina di elaborazione delle proposte</li>
  <li>Maggiore integrazione con i social network</li>
</ul>
<p><strong>Fine settembre 2012</strong> - Inizia la fase di sperimentazione della nuova versione del software da parte di alcuni gruppi. Tutti coloro che lo desiderano possono testare il software all'indirizzo <a href="http://www.airesis.it/">http://www.airesis.it/</a> , segnalare bug e suggerire miglioramenti al sistema.</p>
<p><strong>Settembre 2012</strong> - La struttura di Airesis viene rivoluzionata dall'introduzione di uno spazio per le proposte e di un calendario all'interno dei gruppi. Miglioramento dello strumento di forum (con la possibilit&agrave; di gestire anche dibattiti anonimi), miglioramento della grafica, correzione di alcuni bug.</p>
<p><strong>Luglio 2012</strong> - Fusione del progetto Agor&agrave; 2.0 e del progetto Airesis</p>
<p><strong>Giugno 2012</strong> - Esce una versione di Airesis in parte ispirata alle logiche di Agor&agrave; 2.0</p>
<p><strong>Febbraio 2012</strong> - Il progetto Agor&agrave; 2.0 ed Airesis entrano in contatto</p>
<p><strong>Gennaio 2012</strong> - Una primissima versione della piattaforma Airesis viene messa on line, nel progetto Agor&agrave; 2.0 si assiste al completamento dei principali mockup ad opera del gruppo grafica e alla messa a punto della piattaforma di sviluppo.</p>
<p><strong>Autunno 2011</strong> - Costituzione di un gruppo di lavoro dedicato allo studio dell'interfaccia grafica e di un gruppo di lavoro per la programmazione di Agor&agrave; 2.0.</p>
<p><strong>Estate 2011</strong> -  Completamento dello studio delle logiche di Agor&agrave; 2.0 e degli aspetti grafici pi&ugrave; rilevanti e definizione dei casi d'uso (una sintesi &egrave; presentata qui <a href="http://agora20.altervista.org/%20Informativa_Agora2punto0.pdf" target="_blank">http://agora20.altervista.org/ Informativa_Agora2punto0.pdf</a> e qui <a href="http://www.slideshare.net/%20agora20/progettoagor2punto0" target="_blank">http://www.slideshare.net/ agora20/progettoagor2punto0</a> ). Intanto, Alessandro Rodi, ancora non in contatto con il progetto Agor&agrave; 2.0, avvia indipendentemente la programmazione di Airesis, un portale per l'e-democarcy.</p>
<p><strong>Autunno 2010</strong>- Avvio dello studio delle logiche di Agor&agrave; 2.0</p>
<p><strong>Estate 2010</strong> - Avvio dello studio delle esperienze di e-democracy presenti nel mondo ed attivazione di relazioni con alcune di esse (a partire da quelle italiane)</p>
<p><strong>Primavera 2010</strong> - Avvio, nell'ambito del progetto Agor&agrave; 2.0, del dibattito su un nuovo strumento di e-democracy open source adatto a gestire anche l'elaborazione di proposte nell'ambito di un gruppo</p>
<p><br>
</p>
