<% @page_title = t('home.roadmap.title') %>
<% @meta_description = t('home.roadmap.description') %>

<div class="row">
  <div class="row centered">
    <h2 id="strumento"><%= t('.paragraph1.title') %></h2>
    <%= t('.paragraph1.content_html') %>
  </div>
</div>
<div class="row">
  <div class="row centered">
    <h2 id="strumento"><%= t('.paragraph2.title') %></h2>
    <%= t('.paragraph2.content_html') %>

    TODO
  </div>
</div>
