<% @page_title = "A scuola di EDemocracy" %>
<% @meta_description = "Portare strumenti di edemocracy e partecipazione nelle scuole è il nostro obiettivo." %>

<div class="slide">
  <div class="row centered">
<h1><%= @page_title %></h1>
    </div>
  </div>
<div class="slide red">
  <div class="row centered">
    <h2 id="why">Perchè Airesis nella vostra scuola</h2>

    <p>Airesis è un software sviluppato in Italia e capace di creare partecipazione al fine di promuovere la
      collaborazione tra docenti e studenti all'interno di un Istituto Scolastico.
    </p>

    <p>Attraverso le sue funzionalità permette di:</p>
    <ul>
      <li>portare ingenti risparmi nella promozione di eventi di partecipazione</li>
      <li>instaurare un dialogo costruttivo fra tra docenti e studenti</li>
      <li>incentivare la trasparenza e la comunicazione da parte dell’Istituto verso le famiglie</li>
      <li>Dare voce agli studenti e alle loro inziative</li>
      <li>Redigere regolamenti e programmi in maniera condivisa</li>
      <li>Organizzare le assemblee di classe, i regolamenti e gli ordini del giorno</li>
      <li>Eleggere i rappresentanti di classe in maniera democratica e innovativa</li>
      <li>Organizzare eventi e pubblicizzarli sui Social Network</li>
      <li>Promuovere l'innovazione e la cultura della partecipazione nelle scuole</li>
    </ul>

  </div>
</div>
<div class="slide green">
  <div class="row centered">
    <h2>Funzioni presenti in Airesis per l’Istituto Scolastico</h2>
    <ul>
      <li>Autenticazione e certificazione degli utenti in base ai registri e alle base dati a disposizone dell’Istituto
      <li>Promozione di eventi e gestione della partecipazione
      <li>Pubblicazione di annunci e circolari sulla bacheca dell’Istituto
      <li>Archivio di documenti
      <li>Forum di discussione
      <li>Permessi gestibili per adattare le funzioni alle esigenze dell’istituto:
        <ul>
          <li>chi può inserire gli eventi
          <li>chi può inserire proposte
          <li>chi può votare le proposte
          <li>chi può inserire contributi e commenti
          <li>chi può visualizzare l’archivio di documenti
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <h2>Prenota Airesis per la tua Scuola!</h2>
    <p>La scuola, tramite le funzioni messe a disposizione da Airesis, otterrà uno strumento che porterà gli studenti e le famiglie a conoscere
      e partecipare alle iniziative che l'istituto vorrà promuovere, favorendo il consenso,
      senza aggravi sulle tasche degli studenti e con possibili riduzioni dei costi e dei tempi!
    </p>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h2>Contatti</h2>
    <p>
    Alessandro Rodi<br/>
    Head Developer Airesis - The Social Network for E-Democracy<br/>
    Email: 	coorasse@gmail.com<br/>
    Tel: 	+41779877458<br/>
    </p>
  </div>
</div>


