<% @page_title = "Il primo social network di E-Democracy in Italia" %>
<% @page_descr = "Uno strumento di democrazia diretta nato per decidere e deliberare collettivamente su proposte e idee nate ovunque per qualsiasi tema. " %>

<div class="slide red" xmlns="http://www.w3.org/1999/html">
  <div class="row centered">
    <h1 id="prossime_implementazioni">Storia del progetto</h1>

    <p>Grazie alla determinazione dei volontari, quello che sembrava un sogno di libertà, ha trovato il supporto di
      numerose
      persone e finalmente il sostegno di programmatori, analisti, matematici, grafici e cittadini responsabili è
      riuscito a
      tracciare un percorso perchè Airesis potesse partire a Gennaio 2013.</p>

    <p>Di seguito gli eventi salienti che hanno permesso la nascita del progetto:</p>
  </div>
</div>
<div class="slide green">
  <div class="row centered">
    <h2>Maggio 2013 - Versione 3.0</h2>
    <ul>
      <li>Introduced forums for each group with a mailing-list like feature!</li>
      <li>Removed elections feature</li>
      <li>New proposals list design with more filters and search tools</li>
      <li>Introduced gamification and user statistics</li>
      <li>@cite feature in proposal discussions with anonimity activated</li>
      <li>Redesign of propsoal creation wizard</li>
      <li>Improved proposal editing</li>
      <li>New RichTextEditor! Now we use CKEditor instead of TinyMCE</li>
      <li>New groups wall with informations about recent activities</li>
      <li>Added possibilty to comment events and like other people comments</li>
      <li>Revised tutorials for new users</li>
      <li>You can now synchronize the group calendar with your Google Calendar</li>
      <li>RSS Atom Feed for blogs and groups</li>
    </ul>
  </div>
</div>
<div class="slide violet">
  <div class="row centered">
    <h2>Maggio 2013 - Versione 2.0</h2>
    <ul>
      <li>Grafica totalmente rinnovata!</li>
      <li>Gestione libera dei paragrafi delle proposte</li>
      <li>Possibilità di inserire i contributi “in riferimento ad un paragrafo specifico”</li>
      <li>Possibilità di indicare i contributi inclusi durante una modifica del testo</li>
      <li>Visualizzazione dei contributi inclusi nella history della proposta</li>
      <li>Nuova visualizzazione del gradimento nei contributi e possibilità di modificare la propria valutazione dopo l’inserimento di un suggerimento     </li>
      <li>Migliorato il servizio di notifiche via email ed in generale l’organizzazione delle notifiche</li>
      <li>Possibilità di segnalare un contributo come spam o indicarlo come “non utile alla discussione”</li>
      <li>Possibilità di generare un report in pdf della proposta una volta conclusa</li>
      <li>Meccanismo di caching per le pagine più visitate</li>
      <li>Molte correzioni e controlli di sicurezza aggiuntivi</li>
      <li>Caricamento immagini per i gruppi</li>
      <li>Nuovo pulsante di invio feedback</li>
    </ul>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
    <h2>Gennaio 2013 - Versione 1.0</h2>
    <ul>
      <li>Migliorata la gestione delle proposte</li>
      <li>Quorum personalizzati</li>
      <li>Miglioramenti grafici</li>
      <li>Condivisione dei contenuti sui social network</li>
    </ul>
  </div>
</div>
<div class="slide blue">
  <div class="row centered">
    <h2>Novembre 2012</h2>

    <p>
      Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:
    <ul>
      <li>Miglioramento della scrivania dell'utente e del profilo utente</li>
    </ul>
    <ul>
      <li>Miglioramento della struttura e della grafica della pagina di elaborazione delle proposte</li>
      <li>Maggiore integrazione con i social network</li>
    </ul>
    </p>
  </div>
</div>
<div class="slide green">
  <div class="row centered">

    <h2>Fine settembre 2012</h2>

    <p>
      Inizia la fase di sperimentazione della nuova versione del software da parte di alcuni gruppi.<br/>
      Tutti coloro che lo desiderano possono testare il software all'indirizzo
      <a href="http://www.airesis.it/">http://www.airesis.it/</a>, segnalare bug e suggerire miglioramenti al sistema.
    </p>
  </div>
</div>
<div class="slide violet">
  <div class="row centered">
    <p>Settembre 2012 <br/>
      La struttura di Airesis viene rivoluzionata dall'introduzione di uno spazio per le proposte e di un calendario
      all'interno dei gruppi. Miglioramento dello strumento di forum (con la possibilità di gestire anche dibattiti
      anonimi), miglioramento della grafica, correzione di alcuni bug.</p>

    <p>Luglio 2012 <br/>
      Fusione del progetto Agorà 2.0 e del progetto Airesis</p>

    <p>Giugno 2012 <br/>
      Esce una versione di Airesis in parte ispirata alle logiche di Agorà 2.0</p>

    <p>Febbraio 2012 <br/>
      Il progetto Agorà 2.0 e Alessandro Rodi, sviluppatore della prima versione di Airesis entrano in contatto</p>

    <p>Gennaio 2012 - Alessandro Rodi sviluppa una primissima versione della piattaforma Airesis che viene messa on
      line,
      contemporaneamente nel progetto Agorà 2.0 si assiste al completamento dei principali mockup ad opera del gruppo
      grafica e alla messa a punto della piattaforma di sviluppo.</p>

    <p>Autunno 2011 <br/>
      Costituzione di un gruppo di lavoro dedicato allo studio dell'interfaccia grafica e di un gruppo di lavoro per la
      programmazione di Agorà 2.0.</p>

    <p>Estate 2011 <br/>
      Completamento dello studio delle logiche di Agorà 2.0 e degli aspetti grafici più rilevanti e definizione dei casi
      d'uso (una sintesi è presentata qui
  <span class="c16"><a href="http://agora20.altervista.org/%20Informativa_Agora2punto0.pdf">http://agora20.altervista.org/
    Informativa_Agora2punto0.pdf</a>  e qui </span><span class="c16"><a href="http://www.slideshare.net/%20agora20/progettoagor2punto0">http://www.slideshare.net/
      agora20/progettoagor2punto0</a>  ). Intanto, Alessandro Rodi, ancora non in contatto con il progetto Agorà 2.0, avvia indipendentemente la programmazione di Airesis, un portale per l'e-democarcy.</span>
    </p>

    <p>Autunno 2010 <br/>
      Avvio dello studio delle logiche di Agorà 2.0</p>

    <p>Estate 2010 <br/>
      Avvio dello studio delle esperienze di e-democracy presenti nel mondo ed attivazione di relazioni con alcune di
      esse
      (a partire da quelle italiane)</p>

    <p>Primavera 2010 <br/>
      Avvio, nell'ambito del progetto Agorà 2.0, del dibattito su un nuovo strumento di e-democracy open source adatto a
      gestire anche l'elaborazione di proposte nell'ambito di un gruppo</p>
  </div>
</div>
<div class="slide">
  <div class="row centered">
    <h3 id="roadmap">Roadmap</h3>

    <p>Per conoscere l'evoluzione di Airesis a partire dalla versione 1.0 e le novità previste per le versioni future,
      visita <%= link_to 'questa pagina', roadmap_path%>.</p>
  </div>
</div>



