<div class="slide violet">
  <div class="row centered">
    <h2 id="Specifiche_tecniche"></a>Specifiche tecniche</h2>
    Prima di cominciare lo sviluppo di Airesis sono state valutate una serie di opzioni che permettessero alla futura
    piattaforma le seguenti caratteristiche:
    <ul>
      <li>Rapidità di Sviluppo</li>
      <li>Scalabilità delle Risorse</li>
      <li>Migrabilità del DataBase</li>
      <li>Sicurezza e Privacy</li>
      <li>Open Source e Trasparenza</li>
      <li>Interfaccia semplice e Intuitività</li>
    </ul>
    <p>al fine di poter venire incontro a tutte queste esigenze si è scelto di adottare delle soluzioni tecniche
      innovative
      e all’avanguardia.</p>
  </div>
</div>
<div class="slide green">
  <div class="row centered">
    <h3 id="Sicurezza"></a>Sicurezza e privacy</h3>
    Airesis è ospitato su server professionali sicuri e gestito da sistemisti fidati, i dati sono conservati nel
    rispetto della privacy e protetti da firewall. La licenza AGPL inoltre permette a chiunque di scaricare il codice e
    analizzarlo. E’ prevista l’autenticazione sicura mediante LDAP e/o mediante altri standard (google authentication).
    Nel caso di voto segreto è possibile verificare la propria votazione mediante il sistema di auditable voting. La
    connessione con il server è cifrata mediante protocollo SSH e le password salvate nel database sono criptate con
    algoritmo SHA1.
    <h3 id="hosting"></a>Scelta dell’hosting e caratteristiche</h3>
    La scelta del l'hosting è importante e deve fornire tutti gli strumenti per "far girare" Airesis nella maniera più
    adeguata. La configurazione migliore per un ambiente con centinaia di utenti prevede l'utilizzo di Apache e Phusion
    Passenger per la gestione delle istanze dell'application server.
    <p>È necessario disporre di Ruby 1.9 e Rails 3.1 per eseguire l'applicazione web.</p>

    <p>Come database è consigliato Postgresql 9 con estensioni PostGIS e Redis Server.</p>

    <p>La potenza del server sarà in funzione del carico di lavoro da sostenere. Attualmente airesis.it, con un migliaio
      di
      utenti occupa circa 10Gb di disco e 1Gb di memoria, con un carico giornaliero di rete di circa 1Gb.</p>

    <h3 id="Releases"></a>Releases</h3>
    I rilasci di Airesis avvengono costantemente e frequentemente circa ogni 30 giorni per le main releases, ogni 15
    giorni per le minor releases e settimanalmente per i bug fixing.
    <h3 id="Piattaforma"></a>Piattaforma di sviluppo</h3>
    La piattaforma di sviluppo consigliata ed utilizzata dal team principale di Airesis è RedMine. La piattaforma è la
    più completa e flessibile al momento disponibile sul mercato. Il team di sviluppo dispone di una licenza gratuita
    offerta dalla JetBrain per lo sviluppo di progetti Open Source. Chi entra a far parte del team di sviluppo verrà
    dotato di ambiente con licenza gratuita per poter sviluppare nella maniera più agevole.
    <h3 id="Bug_tracking"></a>Bug tracking</h3>
    Il sistema di bugtraking di Airesis è attualmente in fase di sperimentazione e non disponibile pubblicamente.
    <h3 id="Scalabilita"></a>Scalabilità</h3>
    La scalabilità è un fattore molto importante per un'applicazione di democrazia diretta che può potenzialmente
    raggiungere le centinaia di migliaia di utenti. Per questo motivo il framework scelto è stato RubyOnRails sul quale
    sono basati molti siti di successo (in termini di numero di utenze) come Groupon e Twitter (recentemente passato a
    Java).
    <h3 id="Gruppo_sviluppo"></a>Gruppo di sviluppo</h3>
    Il gruppo di sviluppo è formato dai volontari dell'associazione Tecnologie Democratiche e da due programmatori con
    un contratto di collaborazione per lo sviluppo delle funzionalità più lunghe e complesse.
  </div>
</div>

