<% @page_title = "Il primo social network di E-Democracy in Italia"%>
<% @page_descr = "Uno strumento di democrazia diretta nato per decidere e deliberare collettivamente su proposte e idee nate ovunque per qualsiasi tema. "%>
<% content_for :left_panel do %>
<div style="position:fixed; margin-left:7px">
  <div id='cssmenu'>
    <ul style="border-bottom: none ;">
      <li class='has-sub'><a href='#edemocracy'><span>Un social network per la E-Democracy</span></a>
        <ul>
        <li ><a href='#slideshow'><span>Slideshow di presentazione</span></a></li>
        <li ><a href='#principi'><span>Princìpi e valori fondanti</span></a></li>
        <li ><a href='#Obiettivo'><span>Obiettivo</span></a></li>
      </ul></li>

      <li class='has-sub'><a href='#caratteristiche_funzioni'><span>Caratteristiche e funzioni</span></a>
        <ul>
          <li ><a href='#funzioni_base'><span>Funzioni di base</span></a></li>
          <li ><a href='#strumento_proposte'><span>Strumento proposte e dibattito</span></a></li>
          <li ><a href='#votazione'><span>Votazione con metodo Schultze</span></a></li>
          <li ><a href='#Anonimato_temporaneo'><span>Anonimato temporaneo</span></a></li>
          <li ><a href='#Elezioni'><span>Elezioni e ruoli</span></a></li>
          <li ><a href='#Sistema_Reputazione'><span>Sistema di Reputazione</span></a></li>
        </ul>
      <li class='has-sub'><a href='#descrizione_operativa'><span>Descrizione operativa</span></a>
        <ul>
          <li ><a href='#Home_page'><span>Home page</span></a></li>
          <li ><a href='#Gruppi'><span>Gruppi</span></a></li>
          <li ><a href='#Spazio_comune'><span>Spazio comune</span></a></li>
          <li ><a href='#Domande_Frequenti'><span>Domande_Frequenti</span></a></li>
          <li ><a href='#Migrazione_Meetup'><span>Migrazione da Meetup</span></a></li>
        </ul>
      </li>
      <li class='has-sub'><a href='#Storia_prospettive'><span>Storia e prospettive</span></a>
        <ul>
          <li ><a href='#democrazia_elettronica'><span>Destinazione edemocracy</span></a></li>
          <li ><a href='#prossime_implementazioni'><span>Prossime implementazioni</span></a></li>
        </ul>
      </li>
      <li class='last'><a href='#Specifiche_tecniche'><span>Specifiche tecniche</span></a>
        <!--<ul>
          <li ><a href='#hosting'><span>Scelta dell’hosting</span></a></li>
          <li ><a href='#Releases'><span>Releases</span></a></li>
          <li ><a href='#Piattaforma'><span>Piattaforma di sviluppo</span></a></li>
          <li ><a href='#Bug_tracking'><span>Bug tracking</span></a></li>
          <li ><a href='#Scalabilita'><span>Scalabilità</span></a></li>
          <li ><a href='#Gruppo_sviluppo'><span>Gruppo di sviluppo</span></a></li>
        </ul> -->
      </li>
    </ul>
  </div>
</div>
<% end %>


<h2 id="edemocracy" >Un social network per l'E-Democracy</h2>

Airesis è una piattaforma software libera sviluppata interamente da un team di sviluppo italiano e studiata da numerosi analisti per promuovere comunità/gruppi secondo i principi della democrazia diretta e partecipata. A tal scopo, la piattaforma è stata pensata come un sistema multifunzionale, che integra tutti gli strumenti web che possono servire allo sviluppo di una comunità, in particolare strumenti "social" e strumenti deliberativi.
Gli strumenti "social" comprendono dei blog e un sistema di promozione di eventi/incontri con calendarizzazione; mentre gli strumenti deliberativi comprendono aree per la raccolta e la delibera di proposte/iniziative e un sistema di votazione di candidati. Tra le caratteristiche salienti di questa piattaforma, c'è la possibilità di creare liberamente gruppi/comunità ristrette a partire dalla comunità complessiva.
<h3  id="slideshow">Slideshow di presentazione</h3>
<iframe src="https://docs.google.com/presentation/d/1U2w96q28GhIDCoL0hgwvnigUC_xANbl8FCmfPriq4QI/embed?start=true&loop=false&delayms=5000" frameborder="0" width="770" height="620" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

  <h3 id="principi">Princìpi e valori fondanti</h3>

‘Airesis’ in antica grecia significava ‘scelta consapevole’ e in sintonia con il primo spirito di democrazia diretta vuole essere la via che finalmente faccia emergere la volontà di &nbsp;partecipare per costruire consensualmente una società più giusta e a misura d’uomo.

Airesis è uno strumento decisionale open source, sviluppato interamente da volontari &nbsp;e senza scopo di lucro, nato per rendere più veloci, condivise e partecipate le deliberazioni relative a delle proposte pubblicate online, basato sui seguenti principi:
<ul>
  <li>
    <b>Partecipazione</b> <br/>
    Coinvolgere i cittadini significa avere a disposizioni più energie, più punti di vista. Solo attraverso la partecipazione diretta è possibile approfondire i problemi, cambiare idea, comprendere cosa si vuole veramente. La partecipazione è l’essenza di decisioni rappresentative.
  </li>
</ul>
<ul>
  <li>
    <b>Trasparenza e Sicurezza</b><br/>
    Senza trasparenza le regole possono essere facilmente aggirate e la democrazia degenera in fretta. Trasparenza significa anche apertura, capacità di accogliere: per questo Airesis consente anche agli utenti non registrati di visionare i contenuti del sito.
  </li>
</ul>
<ul>
  <li>
    <b>Dialogo costruttivo</b><br/>
    Nessuno ha in tasca tutte le risposte giuste, altrimenti non vi sarebbe bisogno di democrazia. Con opportuni strumenti, elaborare idee a più mani può risultare molto più produttivo che farlo da soli.
  </li>
</ul>
<ul>
  <li>
    <b>Pari opportunit&agrave;</b><br/>
    Insteso come eguaglianza effettiva di possibilità. Senza tale equità ogni democrazia è un po’ un’oligarchia.
  </li>
</ul>
<ul>
  <li>
    <b>Flessibilit&agrave;</b><br/>
    Ogni gruppo ha le proprie necessità, ogni proposta è diversa dalle altre, ogni utente ha le proprie esigenze.
  </li>
</ul>

 <h3 id="Obiettivo"><span>Obiettivo: la democrazia diretta e partecipata</span></h3>
  <span>Strutturato come un social network permette di coinvolgere le persone in base ai propri interessi e di sfruttare le doti di ciascuno per deliberare in modo consensuale su qualsiasi tipo di proposta. L’architettura e i suoi valori fondanti permettono quindi alla piattaforma di perseguire gli obiettivi di aggregazione sociale e dibattito costruttivo su temi che possono coinvolgere il territorio, la promozione sociale, le politiche di settore e di far emergere le migliori idee basandole sul merito. &nbsp;</span>
<p ><span>Airesis si è sviluppata come piattaforma software multifunzione e si propone di offrire gli strumenti per:</span></p>
<ul  >
  <li ><span>promuovere le idee e le esperienze dei singoli membri;</span></li>
  <li ><span>raccogliere le iniziative/proposte dei singoli e presentarle alla comunità;</span></li>
  <li ><span>dare strumenti per il dibattito sulle varie iniziative;</span></li>
  <li ><span>promuovere la modifica condivisa delle proposte, in modo che possano essere accettabili dalla maggioranza;</span></li>
  <li ><span>gestire la votazione delle varie iniziative/proposte;</span></li>
  <li ><span>promuovere eventi generici o riunioni;</span></li>
  <li ><span>gestire delle candidature e le relative votazioni;</span></li>
  <li ><span>gestire dei sotto-gruppi ristretti, dandogli gli stessi strumenti disponibili per la comunità generale.</span></li>
</ul>

<h2 id="caratteristiche_funzioni"><span>Caratteristiche e funzioni</span></h2>
<p ><span>Il team di sviluppo di Airesis realizza le funzioni e gli strumenti in base alle esigenze dei gruppi che fruiscono della piattaforma. Lo stesso gruppo di sviluppo è presente su Airesis e decide consensualmente le future implementazioni, le migliorie agli strumenti e le misure da intraprendere per trovare le soluzioni alle problematiche che via via si presentano.</span></p>
<p ><span>La struttura attuale permette all’utente registrato di appartenere ad uno spazio comune , di iscriversi ad uno dei gruppi &nbsp;già presenti oppure di costituirne uno nuovo. Sia nei gruppi che nello spazio comune è possibile pubblicare iniziative/proposte , valutarle , redigerne una sintesi &nbsp;condivisa e quindi votarle . Sempre negli stessi ambiti è possibile creare degli eventi riguardanti incontri , votazioni &nbsp;ed &nbsp;elezioni .</span></p>

<h3 id="funzioni_base"><span>Funzioni di base</span></h3>
<ul >
  <li ><span >Iscrizione alla piattaforma<br> da qualsiasi pagina o anche a seguito alla scrittura di un commento o di un intervento. E’ possibile accedere con Facebook, Google +, Meetup e altri</span></li>
  <li ><span >Presenza di uno spazio pubblico e di uno spazio privato dei gruppi  &nbsp;( <a   href="http://youtu.be/n_ZruAcNkVk">http://youtu.be/n_ZruAcNkVk</a> ):<br>La registrazione consente di appartenere ad uno spazio comune, di iscriversi ad uno dei gruppi già presenti oppure di costituirne uno nuovo</span></li>
  <li ><span >Inserimento proposte e dibattito<br> Sia nei gruppi che nello spazio comune è possibile pubblicare iniziative/proposte e raccogliere dei contributi, commenti e valutazioni al fine di redigere una sintesi condivisa della proposta che possa raccogliere più consenso possibile</span></li>
  <li ><span >Quorum e votazione proposte <br>Ad ogni proposta è assegnato un quorum al fine di incentivare la partecipazione e portare a maturazione le soluzioni trovate. La successiva votazione avviene per preferenza in base al metodo Schultze.</span></li>
  <li ><span >Gestione eventi <br>E’ possibile inserire eventi riguardanti le riunioni, le votazioni, gli incontri e le elezioni dei candidati all’interno dei gruppi o nello spazio comune.</span></li>
  <li ><span >Newsletter &nbsp;su eventi e novità della piattaforma</span></li>
  <li class="c2 c6"><span >Sondaggi  sia interni che esterni con votazione Schulze</span></li>
  <li ><span >Apps per mobile</span></li>
</ul>

<h3 id="strumento_proposte"></a><span>Strumento proposte e dibattito</span></h3>
<p ><span>Il cuore del software sta nello strumento deliberativo  che consente di &nbsp;partecipare alla stesura di un a proposta, di fissare un obiettivo comune, di contribuire alla ricerca di soluzioni alternative e di portare in votazione il risultato di questo lavoro in modo che la proposta possa ricevere più consenso possibile e possa emergere la soluzione migliore e più condivisa.</span></p>
<p ><span>Oggi, l'iter prevede 3 fasi:</span></p>
<ul   >
  <li ><span>l'autore compone la proposta &nbsp;secondo una procedura guidata (Obbiettivo, Proposta, documenti a sostegno, quorum e modello di proposta); con l'immissione del form compilato, il sistema pubblica nella sezione/stato "in dibattito " la proposta, dove permane in attesa di ricevere sostegno, consigli e critiche. Durante questo periodo la proposta può essere corretta dagli autori in base alle valutazioni dei contributi apportati;</span></li>
  <li ><span>al raggiungimento del quorum, la proposta passa alla sezione/stato "in votazione " durante questo periodo il testo della proposta non è più modificabile; l'autore sceglie un "evento votazione "(periodo destinato alle votazioni) tra quelli già programmati o può crearne uno dal calendario; tutti i membri della comunità possono votare &nbsp;durante il periodo prescelto;</span></li>
  <li ><span>al termine del periodo di votazione, il sistema calcola i voti, e colloca la proposta nella sezione/stato "approvate " o in caso di esito negativo, la respinge ; le proposte possono essere successivamente revisionate e reintrodotte nell’iter decisionale dalla fase 1</span></li>
</ul>
  <p ><span>Particolarmente interessante è l'adozione di un’area di discussione &nbsp;per ogni proposta pubblicata che permette alla proposta stessa di essere modificata dall’autore (come un  <a   href="http://it.wikipedia.org/wiki/Wiki">wiki</a> ) in base al consenso  ottenuto dai singoli contributi. Lo spazio di discussione è indentato a due livelli, il primo destinato a raccogliere  contributi , il secondo le considerazioni personali su questi ultimi. Il primo livello implementa un meccanismo di raccolta di gradimento mediante l’accorpamento nella proposta dei contributi  valutati più positivamente da parte della comunità.</span></p>
  <p ><span>Il quorum , necessario per far passare una proposta alla fase di votazione, si ottiene al soddisfacimento di tre diversi parametri:</span></p>
<ul  >
  <li ><span >valutazioni , definito come numero di persone che ne hanno dichiarato un gradimento (positivo o negativo);</span></li>
  <li ><span >tempo di discussione , minimo periodo di discussione (a partire dalla presentazione della proposta);</span></li>
  <li ><span >gradimento , definito come percentuale di "partecipanti" che dichiarano di gradire la proposta.</span></li>
  <li ><span >soglia minima  da superare affinchè la proposta non sia respinta</span></li>
</ul>
  <p ><span>La valutazione di "gradimento " (o meno) di una proposta, è un atto formale dei membri della comunità (fatto durante il periodo di "discussione"), con la quale esprimono l’idoneità  del testo e delle soluzioni alla successiva fase di votazione .</span></p>
<p ><span>Sono ovviamente previsti diversi tipi di quorum : a seconda della "pesantezza" dell'argomento trattato, i parametri (partecipazione, tempo e gradimento) variano di consistenza. Per le "proposte comuni", i quorum sono definiti dall'amministratore di sistema; mentre i quorum delle proposte dei gruppi, sono liberamente definibili degli amministratori dei gruppi .</span></p>
<p ><span>Le proposte sono organizzate, ordinate  e ricercabili , secondo tre modalità:</span></p>
<ul   >
  <li ><span>a seconda del loro stato  ("In dibattito","In votazione","Votate",”Abbandonate”);</span></li>
  <li ><span>a seconda di categorie  predefinite ("Lavoro","Salute","Educazione", ecc...);</span></li>
  <li ><span>a seconda del modello di proposta: standard, regolamento, preventivo di spesa, comunicato, decisione tecnica, ecc...</span></li>
  <li ><span>tramite dei tag&nbsp;liberi , che possono essere inseriti nel testo della proposta.</span></li>
</ul>

<h3 id="votazione"><span>Votazione con metodo Schultze e Democrazia Diretta</span></h3>
<span>Dal momento che un numero sufficiente di persone concordano sulla maturità della proposta, essa può superare  il livello di gradimento e/o il tempo minimo fissato dal quorum  e può passare alla votazione finale  definitiva.</span>
<p ><span>A questo punto la proposta viene congelata  e il proponenente deve scegliere un periodo  in cui il gruppo potrà votare la proposta. L’evento ‘votazione’ viene registrato sul calendario del gruppo e viene notificato  a tutti gli iscritti al gruppo il periodo della votazione.</span></p>
<p ><span>Al momento della votazione viene inviata una nuova notifica nella quale viene indicata la proposta da votare e la pagina sulla quale si svolge la votazione. A questo punto ciascun partecipante, dopo aver letto la proposta e l’elenco delle possibili soluzioni, può esprimere la propria preferenza ordinando tali soluzioni dalla più idonea a quella meno e permettendo in tal modo l’elaborazione del  <a   href="http://it.wikipedia.org/wiki/Metodo_Schulze">Metodo Schulze</a> &nbsp; per trovare la soluzione preferita dal gruppo.</span></p>
<p ><span>Al termine della votazione verrà notificata la soluzione approvata e la proposta si sposta nello stato di ‘votata’ in cui sarà possibile una successiva revisione e reintroduzione della proposta nell’iter decisionale.</span></p>

<h3 id="promozione_proposte"><span>Promozione di proposte condivise e Democrazia Partecipata</span></h3>
<span>Airesis è stato sviluppato per promuovere la condivisione delle idee e delle opinioni all'intero della comunità. Per ottenere questo la piattaforma mette a disposizione vari strumenti:</span>
<ul  >
  <li ><span>la proposta è pubblica di default e può essere visualizzata da chiunque su internet e pertanto c’è la possibilità di partecipare al gruppo per l’interesse verso una particolare iniziativa</span></li>
  <li ><span>la pubblicazione delle proposte sui social network, nello Spazio comune di Airesis o su blog e furum esterni;</span></li>
  <li ><span>il  blog &nbsp;personale dove i membri della comunità possono presentarsi e pubblicare nelle news dei vari gruppi a cui appartengono informazioni e comunicati, oltre che scambiare idee/opinioni;</span></li>
  <li ><span>la possibilità di organizzare incontri "fisici" ("riunioni") fra i membri della comunità;</span> </li>
  <li ><span>la possibilità di segnalare eventi interessanti su un'area comune ("calendario");</span></li>
  <li ><span>la presenza di un’area di discussione collegata ad ogni proposta, dove contribuire mediante suggerimenti all'autore che li potrà recepire in funzione delle valutazioni ottenute dal contributo;</span></li>
  <li ><span>Il sistema di reputazione che premia la partecipazione e la costruttività delle proposte e incentiva la risoluzione dei problemi e la chiarezza espositiva</span></li>
  <li ><span>La possibilità di invitare i propri contatti a prendere parte alla discussione di una proposta</span></li>
  <li ><span>la possibilità di chiedere di diventare co-autori di una proposta;</span></li>
  <li ><span>l'ovvia necessità, da parte degli autori delle proposte, di raccogliere il sostegno della comu nità;</span></li>
  <li ><span>la delibera  delle proposte tramite il voto universale.</span></li>
</ul>

<h3 id="Anonimato_temporaneo"><span>Anonimato temporaneo, voto segreto e auditable voting</span></h3>
<span>Una delle particolarità di Airesis è che gruppi possono scegliere se dibattere le proposte che verranno poi portate in votazione in modo anonimo o meno.</span>
<p ><span>L'uso dell'anonimato nel dibattito delle proposte: nella relativa area, autori e commentatori appaiono sottoforma di uno pseudomino. Questa particolarità è stata introdotta volutamente perché le persone valutino le proposte, le critiche e i suggerimenti unicamente in base al loro contenuto, senza che il "nome" degli autori abbiano un peso. Questo per favorire l'imparzialità della valutazione. Si potrebbe arrivare al caso limite di votare per una proposta, fatta da un autore considerato "di parte avversa".</span></p>
<p ><span>In ogni caso al termine del dibattito e dopo la votazione i partecipanti verranno visualizzati con i loro nomi in modo da poter verificare gli interventi.</span></p>
<p ><span>Questa opzione è possibile applicarla anche alla votazione in modo che il voto espresso risulti palese o segreto. Risultano evidenti i vantaggi derivanti dall'uso dell'anonimato nelle votazioni: con il voto palese, i membri della comunità potrebbero essere messi sotto pressione per le loro opinioni (o peggio, perseguitati). Comunque, gli utenti coperti dall'anonimato voteranno per quello che ritengono personalmente più giusto, indipendentemente dalle convenzioni sociali, morali, o (quando esiste) di "programma" del gruppo di appartenenza. Inoltre il voto segreto si possono evitare i cosiddetti voti di scambio o vendita del voto.</span></p>
<p ><span>Un approfontimento merita inoltre la possibilità di verificare l’effettiva registrazione del voto e che non si verifichino brogli. Questo è possibile attraverso il sistema di  <a   href="http://en.wikipedia.org/wiki/End-to-end_auditable_voting_systems">auditable voting</a> &nbsp; implentato in Airesis.</span></p>

<h3 id="Elezioni"><span>Elezioni e ruoli</span></h3>
Airesis implementa un sistema flessibile per poter gestire i permessi di cui ogni membro può disporre all'interno del gruppo in modo da poter imputare i seguenti ruoli:
<ul   >
    <li >Visualizzare le proposte private</li>
  <li >Contribuire alle proposte</li>
  <li >Inserire nuove proposte nel gruppo </li>
  <li >Pubblicare nella Home Page del gruppo  </li>
  <li >Creare eventi e votazioni  </li>
  <li >Sostenere proposte a nome del gruppo </li>
  <li >Aggiungere partecipanti nel gruppo </li>
  <li >Candidare utenti alle elezioni</li>
</ul>
<span>Airesis implementa un sistema per indire elezioni tra i membri di un gruppo e pertanto decidere consensualmente i ruoli che ciascun membro può arrogarsi.</span>
<p ><span>La procedura prevede (ad ora) quattro fasi:</span></p>
<ul   >
  <li ><span>la pubblicazione dell'elezione, con la "calendarizzazione" ;</span></li>
  <li ><span>un periodo per la presentazione delle candidature;</span></li>
  <li ><span>un periodo per l'esecuzione della votazione;</span></li>
  <li ><span>calcolo delle preferenze e presentazione dei risultati.</span></li>
</ul>
<p ><span>Una caratteristica della piattaforma è l'implementazione di un sistema di voto preferenziale che si basa sul  <a   href="http://it.wikipedia.org/wiki/Metodo_Schulze">Metodo Schulze</a> : l'elettore esprime un grado di "preferenza" verso i candidati, il sistema calcola e stila una graduatoria che più accontenta la maggioranza degli elettori.</span></p>
<h3 id="Sistema_Reputazione"></a><span>Sistema di Reputazione</span></h3>
<span>In Airesis è previsto un sistema di reputazione basato su punteggi per ogni azione compiuta che incentiva:</span>
<ul >
  <li ><span>la chiarezza espositiva</span></li>
  <li ><span>la costruttività dei contributi</span></li>
  <li ><span>la completezza del’informazione</span></li>
  <li ><span>la partecipazione al dibattito</span></li>
  <li ><span>la divulgazione della proposta</span></li>
  <li ><span>la fiducia della community nell’utente</span></li>
</ul>
<p ><span>Ogni utente può crescere di graduatoria e man mano compiere determinate azioni che normalmente sarebbero permesse ai soli amministratori. Inoltre è possibile ricevere delle ‘medaglie’ e riconoscimenti da parte del gruppo nel caso di comportamenti particolarmente virtuosi.</span></p>

<h2 id="descrizione_operativa"></a><span>Breve descrizione operativa</span></h2>
<p ><span>Airesis è stato pensato per poter essere alla portata di tutti e pertanto è stato sempre data particolare importanza all’intuitività dell’interfaccia, all’usabilità, alle informazioni contestuali e ai tutorial per apprendere velocemente le sue funzioni tramite video guide e FAQ.</span></p>

<h3 id="Home_page" ><span>Home page</span></h3>
<span>La prima pagina a cui l'utente accede, è la sua "Home page" privata. Su questa è presente un elenco delle proposte di cui è autore (con evidenziato lo stato), l'elenco delle 'notifiche' di sistema (eventi, nuove proposte, contributi, valutazioni, commenti, ecc..) riguardanti le proposte sostenute o commentate o gli eventi, l'elenco dei 'gruppi' dei quali si è membri e la mappa della sua località.</span>
<p ><span>In quest'area sono presenti altre due schede:</span></p>
<ul  >
  <li ><span >Preferenze , per impostare i dati di account, unire i collegamenti ai social network e modificare le preferenze personali di su notifiche e privacy;</span></li>
  <li ><span >Blog , la pagina del blog personale (proprio dell'utente), ma di dominio pubblico </span></li>
</ul>

<h3 id="Gruppi"><span>Gruppi</span></h3>
  L’accesso ai "Gruppi" può avvenire o premendo su ‘cerca gruppi’ dalla barra in alto o dalla colonna di sinistra della home page personale.

<p>Cliccando sul nome di un gruppo, si apre la relativa home-page (presentazione + news/blog). Nell’area delle proposte sono visualizzate quelle che il gruppo ha deciso di rendere pubbliche, mentre per visualizzare quelle interne (proposte ed eventi privati), bisogna chiedere all'amministratore locale l'ammissione al gruppo. </p>
<p>L'area proposte è divisa in quattro schede ("In dibattito","In votazione", "Votate", ”Abbandonate”), in cui sono elencate le proposte a seconda del loro stato. Cliccando sul titolo di una proposta, questa si apre, visualizzandone il testo e l’area dei contributi. Le proposte possono essere ulteriormente filtrate selezionando le Categorie o i Tag, in modo da visualizzare solo le proposte degli argomenti che interessano.</p>
<p>Ogni membro della comunità può promuovere una nuova proposta: per far ciò basta cliccare sul pulsante "Crea nuova proposta", e apparirà la form da compilare.</p>
<p>Accedendo all'interno di una proposta in discussione, i membri della comunità possono interagire con essa secondo le loro capacità, competenze e opinioni.</p>
<p>Infine è presente una scheda per gestire le elezioni ("Area candidati"), da qui si possono promuovere elezioni, promuovere candidature e accedere alla pagina delle votazioni.</p>
<h3 id="Spazio_comune">Spazio comune</h3>
<p>Cliccando su "Spazio comune" si accede all'area destinata alla gestione delle proposte che possono essere di comune interesse.</p>
<p>L'area delle proposte del gruppo si presenta simile a quella dei Gruppi; inoltre è presente anche un "calendario privato" che visualizza tutti gli eventi pubblici, più quelli privati relativi al gruppo.</p>
<p>Nello Spazio comune è presente anche una scheda "calendario", su cui sono evidenziati gli eventi destinati a tutta la comunità (segnalazione eventi, riunioni, votazioni). Cliccando su una nota, si apre la pagina relativa all'evento e, a seconda del tipo, si può interagire con esso (es. partecipando ad una votazione o segnalando la volontà di partecipare ad una riunione).</p>
<h3 id="Domande_Frequenti">FAQ - Domande Frequenti</h3>
<p>Vedi <a href="http://www.airesis.it/videoguide">Video Guide</a></p>
<h3 id="Migrazione_Meetup">Migrazione da Meetup</h3>
<p>Vedi <a href="https://docs.google.com/folder/d/0B0mabVhVw7EidS1YOTQ0ek15X1E/edit?docId=1bvC6FJ2MEiLDf157gkdGHbXu2fC9bF__8fl9wOmf67M">Lettera ai Meetup</a></p>
<h2 id="Storia_prospettive">Storia e prospettive</h2>
<p>Airesis nasce dall'unione dei progetti Agorà 2.0 e Airesis confluiti successivamente nell'associazione <a href="http://www.tecnologiedemocratiche.it/">Tecnologie Democratiche</a>  che ha l'obiettivo di realizzare una innovativa piattaforma open-source per l'e-democracy.</p>
<p>Il lavoro è portato avanti interamente da volontari , uniti dalla volontà di creare uno strumento che consenta ai cittadini e ai gruppi di organizzarsi ed elaborare risposte ai problemi comuni in modo trasparente , democratico, partecipato, costruttivo, valorizzando l' intelligenza collettiva .</p>
<h3 id="democrazia_elettronica">Destinazione: la democrazia elettronica</h3>
<p>Airesis vuole rispondere alla necessità di usufruire di uno strumento informatico che possa integrare le funzioni principali di social network, gestione di eventi, forum e votazione, già esistenti se prese singolarmente, ma mai presenti contemporaneamente in alcun software.</p>
<p>La missione è ambiziosa, ma le tecnologie disponibili e la loro diffusione nel tessuto sociale rendono finalmente possibile l’attuazione di un progetto di democrazia  elettronica.</p>
<h3 id="prossime_implementazioni">RoadMap e prossime implementazioni</h3>
<p>Grazie alla determinazione dei volontari, quello che sembrava un sogno di libertà, ha trovato il supporto di numerose persone e finalmente il sostegno di programmatori, analisti, matematici, grafici e cittadini responsabili è riuscito a tracciare un percorso per la messa online della versione 1.0 di Airesis entro gennaio 2013.</p>
<p>Ora però occorre migliorare le funzioni e l’usabilità. Di seguito gli eventi salienti che hanno permesso la nascita del progetto e le funzioni che permetteranno di completare la futura versione 2.0 entro la primavera del 2013:</p>
<p>Primavera 2013  - uscita della versione 2.0 di Airesis:</p>
<ul>
  <li>Rivisitazione grafica completa</li>
  <li>Sistema di Reputazione</li>
  <li>Completamento dibattito e ampliamento dei metodi di votazione delle proposte</li>
  <li>Possibilità di invitare alla discussione di una proposta i propri contatti facebook, google mail o su altri social network</li>
  <li>Domini terzo livello dei gruppi e url significativi per le pagine</li>
  <li>Possibilità di delegare altri partecipanti al gruppo per singola proposta, per categoria o per gruppo</li>
  <li><a href="http://en.wikipedia.org/wiki/End-to-end_auditable_voting_systems">Auditable voting</a>  per consentire la verifica del proprio voto per la trasparenza e la correttezza delle votazioni</li>
  <li>Unione fra gruppi e definizione delle regole a cui sottostanno i partecipanti ai macrogruppi</li>
  <li>Possibilità di scegliere le date degli eventi attraverso un sondaggio</li>
  <li>Analisi per l’integrazione del bilancio partecipativo</li>
</ul>
<p>Marzo 2013 :</p>
<ul>
  <li>Dibattito per paragrafo delle proposte</li>
  <li>Nuova interfaccia di inserimento dei testi</li>
  <li>Modelli di proposta </li>
  <li>Rifacimento Home Page dei Gruppi</li>
  <li>Archivio documenti del gruppo</li>
</ul>
<p>Febbraio 2013 :</p>
<ul >
  <li>Inviti da parte degli amministratori</li>
  <li>Sistema di messaggistica</li>
  <li>Newsletter e attivazione notifiche email</li>
</ul>
<p>Gennaio 2013  - uscita della versione 1.0:</p>
<ul >
  <li>Migliorata la gestione delle proposte</li>
  <li>Quorum personalizzati</li>
  <li>Miglioramenti grafici</li>
  <li>Condivisione dei contenuti sui social network</li>
</ul>
<p>Novembre 2012  - Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:</p>
<ul>
  <li>Miglioramento della scrivania dell'utente e del profilo utente</li>
</ul>
<ul>
  <li>Miglioramento della struttura e della grafica della pagina di elaborazione delle proposte</li>
  <li>Maggiore integrazione con i social network</li>
</ul>
<p>Fine settembre 2012  - Inizia la fase di sperimentazione della nuova versione del software da parte di alcuni gruppi. Tutti coloro che lo desiderano possono testare il software all'indirizzo <span class="c16"><a href="http://www.airesis.it/">http://www.airesis.it/</a>  , segnalare bug e suggerire miglioramenti al sistema.</span></p>
<p>Settembre 2012 <br />
  La struttura di Airesis viene rivoluzionata dall'introduzione di uno spazio per le proposte e di un calendario all'interno dei gruppi. Miglioramento dello strumento di forum (con la possibilità di gestire anche dibattiti anonimi), miglioramento della grafica, correzione di alcuni bug.</p>
<p>Luglio 2012 <br />
  Fusione del progetto Agorà 2.0 e del progetto Airesis</p>
<p>Giugno 2012 <br />
  Esce una versione di Airesis in parte ispirata alle logiche di Agorà 2.0</p>
<p>Febbraio 2012 <br />
  Il progetto Agorà 2.0 e Alessandro Rodi, sviluppatore della prima versione di Airesis entrano in contatto</p>
<p>Gennaio 2012  - Alessandro Rodi sviluppa una primissima versione della piattaforma Airesis che viene messa on line, contemporaneamente nel progetto Agorà 2.0 si assiste al completamento dei principali mockup ad opera del gruppo grafica e alla messa a punto della piattaforma di sviluppo.</p>
<p>Autunno 2011 <br />
  Costituzione di un gruppo di lavoro dedicato allo studio dell'interfaccia grafica e di un gruppo di lavoro per la programmazione di Agorà 2.0.</p>
<p>Estate 2011 <br />
  Completamento dello studio delle logiche di Agorà 2.0 e degli aspetti grafici più rilevanti e definizione dei casi d'uso (una sintesi è presentata qui <span class="c16"><a href="http://agora20.altervista.org/%20Informativa_Agora2punto0.pdf">http://agora20.altervista.org/ Informativa_Agora2punto0.pdf</a>  e qui </span><span class="c16"><a href="http://www.slideshare.net/%20agora20/progettoagor2punto0">http://www.slideshare.net/ agora20/progettoagor2punto0</a>  ). Intanto, Alessandro Rodi, ancora non in contatto con il progetto Agorà 2.0, avvia indipendentemente la programmazione di Airesis, un portale per l'e-democarcy.</span></p>
<p>Autunno 2010 <br />
  Avvio dello studio delle logiche di Agorà 2.0</p>
<p>Estate 2010 <br />
  Avvio dello studio delle esperienze di e-democracy presenti nel mondo ed attivazione di relazioni con alcune di esse (a partire da quelle italiane)</p>
<p>Primavera 2010 <br />
  Avvio, nell'ambito del progetto Agorà 2.0, del dibattito su un nuovo strumento di e-democracy open source adatto a gestire anche l'elaborazione di proposte nell'ambito di un gruppo</p>
<h2 id="Specifiche_tecniche"></a>Specifiche tecniche</h2>
Prima di cominciare lo sviluppo di Airesis sono state valutate una serie di opzioni che permettessero alla futura piattaforma le seguenti caratteristiche:
<ul>
  <li>Rapidità di Sviluppo</li>
  <li>Scalabilità delle Risorse</li>
  <li>Migrabilità del DataBase</li>
  <li>Sicurezza e Privacy</li>
  <li>Open Source e Trasparenza</li>
  <li>Interfaccia semplice e Intuitività</li>
</ul>
<p>al fine di poter venire incontro a tutte queste esigenze si è scelto di adottare delle soluzioni tecniche innovative e all’avanguardia.</p>
<h3 id="hosting"></a>Scelta dell’hosting e caratteristiche</h3>
La scelta del l'hosting è importante e deve fornire tutti gli strumenti per "far girare" Airesis nella maniera più adeguata. La configurazione migliore per un ambiente con centinaia di utenti prevede l'utilizzo di Apache e Phusion Passenger per la gestione delle istanze dell'application server.
<p>È necessario disporre di Ruby 1.9 e Rails 3.1 per eseguire l'applicazione web.</p>
<p>Come database è consigliato Postgresql 9 con estensioni PostGIS e Redis Server.</p>
<p>La potenza del server sarà in funzione del carico di lavoro da sostenere. Attualmente airesis.it, con un migliaio di utenti occupa circa 10Gb di disco e 1Gb di memoria, con un carico giornaliero di rete di circa 1Gb.</p>
<h3 id="Releases"></a>Releases</h3>
I rilasci di Airesis avvengono costantemente e frequentemente circa ogni 30 giorni per le main releases, ogni 15 giorni per le minor releases e settimanalmente per i bug fixing.
<h3 id="Piattaforma"></a>Piattaforma di sviluppo</h3>
La piattaforma di sviluppo consigliata ed utilizzata dal team principale di Airesis è RedMine. La piattaforma è la più completa e flessibile al momento disponibile sul mercato. Il team di sviluppo dispone di una licenza gratuita offerta dalla JetBrain per lo sviluppo di progetti Open Source. Chi entra a far parte del team di sviluppo verrà dotato di ambiente con licenza gratuita per poter sviluppare nella maniera più agevole.
<h3 id="Bug_tracking"></a>Bug tracking</h3>
Il sistema di bigtraking di Airesis è attualmente in fase di sperimentazione e non disponibile pubblicamente. L'indirizzo temporaneo è http://airesistest.alwaysdata.net e si possono visualizzare le attività schedulate per le prossime versioni.
<h3 id="Scalabilita"></a>Scalabilità</h3>
La scalabilità è un fattore molto importante per un'applicazione di democrazia diretta che può potenzialmente raggiungere le centinaia di migliaia di utenti. Per questo motivo il framework scelto è stato RubyOnRails sul quale sono basati molti siti di successo (in termini di numero di utenze) come Groupon e Twitter (recentemente passato a Java).
<h3 id="Gruppo_sviluppo"></a>Gruppo di sviluppo</h3>
Il gruppo di sviluppo è formato dai volontari dell'associazione Tecnologie Democratiche e da due programmatori con un contratto di collaborazione per lo sviluppo delle funzionalità più lunghe e complesse. I fondi vengono raccolti tramite donazioni private.




