<% @page_title = "Cos'è airesis?"%>
<% @page_descr = "Uno strumento di democrazia diretta nato per decidere e deliberare collettivamente su proposte e idee nate ovunque per qualsiasi tema. "%>
<% content_for :left_panel do %>
<div style="position:fixed; margin-left:7px">
	<div id="navlist" class="well" style="padding: 3px 0">
		<ul class="nav nav-list">
			<li>
				<h6 class="nav-header">Contenuti</h6>
			</li>
			<li >
				<a href="#strumento">Cos'&egrave;</a>
			</li>
			<li>
				<a href="#slideshow">Presentazione</a>
			</li>
			<li>
				<a href="#principi">Principi</a>
			</li>
			<li>
				<a href="#caratteristiche">Caratteristiche</a>
			</li>
		</ul>
	</div>
</div>
<% end %>
<h2  id="strumento">Uno strumento deliberativo di massa</h2>
<p>
	Airesis &egrave; uno strumento decisionale nato per rendere pi&ugrave; veloci, condivise e partecipate le deliberazioni 
	relative a delle proposte pubblicate online, basato suio seguenti principi:
</p>
<ul>
	<li>
		Partecipazione
	</li>
	<li>
		Trasparenza
	</li>
	<li>
		Dialogo costruttivo
	</li>
	<li>
		Equit&agrave;
	</li>
	<li>
		Flessibilit&agrave;
	</li>
</ul>
<p>
	Esistono gi&agrave; numerosi strumenti che permettono di realizzare votazioni on line, di scrivere documenti in modo collaborativo, 
	di emendare proposte, di adottare metodiche di problem solving, di confrontarsi, di organizzare iniziative, di mettersi in contatto, 
	di condividere informazioni o risorse. <br />
	Tuttavia non ne esiste ancora nessuno che permetta di fare tutte queste cose in modo organico, 
	semplice ed intuitivo consentendo la <b>democrazia diretta</b>. <br />
	Per questo la maggior parte dei gruppi utilizza mailing list, forum, facebook, o altri strumenti che rendono difficile lavorare 
	insieme in modo produttivo, elaborare una sintesi condivisa, individuare le migliori soluzioni per risolvere i problemi e sceglierle. 
	Airesis &egrave; stato concepito come uno strumento decisionale di <b>democrazia diretta</b> per rispondere a questi problemi.
</p>
<h2  id="slideshow">Slideshow di presentazione</h2>
<iframe src="https://docs.google.com/presentation/embed?id=1w3nD2CQiK4GpOOhpM7vtyaCdbQwDHPjat2Dj1oe2qjA&start=false&loop=false&delayms=3000" frameborder="0" width="770" height="620" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<iframe src="http://www.slideshare.net/slideshow/embed_code/14374071" width="770" height="620" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen></iframe>
<h2  id="principi">Principi che guidano il nostro progetto </h2>
<ul>
	<li>
		<h3>Partecipazione</h3>
		Coinvolgere i cittadini significa avere a disposizioni più energie, più punti di vista. Solo attraverso la partecipazione diretta è possibile approfondire i problemi, cambiare idea, comprendere cosa si vuole veramente.
		La partecipazione è l’essenza di decisioni rappresentative.
	</li>
</ul>
<ul>
	<li>
		<h3>Trasparenza e Sicurezza</h3>
		Senza trasparenza le regole possono essere facilmente aggirate e la democrazia degenera in fretta. Trasparenza significa anche apertura, capacità di accogliere: per
		questo Airesis consente anche agli utenti non registrati di visionare i contenuti del sito.
	</li>
</ul>
<ul>
	<li>
		<h3>Dialogo costruttivo</h3>
		Nessuno ha in tasca tutte le risposte giuste, altrimenti non vi sarebbe bisogno di democrazia. Con opportuni strumenti, elaborare idee a più mani può risultare molto più produttivo che farlo da soli.
	</li>
</ul>
<ul>
	<li>
		<h3>Equit&agrave;</h3>
		Equità significa eguaglianza effettiva di possibilità.
		Senza equità ogni democrazia è un po’ un’oligarchia.
	</li>
</ul>
<ul>
	<li>
		<h3>Flessibilit&agrave;</h3>
		Ogni gruppo ha le proprie necessità, ogni proposta è diversa dalle altre, ogni utente ha le proprie esigenze.
	</li>
</ul>
<h2  id="caratteristiche">Caratteristiche e funzioni </h2>
<ul>
	<li>
		Registrazione e integrazione con Facebook
	</li>
	<li>
		Gestione dei gruppi, ruoli e permessi per gli iscritti
	</li>
	<li>
		Gestione di eventi e dei partecipanti
	</li>
	<li>
		Inserimento proposte assistito
	</li>
	<li>
		Possibilit&agrave; di discussioni anonime (con la creazione di nickname!)
	</li>
	<li>
		Creazione di elezioni e votazione tramite metodo di Schulze
	</li>
	<li>
		Gestione di blog personali e stream dei gruppi
	</li>
	<li>
		Filtri geografici di interesse
	</li>
</ul>

<h2>Coinvolgimento</h2>
<ul>
	<li>
		Informazione (Documenti,
		Informazioni e notizie,
		Open data)
	</li>
	<li>
		Cosultazione (Sondaggi,
		Blog post)
	</li>
	<li>
		Partecipazione (Proposte, Eventi)
	</li>
</ul>
