<% @page_title = "Il primo social network di E-Democracy in Italia" %>
<% @page_descr = "Uno strumento di democrazia diretta nato per decidere e deliberare collettivamente su proposte e idee nate ovunque per qualsiasi tema. " %>
<% content_for :left_panel do %>
    <!--
    <div class="sticky-anchor"></div>
    <div class="sticky">
      <div id='cssmenu'>
        <ul style="border-bottom: none ;">
          <li class='has-sub'><a href='#edemocracy'><span>Un social network per la E-Democracy</span></a>
            <ul>
            <li ><a href='#slideshow'><span>Slideshow di presentazione</span></a></li>
            <li ><a href='#principi'><span>Princìpi e valori fondanti</span></a></li>
            <li ><a href='#Obiettivo'><span>Obiettivo</span></a></li>
          </ul></li>

          <li class='has-sub'><a href='#caratteristiche_funzioni'><span>Caratteristiche e funzioni</span></a>
            <ul>
              <li ><a href='#funzioni_base'><span>Funzioni di base</span></a></li>
              <li ><a href='#strumento_proposte'><span>Strumento proposte e dibattito</span></a></li>
              <li ><a href='#votazione'><span>Votazione con metodo Schulze</span></a></li>
              <li ><a href='#Anonimato_temporaneo'><span>Anonimato temporaneo</span></a></li>
              <li ><a href='#Gestione_gruppi'><span>Gestione dei gruppi e ruoli degli utenti</span></a></li>
              <li ><a href='#Elezioni'><span>Elezioni</span></a></li>
              <li ><a href='#Sistema_Reputazione'><span>Sistema di Reputazione</span></a></li>
            </ul>
          <li class='has-sub'><a href='#descrizione_operativa'><span>Descrizione operativa</span></a>
            <ul>
              <li ><a href='#Home_page'><span>Home page</span></a></li>
              <li ><a href='#Gruppi'><span>Gruppi</span></a></li>
              <li ><a href='#Spazio_comune'><span>Spazio comune</span></a></li>
              <li ><a href='#Domande_Frequenti'><span>Domande_Frequenti</span></a></li>
              <li ><a href='#Migrazione_Meetup'><span>Migrazione da Meetup</span></a></li>
            </ul>
          </li>
          <li class='has-sub'><a href='#Storia_prospettive'><span>Storia e prospettive</span></a>
            <ul>
              <li ><a href='#democrazia_elettronica'><span>Destinazione edemocracy</span></a></li>
              <li ><a href='#prossime_implementazioni'><span>Prossime implementazioni</span></a></li>
              <li ><a href='#roadmap'><span>Roadmap</span></a></li>
            </ul>
          </li>
          <li class='has-sub last'><a href='#Specifiche_tecniche'><span>Specifiche tecniche</span></a>
            <ul>
              <li ><a href='#Sicurezza'><span>Sicurezza e privacy</span></a></li>

              <li ><a href='#Piattaforma'><span>Piattaforma di sviluppo</span></a></li>

              <li ><a href='#Gruppo_sviluppo'><span>Gruppo di sviluppo</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
        -->

<% end %>


<div class="slide red">
  <div class="row centered">

    <h2 id="edemocracy">Il Social Network per l'E-Democracy</h2>

    <p>Airesis è una <a href="http://it.wikipedia.org/wiki/Software_libero">piattaforma software libera </a>, realizzata
      da un team italiano, per consentire a diverse forme di comunità di organizzarsi in modo produttivo secondo i principi della
      <a href="http://it.wikipedia.org/wiki/Democrazia_diretta">democrazia diretta</a> e partecipativa.
      </p>
    <p>
      A tal scopo, la piattaforma è stata pensata come un sistema multifunzionale, che integra tutti gli strumenti web che possono
      servire allo sviluppo di una comunità, in particolare strumenti "social" e strumenti deliberativi.
    </p>

    <!--p>
      Airesis può essere utilizzato da molteplici tipologie di gruppi: Movimenti e partiti
    </p-->

    <p> Gli <strong>strumenti social</strong> comprendono dei blog e un sistema di promozione di eventi/incontri con
      calendarizzazione. Gli <strong>strumenti deliberativi</strong> comprendono aree per la raccolta e la delibera di
      proposte/iniziative e un sistema di votazione di candidati. Tra le caratteristiche salienti di questa piattaforma,
      c'è la possibilità di creare liberamente gruppi/comunità ristrette a partire dalla comunità complessiva. <br>
      Poichè l'obiettivo di Airesis è quello di stimolare la partecipazione, è stata prestata grande attenzione all'
      <strong>intuitività</strong> . <br>
      La filosofia di sviluppo è quella del <strong>miglioramento continuo</strong> , basato sui feedback ricevuti dagli
      utenti. Il gruppo di sviluppo è disponibile ad andare gratuitamente incontro alle esigenze delle comunità che
      desiderano impiegare il software in linea con lo spirito della democrazia diretta. </p>
  </div>
</div>
<div class="slide">
<div class="row centered">
<iframe src="https://docs.google.com/presentation/d/1U2w96q28GhIDCoL0hgwvnigUC_xANbl8FCmfPriq4QI/embed?start=true&loop=false&delayms=5000" frameborder="0" width="770" height="620" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
</div>
<div class="slide yellow">
<div class="row centered">
<h2 id="principi">Princìpi e valori fondanti</h2>

<p>Airesis è uno strumento decisionale di e-democracy open source, sviluppato interamente da volontari, senza scopo di
  lucro, nato per rendere più veloci, informate, condivise e partecipate le decisioni.</p>
<p> Si basa sui seguenti principi: </p>
<ul>
  <li>
    <b>Partecipazione</b> <br/>
    Coinvolgere i cittadini significa avere a disposizioni più energie, più punti di vista. Solo attraverso la
    partecipazione diretta è possibile approfondire i problemi, cambiare idea, comprendere cosa si vuole veramente. La
    partecipazione è l’essenza di decisioni democratiche.
  </li>
</ul>
<ul>
  <li>
    <b>Trasparenza e Sicurezza</b><br/>
    Senza trasparenza le regole possono essere facilmente aggirate e la democrazia degenera in fretta. Trasparenza
    significa anche apertura, capacità di accogliere: per questo Airesis consente anche agli utenti non registrati di
    visionare i contenuti del sito.


    Trasparente è anche il codice del software open source.
  </li>
</ul>
<ul>
  <li>
    <b>Dialogo costruttivo</b><br/>
    Nessuno ha in tasca tutte le risposte giuste, altrimenti non vi sarebbe bisogno di democrazia. Con opportuni
    strumenti, elaborare idee a più mani può risultare molto più produttivo che farlo da soli.
  </li>
</ul>
<ul>
  <li>
    <b>Pari opportunit&agrave;</b><br/>
    Insteso come eguaglianza effettiva di possibilità. Senza tale equità ogni democrazia è un po’ un’oligarchia.
  </li>
</ul>
<ul>
  <li>
    <b>Flessibilit&agrave;</b><br/>
    Ogni gruppo ha le proprie necessità, ogni proposta è diversa dalle altre, ogni utente ha le proprie esigenze.
  </li>
</ul>
</div>
</div>
<div class="slide violet">
<div class="row centered">

<h2 id="Obiettivo">Obiettivo: la democrazia diretta e partecipata</h2>
<span> Strutturato come un social network permette di coinvolgere le persone in base ai propri interessi e di sfruttare le doti di ciascuno per deliberare in modo consensuale su qualsiasi tipo di proposta. L'architettura e i suoi valori fondanti permettono quindi alla piattaforma di perseguire gli obiettivi di aggregazione sociale e dibattito costruttivo su temi che possono coinvolgere il territorio, la promozione sociale, le politiche di settore e di far emergere le migliori idee.  &nbsp;</span>
<p>Airesis si è sviluppata come piattaforma software multifunzione e si propone di offrire gli strumenti per:</p>
<ul>
  <li>promuovere le idee e le esperienze dei singoli membri;</li>
  <li>raccogliere le iniziative/proposte dei singoli e presentarle alla comunità;</li>
  <li>dare strumenti per il dibattito sulle varie iniziative;</li>
  <li>promuovere la modifica condivisa delle proposte, in modo che possano essere accettabili dalla maggioranza;</li>
  <li>gestire la votazione delle varie iniziative/proposte;</li>
  <li>promuovere eventi generici o riunioni;</li>
  <li>gestire delle candidature e le relative votazioni;</li>
  <li>gestire dei sotto-gruppi ristretti, dandogli gli stessi strumenti disponibili per la comunità generale.</li>
</ul>
</div>
</div>
<div class="slide">
<div class="row centered">
<h2 id="caratteristiche_funzioni">Caratteristiche e funzioni</h2>
<p> Il team di sviluppo di Airesis realizza le funzioni e gli strumenti
  <strong>in base alle esigenze dei gruppi</strong> che fruiscono della piattaforma. Lo stesso gruppo di sviluppo è
  presente su Airesis e decide <strong>consensualmente</strong> le future implementazioni, le migliorie agli strumenti e
  le misure da intraprendere per trovare le soluzioni alle problematiche che via via si presentano.</p>
<p> La struttura attuale permette all'utente registrato di appartenere ad uno <strong>spazio comune</strong>, di
  iscriversi ad uno dei <strong>gruppi</strong> già presenti oppure di costituirne uno nuovo. Sia nei gruppi che nello
  spazio comune è possibile pubblicare iniziative/proposte , <strong>valutarle</strong> , redigerne una
  <strong>sintesi</strong> condivisa e quindi <strong>votarle</strong>. Sempre negli stessi ambiti è possibile creare
  degli eventi riguardanti <strong>incontri</strong> , <strong>votazioni</strong> ed <strong>elezioni</strong> . </p>
</div>
</div>
<div class="slide yellow">
<div class="row centered">
<h3 id="funzioni_base">Funzioni di base</h3>
<ul>
  <li><strong>Iscrizione alla piattaforma</strong> <br>
    da qualsiasi pagina o anche a seguito alla scrittura di un commento o di un intervento. E' possibile accedere con
    Facebook, Google +, Meetup, Linkedin...
  </li>
  <li><strong>Presenza di uno spazio pubblico e di uno spazio privato dei gruppi</strong> <br>
    (<a href="http://youtu.be/n_ZruAcNkVk">http://youtu.be/n_ZruAcNkVk </a>): <br>
    La registrazione consente di appartenere ad uno spazio comune, di iscriversi ad uno dei gruppi già presenti oppure
    di costituirne uno nuovo.
  </li>
  <li><strong>Inserimento proposte e dibattito</strong> <br>
    Sia nei gruppi che nello spazio comune è possibile pubblicare iniziative/proposte e raccogliere contributi, commenti
    e valutazioni al fine di redigere una sintesi condivisa della proposta che possa raccogliere il più largo consenso.
  </li>
  <li><strong>Quorum e votazione proposte</strong> <br>
    Ad ogni proposta è assegnato un quorum al fine di incentivare la partecipazione e portare a maturazione le soluzioni
    trovate. La successiva votazione avviene per preferenza in base al metodo Schulze.
  </li>
  <li><strong>Gestione eventi/calendario</strong> <br>
    E' possibile inserire eventi riguardanti le riunioni, le votazioni, gli incontri e le elezioni dei candidati
    all'interno dei gruppi o nello spazio comune.
  </li>
  <li><strong>Newsletter</strong> su eventi e novità della piattaforma</li>
  <li><strong>Messaggistica</strong> e servizio di <strong>notifiche</strong> via mail (personalizzabili dall'utente)
  </li>
  <li><strong>Upload e gestione di documenti</strong> e allegati alle proposte (funzione attualmente disabilitata su
    www.airesis.it)
  </li>
  <li><strong>Sondaggi</strong> sia interni che esterni con votazione Schulze</li>
  <li><strong>Apps per mobile </strong></li>
</ul>
</div>
</div>
<div class="slide blue">
<div class="row centered">
<h3 id="strumento_proposte"></a><span>Strumento proposte e dibattito</span></h3>
Il cuore del software sta nello<strong>strumento
  deliberativo</strong> che consente di partecipare alla stesura di una proposta, di fissare un obiettivo comune, di contribuire alla ricerca di soluzioni alternative e di portare in votazione il risultato di questo lavoro in modo che la proposta possa ricevere più consenso possibile e possa emergere la soluzione migliore e più condivisa.
<p>Oggi, l'iter prevede 3 fasi:</p>
<ul>
  <li>l' <strong>autore compone la proposta</strong> secondo una procedura guidata (Obbiettivo, Proposta, documenti a
    sostegno, quorum e modello di proposta); con l'immissione del form compilato, il sistema pubblica nella
    sezione/stato " <strong>in dibattito</strong> " la proposta, dove permane in attesa di ricevere sostegno, consigli e
    critiche. Durante questo periodo la proposta può essere corretta dagli autori in base alle valutazioni dei
    contributi apportati;
  </li>
  <li>al raggiungimento del quorum, la proposta passa alla sezione/stato " <strong>in votazione</strong> " durante
    questo periodo il testo della proposta non è più modificabile; l'autore sceglie un "
    <strong>evento votazione</strong> " (periodo destinato alle votazioni) tra quelli già programmati o può crearne uno
    dal calendario; tutti i membri certificati del gruppo possono <strong>votare</strong> durante il periodo prescelto;
  </li>
  <li>al termine del periodo di votazione, il sistema calcola i voti, e colloca la proposta nella sezione/stato "
    <strong>approvate</strong> " o in caso di esito negativo, la <strong>respinge</strong> ; le proposte possono essere
    successivamente revisionate e reintrodotte nell'iter decisionale dalla fase 1
  </li>
</ul>
<p> Particolarmente interessante è l'adozione di un' <strong>area di discussione</strong> per ogni proposta pubblicata
  che permette alla proposta stessa di essere modificata dall'autore (come un
  <a href="http://it.wikipedia.org/wiki/Wiki">wiki </a>) in base al <strong>consenso</strong> ottenuto dai singoli
  contributi. Lo spazio di discussione è indentato a due livelli, il primo destinato a raccogliere contributi, il
  secondo le considerazioni personali su questi ultimi. Il primo livello implementa un meccanismo di raccolta di
  gradimento mediante l' <strong>accorpamento nella proposta dei contributi</strong> più condivisi. </p>
<p>Il <strong>quorum</strong> , necessario per far passare una proposta alla fase di votazione, si ottiene al
  soddisfacimento di tre diversi parametri:</p>
<ul>
  <li><strong>valutazioni</strong> , definito come numero di persone che ne hanno dichiarato un gradimento (positivo o
    negativo);
  </li>
  <li><strong>tempo di discussione</strong> , minimo periodo di discussione (a partire dalla presentazione della
    proposta);
  </li>
  <li><strong>gradimento</strong> , definito come percentuale di "partecipanti" che dichiarano di gradire la proposta.
  </li>
  <li><strong>soglia minima</strong> da superare affinchè la proposta non sia respinta</li>
</ul>
<p>La valutazione di "<strong>gradimento</strong> " (o meno) di una proposta, è un atto formale dei membri della
  comunità (fatto durante il periodo di "discussione"), con la quale esprimono l’<strong>idoneità</strong> del testo e
  delle soluzioni <strong>alla successiva fase di votazione</strong> .</p>
<p>Sono ovviamente <strong>previsti diversi tipi di quorum</strong> : a seconda della "pesantezza" dell'argomento
  trattato, i parametri (partecipazione, tempo e gradimento) variano di consistenza. Per le "proposte comuni", i quorum
  sono definiti dall'amministratore di sistema; mentre
  <strong>i quorum delle proposte dei gruppi, sono liberamente definibili degli amministratori dei gruppi</strong> .</p>
<p>Le proposte sono <strong>organizzate</strong>, <strong>ordinate</strong> e <strong>ricercabili</strong> , secondo tre
  modalità:</p>
<ul>
  <li>a seconda del loro <strong>stato</strong> ("In dibattito","In votazione","Votate",”Abbandonate”);</li>
  <li>a seconda di <strong>categorie</strong> predefinite ("Lavoro","Salute","Educazione", ecc...);</li>
  <li>a seconda del <strong>tipo</strong> di proposta: standard, regolamento, preventivo di spesa, comunicato, decisione
    tecnica, ecc...
  </li>
  <li>tramite dei <strong>tag&nbsp;liberi</strong> , che possono essere inseriti nel testo della proposta.</li>
</ul>
</div>
</div>
<div class="slide violet">
<div class="row centered">
<h3 id="votazione">Votazione con metodo Schulze e Democrazia Diretta</h3>
<p> Quando un numero sufficiente di persone concordano sulla maturità della proposta e/o il tempo minimo fissato per il
  dibattito scade, la proposta può passare alla <strong>votazione finale</strong> .</p>
<p> A questo punto la proposta viene <strong>congelata</strong> e il proponenente deve
  <strong>scegliere un periodo</strong> in cui il gruppo potrà votare la proposta. L'evento ‘votazione' viene registrato
  sul calendario del gruppo e viene <strong>notificato</strong> a tutti gli iscritti al gruppo il periodo della
  votazione. </p>
<p> Al momento della votazione viene inviata una nuova notifica nella quale viene indicata la proposta da votare e la
  pagina sulla quale si svolge la votazione. A questo punto ciascun partecipante, dopo aver letto la proposta e l'elenco
  delle possibili soluzioni, può esprimere la propria preferenza ordinando tali soluzioni dalla più idonea a quella meno
  e permettendo in tal modo l'elaborazione del <a href="http://it.wikipedia.org/wiki/Metodo_Schulze">Metodo Schulze </a>
  per trovare la soluzione preferita dal gruppo.</p>
<p> Al termine della votazione verrà notificata la soluzione approvata e la proposta si sposta nello stato di ‘votata'
  in cui sarà possibile una successiva revisione e reintroduzione della proposta nell'iter decisionale. </p>
</div>
</div>
<div class="slide green">
<div class="row centered">
<h3 id="promozione_proposte">Promozione di proposte condivise e Democrazia Partecipata</h3>
<span>Airesis è stato sviluppato per promuovere la condivisione delle idee e delle opinioni all'intero della comunità. Per ottenere questo la piattaforma mette a disposizione vari strumenti:</span>
<ul>
  <li>la <strong>proposta è pubblica di default</strong> e può essere visualizzata da chiunque su internet e pertanto
    c'è la possibilità di partecipare al gruppo per l'interesse verso una particolare iniziativa
  </li>
  <li>la pubblicazione delle proposte <strong>sui social network</strong>, nello Spazio comune di Airesis o su blog e
    furum esterni;
  </li>
  <li>il <strong>blog personale</strong> dove i membri della comunità possono presentarsi e pubblicare nelle news dei
    vari gruppi a cui appartengono informazioni e comunicati, oltre che scambiare idee/opinioni;
  </li>
  <li>la possibilità di organizzare <strong>incontri "fisici" ("riunioni")</strong> fra i membri della comunità;</li>
  <li>la possibilità di <strong>segnalare eventi interessanti</strong> su un'area comune ("calendario");</li>
  <li>la presenza di <strong>un'area di discussione</strong> collegata ad ogni proposta, dove contribuire mediante
    suggerimenti all'autore che li potrà recepire in funzione delle valutazioni ottenute dal contributo;
  </li>
  <li>il <strong>sistema di reputazione</strong> che premia la partecipazione e la costruttività delle proposte ed
    incentiva la risoluzione dei problemi e la chiarezza espositiva;
  </li>
  <li>la possibilità di <strong>invitare i propri contatti</strong> a prendere parte alla discussione di una proposta;
  </li>
  <li>la possibilità di chiedere di diventare <strong>co-autori di una proposta</strong>;</li>
  <li>l'ovvia necessità, da parte degli autori delle proposte, di raccogliere il
    <strong>sostegno della comunità</strong>;
  </li>
  <li>la delibera sulle proposte tramite il <strong>voto</strong> dei membri certificati.</li>
</ul>
</div>
</div>
<div class="slide red">
<div class="row centered">
<h3 id="Anonimato_temporaneo">Anonimato temporaneo, voto segreto e auditable voting</h3>
<p> Una delle particolarità di Airesis è che gruppi
  <strong>possono scegliere se dibattere le proposte in modo anonimo o meno</strong>. </p>
<p> Se l'anonimato viene abilitato, autori e commentatori delle proposte sono indicati con uno
  <strong>pseudomino</strong>. Questa peculiarità consente di valutare le proposte, le critiche e i suggerimenti
  <strong>unicamente in base al loro contenuto</strong>, in modo imparziale, senza che il "nome" degli autori e le
  dinamiche di simpatia/antipatia interpersonali influenzino il dibattito. </p>
<p> In ogni caso, <strong>al termine del dibattito</strong> e dopo la votazione, i partecipanti verranno
  <strong>visualizzati con i loro nomi</strong> in modo da poter verificare gli interventi. </p>
<p> Questa opzione è <strong>applicabile anche alla votazione</strong>: è dunque possibile scegliere che questa abbia
  luogo con voto palese oppure segreto. Entrambe le opzioni presentano vantaggi e svantaggi, la cui entità dipende dalla
  particolare decisione da prendere. Ad esempio, il <strong>voto segreto</strong> evita che i membri della comunità
  possano essere messi sotto pressione per le loro opinioni (o peggio, perseguitati); il <strong>voto palese</strong>
  può incentivare una scelta responsabile nei confronti della collettività. Per ogni proposta<strong> è possibile
  scegliere</strong> il metodo di voto ritenuto più appropriato. </p>
<p> Importante, soprattutto in caso di voto segreto, è la possibilità di verificare l'effettiva registrazione del
  proprio voto e la <strong>non presenza di brogli</strong>. Questo è possibile attraverso il sistema di
  <a href="http://en.wikipedia.org/wiki/End-to-end_auditable_voting_systems">auditable voting </a> implentato in
  Airesis. </p>
</div>
</div>
<div class="slide yellow">
<div class="row centered">
<h3 id="Gestione_gruppi">Gestione dei gruppi e ruoli degli utenti</h3>


<p>Airesis implementa un sistema flessibile per poter gestire i <strong>permessi</strong> di cui ogni membro può
  disporre all'interno del gruppo in modo da poter imputare i seguenti <strong>ruoli</strong>: </p>
<ul>
  <li>Visualizzare le proposte private</li>
  <li>Contribuire alle proposte</li>
  <li>Inserire nuove proposte nel gruppo</li>
  <li>Pubblicare nella Home Page del gruppo</li>
  <li>Creare eventi e votazioni</li>
  <li>Sostenere proposte a nome del gruppo</li>
  <li>Aggiungere partecipanti nel gruppo</li>
  <li>Candidare utenti alle elezioni</li>
</ul>
<p>Airesis consente ai gruppi che ne fanno uso di scegliere le
  <strong>impostazioni che meglio si adattano alle loro esigenze</strong> e ai loro regolamenti interni. Risulta
  possibile, ad esempio, consentire l’accesso ad alcune funzioni solo agli
  <strong>utenti attivi e/o certificati</strong>, oppure a coloro che hanno un <strong>particolare ruolo</strong>. Vi è
  ampia libertà anche sulla gestione dei requisiti che le proposte devono raggiungere per accedere alla votazione.</p>
<p>Un’altra importante funzionalità è la <strong>suddivisione in aree/gruppi di lavoro</strong> grazie alla quale è
  possibile creare delle aree all’interno dei gruppi e poter imputare a ciascuna area dei partecipanti che potranno
  discutere delle proposte inerenti quella particolare area. A ciascun partecipante potranno essere assegnati
  <strong>ruoli particolari per ciascuna area</strong> in modo da rendere ancora più flessibile lo strumento. </p>
</div>
</div>
<!--
<div class="slide yellow">
  <div class="row centered">
<h3 id="Sistema_Reputazione"><span>Sistema di Reputazione e condivisione delle competenze</span></h3>
<span>In Airesis è previsto un sistema di reputazione basato su punteggi per ogni azione compiuta che incentiva:</span>
<ul>
  <li>la chiarezza espositiva</li>
  <li>la costruttività dei contributi</li>
  <li>la completezza del’informazione</li>
  <li>la partecipazione al dibattito</li>
  <li>la divulgazione della proposta</li>
  <li>la fiducia della community nell’utente</li>
</ul>
<p> Gli utenti che dimostrano migliori capacità potranno essere chiamati a svolgere attività che le valorizzano,
  riconoscendo il loro merito. Inoltre è possibile ricevere delle ‘medaglie' (riconoscimenti simbolici) da parte del
  gruppo nel caso di comportamenti particolarmente virtuosi. </p>
<p> Sarà inoltre inserito un sistema che consentirà agli utenti di mettere a disposizione le proprie competenze per
  l'elaborazione di proposte e per altre attività organizzate nei gruppi a cui partecipano. Gli utenti dovranno
  ovviamente precisare pubblicamente le modalità di acquisizione di ciascuna competenza. Risulta inoltre possibile
  inserire nel proprio profilo personale un link all'eventuale curriculum su Linkedin. </p>
<h2 id="descrizione_operativa"></a><span>Breve descrizione operativa</span></h2>
<p>Airesis è stato pensato per poter essere alla portata di tutti e pertanto è stato sempre data particolare importanza
  all’intuitività dell’interfaccia, all’usabilità, alle informazioni contestuali e ai tutorial per apprendere
  velocemente le sue funzioni tramite video guide e FAQ.</p>
  </div>
</div>                        -->
<div class="slide yellow">
  <div class="row centered">
<h3 id="Home_page">Home page</h3>
<span>La prima pagina a cui l'utente accede, è la sua "Home page" privata. Su questa è presente un elenco delle proposte di cui è autore (con evidenziato lo stato), l'elenco delle 'notifiche' di sistema (eventi, nuove proposte, contributi, valutazioni, commenti, ecc..) riguardanti le proposte sostenute o commentate o gli eventi, l'elenco dei 'gruppi' dei quali si è membri e la mappa della sua località.</span>
<p>In quest'area sono presenti altre due schede:</p>
<ul>
  <li><strong>Preferenze</strong> , per impostare i dati di account, unire i collegamenti ai social network e modificare
    le preferenze personali di su notifiche e privacy;
  </li>
  <li><strong>Blog</strong> , la pagina del blog personale (proprio dell'utente), ma di dominio pubblico</li>
</ul>
  </div>
</div>
<div class="slide">
  <div class="row centered">
<h3 id="Gruppi">Gruppi</h3>
L’accesso ai "Gruppi" può avvenire o premendo su ‘cerca gruppi’ dalla barra in alto o dalla colonna di sinistra della home page personale.

<p>Cliccando sul nome di un gruppo, si apre la relativa home-page (presentazione + news/blog). Nell’area delle proposte
  sono visualizzate quelle che il gruppo ha deciso di rendere pubbliche, mentre per visualizzare quelle interne
  (proposte ed eventi privati), bisogna chiedere all'amministratore locale l'ammissione al gruppo. </p>
<p>L'area proposte è divisa in quattro schede ("In dibattito","In votazione", "Votate", ”Abbandonate”), in cui sono
  elencate le proposte a seconda del loro stato. Cliccando sul titolo di una proposta, questa si apre, visualizzandone
  il testo e l’area dei contributi. Le proposte possono essere ulteriormente filtrate selezionando le Categorie o i Tag,
  in modo da visualizzare solo le proposte degli argomenti che interessano.</p>
<p>Ogni membro della comunità può promuovere una nuova proposta: per far ciò basta cliccare sul pulsante "Crea nuova
  proposta", e apparirà la form da compilare.</p>
<p>Accedendo all'interno di una proposta in discussione, i membri della comunità possono interagire con essa secondo le
  loro capacità, competenze e opinioni.</p>
<p>Infine è presente una scheda per gestire le elezioni ("Area candidati"), da qui si possono promuovere elezioni,
  promuovere candidature e accedere alla pagina delle votazioni.</p>
<h3 id="Spazio_comune">Spazio comune</h3>
<p>Cliccando su "Spazio comune" si accede all'area destinata alla gestione delle proposte che possono essere di comune
  interesse.</p>
<p>L'area delle proposte del gruppo si presenta simile a quella dei Gruppi; inoltre è presente anche un "calendario
  privato" che visualizza tutti gli eventi pubblici, più quelli privati relativi al gruppo.</p>
<p>Nello Spazio comune è presente anche una scheda "calendario", su cui sono evidenziati gli eventi destinati a tutta la
  comunità (segnalazione eventi, riunioni, votazioni). Cliccando su una nota, si apre la pagina relativa all'evento e, a
  seconda del tipo, si può interagire con esso (es. partecipando ad una votazione o segnalando la volontà di partecipare
  ad una riunione).</p>
  </div>
</div>
<div class="slide yellow">
  <div class="row centered">
<h3 id="Domande_Frequenti">FAQ - Domande Frequenti</h3>
<p>Vedi <a href="http://www.airesis.it/videoguide">Video Guide</a></p>
<h3 id="Migrazione_Meetup">Migrazione da Meetup</h3>
<p>Vedi
  <a href="https://docs.google.com/folder/d/0B0mabVhVw7EidS1YOTQ0ek15X1E/edit?docId=1bvC6FJ2MEiLDf157gkdGHbXu2fC9bF__8fl9wOmf67M">Lettera
    ai Meetup</a></p>
<h2 id="Storia_prospettive">Storia e prospettive</h2>
<p>Airesis nasce dall'unione dei progetti Agorà 2.0 e Airesis confluiti successivamente nell'associazione
  <a href="http://www.tecnologiedemocratiche.it/">Tecnologie Democratiche</a> che ha l'obiettivo di realizzare una
  innovativa piattaforma open-source per l'e-democracy.</p>
<p>Il lavoro è portato avanti interamente da volontari , uniti dalla volontà di creare uno strumento che consenta ai
  cittadini e ai gruppi di organizzarsi ed elaborare risposte ai problemi comuni in modo trasparente , democratico,
  partecipato, costruttivo, valorizzando l' intelligenza collettiva .</p>
<h3 id="democrazia_elettronica">Destinazione: la democrazia elettronica</h3>
<p>Airesis vuole rispondere alla necessità di usufruire di uno strumento informatico che possa integrare le funzioni
  principali di social network, gestione di eventi, forum e votazione, già esistenti se prese singolarmente, ma mai
  presenti contemporaneamente in alcun software.</p>
<p>La missione è ambiziosa, ma le tecnologie disponibili e la loro diffusione nel tessuto sociale rendono finalmente
  possibile l’attuazione di un progetto di democrazia elettronica.</p>
  </div>
</div>
<div class="slide red">
  <div class="row centered">
<h3 id="prossime_implementazioni">Storia del progetto</h3>
<p>Grazie alla determinazione dei volontari, quello che sembrava un sogno di libertà, ha trovato il supporto di numerose
  persone e finalmente il sostegno di programmatori, analisti, matematici, grafici e cittadini responsabili è riuscito a
  tracciare un percorso per la messa online della versione 1.0 di Airesis nel gennaio 2013.</p>
<p>Ora però occorre migliorare le funzioni e l’usabilità. Di seguito gli eventi salienti che hanno permesso la nascita
  del progetto:</p>
<p>Gennaio 2013 - uscita della versione 1.0:</p>
<ul>
  <li>Migliorata la gestione delle proposte</li>
  <li>Quorum personalizzati</li>
  <li>Miglioramenti grafici</li>
  <li>Condivisione dei contenuti sui social network</li>
</ul>
<p>Novembre 2012 - Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:</p>
<ul>
  <li>Miglioramento della scrivania dell'utente e del profilo utente</li>
</ul>
<ul>
  <li>Miglioramento della struttura e della grafica della pagina di elaborazione delle proposte</li>
  <li>Maggiore integrazione con i social network</li>
</ul>
<p>Fine settembre 2012 - Inizia la fase di sperimentazione della nuova versione del software da parte di alcuni gruppi.
  Tutti coloro che lo desiderano possono testare il software all'indirizzo
  <span class="c16"><a href="http://www.airesis.it/">http://www.airesis.it/</a>  , segnalare bug e suggerire miglioramenti al sistema.</span>
</p>
<p>Settembre 2012 <br/>
  La struttura di Airesis viene rivoluzionata dall'introduzione di uno spazio per le proposte e di un calendario
  all'interno dei gruppi. Miglioramento dello strumento di forum (con la possibilità di gestire anche dibattiti
  anonimi), miglioramento della grafica, correzione di alcuni bug.</p>
<p>Luglio 2012 <br/>
  Fusione del progetto Agorà 2.0 e del progetto Airesis</p>
<p>Giugno 2012 <br/>
  Esce una versione di Airesis in parte ispirata alle logiche di Agorà 2.0</p>
<p>Febbraio 2012 <br/>
  Il progetto Agorà 2.0 e Alessandro Rodi, sviluppatore della prima versione di Airesis entrano in contatto</p>
<p>Gennaio 2012 - Alessandro Rodi sviluppa una primissima versione della piattaforma Airesis che viene messa on line,
  contemporaneamente nel progetto Agorà 2.0 si assiste al completamento dei principali mockup ad opera del gruppo
  grafica e alla messa a punto della piattaforma di sviluppo.</p>
<p>Autunno 2011 <br/>
  Costituzione di un gruppo di lavoro dedicato allo studio dell'interfaccia grafica e di un gruppo di lavoro per la
  programmazione di Agorà 2.0.</p>
<p>Estate 2011 <br/>
  Completamento dello studio delle logiche di Agorà 2.0 e degli aspetti grafici più rilevanti e definizione dei casi
  d'uso (una sintesi è presentata qui
  <span class="c16"><a href="http://agora20.altervista.org/%20Informativa_Agora2punto0.pdf">http://agora20.altervista.org/
    Informativa_Agora2punto0.pdf</a>  e qui </span><span class="c16"><a href="http://www.slideshare.net/%20agora20/progettoagor2punto0">http://www.slideshare.net/
  agora20/progettoagor2punto0</a>  ). Intanto, Alessandro Rodi, ancora non in contatto con il progetto Agorà 2.0, avvia indipendentemente la programmazione di Airesis, un portale per l'e-democarcy.</span>
</p>
<p>Autunno 2010 <br/>
  Avvio dello studio delle logiche di Agorà 2.0</p>
<p>Estate 2010 <br/>
  Avvio dello studio delle esperienze di e-democracy presenti nel mondo ed attivazione di relazioni con alcune di esse
  (a partire da quelle italiane)</p>
<p>Primavera 2010 <br/>
  Avvio, nell'ambito del progetto Agorà 2.0, del dibattito su un nuovo strumento di e-democracy open source adatto a
  gestire anche l'elaborazione di proposte nell'ambito di un gruppo</p>
<h3 id="roadmap">Roadmap</h3>
<p>Per conoscere l'evoluzione di Airesis a partire dalla versione 1.0 e le novità previste per le versioni future,
  visita <a href="http://www.airesis.it/roadmap">questa pagina</a>.</p>
  </div>
</div>
<div class="slide violet">
  <div class="row centered">
<h2 id="Specifiche_tecniche"></a>Specifiche tecniche</h2>
Prima di cominciare lo sviluppo di Airesis sono state valutate una serie di opzioni che permettessero alla futura piattaforma le seguenti caratteristiche:
<ul>
  <li>Rapidità di Sviluppo</li>
  <li>Scalabilità delle Risorse</li>
  <li>Migrabilità del DataBase</li>
  <li>Sicurezza e Privacy</li>
  <li>Open Source e Trasparenza</li>
  <li>Interfaccia semplice e Intuitività</li>
</ul>
<p>al fine di poter venire incontro a tutte queste esigenze si è scelto di adottare delle soluzioni tecniche innovative
  e all’avanguardia.</p>
  </div>
</div>
<div class="slide green">
  <div class="row centered">
<h3 id="Sicurezza"></a>Sicurezza e privacy</h3>
Airesis è ospitato su server professionali sicuri e gestito da sistemisti  fidati, i dati sono conservati nel rispetto della privacy e protetti da firewall. La licenza AGPL inoltre permette a chiunque di scaricare il codice e analizzarlo. E’ prevista l’autenticazione sicura mediante LDAP e/o mediante altri standard (google authentication). Nel caso di voto segreto è possibile verificare la propria votazione mediante il sistema di auditable voting. La connessione con il server è cifrata mediante protocollo SSH e le password salvate nel database sono criptate con algoritmo SHA1.
<h3 id="hosting"></a>Scelta dell’hosting e caratteristiche</h3>
La scelta del l'hosting è importante e deve fornire tutti gli strumenti per "far girare" Airesis nella maniera più adeguata. La configurazione migliore per un ambiente con centinaia di utenti prevede l'utilizzo di Apache e Phusion Passenger per la gestione delle istanze dell'application server.
<p>È necessario disporre di Ruby 1.9 e Rails 3.1 per eseguire l'applicazione web.</p>
<p>Come database è consigliato Postgresql 9 con estensioni PostGIS e Redis Server.</p>
<p>La potenza del server sarà in funzione del carico di lavoro da sostenere. Attualmente airesis.it, con un migliaio di
  utenti occupa circa 10Gb di disco e 1Gb di memoria, con un carico giornaliero di rete di circa 1Gb.</p>
<h3 id="Releases"></a>Releases</h3>
I rilasci di Airesis avvengono costantemente e frequentemente circa ogni 30 giorni per le main releases, ogni 15 giorni per le minor releases e settimanalmente per i bug fixing.
<h3 id="Piattaforma"></a>Piattaforma di sviluppo</h3>
La piattaforma di sviluppo consigliata ed utilizzata dal team principale di Airesis è RedMine. La piattaforma è la più completa e flessibile al momento disponibile sul mercato. Il team di sviluppo dispone di una licenza gratuita offerta dalla JetBrain per lo sviluppo di progetti Open Source. Chi entra a far parte del team di sviluppo verrà dotato di ambiente con licenza gratuita per poter sviluppare nella maniera più agevole.
<h3 id="Bug_tracking"></a>Bug tracking</h3>
Il sistema di bugtraking di Airesis è attualmente in fase di sperimentazione e non disponibile pubblicamente. L'indirizzo temporaneo è http://bugtracking.alwaysdata.net e si possono visualizzare le attività schedulate per le prossime versioni.
<h3 id="Scalabilita"></a>Scalabilità</h3>
La scalabilità è un fattore molto importante per un'applicazione di democrazia diretta che può potenzialmente raggiungere le centinaia di migliaia di utenti. Per questo motivo il framework scelto è stato RubyOnRails sul quale sono basati molti siti di successo (in termini di numero di utenze) come Groupon e Twitter (recentemente passato a Java).
<h3 id="Gruppo_sviluppo"></a>Gruppo di sviluppo</h3>
Il gruppo di sviluppo è formato dai volontari dell'associazione Tecnologie Democratiche e da due programmatori con un contratto di collaborazione per lo sviluppo delle funzionalità più lunghe e complesse.
<a href="http://www.airesis.it/sostienici">I fondi vengono raccolti tramite donazioni private</a>.
<p></p>
  </div>
</div>




