<% @page_title = "Cos'è airesis?"%>
<% @page_descr = "Uno strumento di democrazia diretta nato per decidere e deliberare collettivamente su proposte e idee nate ovunque per qualsiasi tema. "%>
<% content_for :left_panel do %>
<div style="position:fixed; margin-left:7px">
	<div id="navlist" class="well" style="padding: 3px 0px; margin: 0px;">
		<ul class="nav nav-list">
			<li>
				<h6 class="nav-header">Contenuti</h6>
			</li>
			<li >
				<a href="#strumento">Cos'&egrave;</a>
			</li>
			<li>
				<a href="#slideshow">Presentazione</a>
			</li>
			<li>
				<a href="#principi">Principi</a>
			</li>
          <li>
            <a href="#caratteristiche">Caratteristiche</a>
          </li>
          <li>
            <a href="#roadmap">Roadmap</a>
          </li>
		</ul>
	</div>
</div>
<% end %>
<h2  id="strumento">Uno strumento deliberativo di massa</h2>
<p>
	Airesis &egrave; uno strumento decisionale nato per rendere pi&ugrave; veloci, condivise e partecipate le deliberazioni 
	relative a delle proposte pubblicate online, basato suio seguenti principi:
</p>
<ul>
	<li>
		Partecipazione
	</li>
	<li>
		Trasparenza
	</li>
	<li>
		Dialogo costruttivo
	</li>
	<li>
		Equit&agrave;
	</li>
	<li>
		Flessibilit&agrave;
	</li>
</ul>
<p>
	Esistono gi&agrave; numerosi strumenti che permettono di realizzare votazioni on line, di scrivere documenti in modo collaborativo, 
	di emendare proposte, di adottare metodiche di problem solving, di confrontarsi, di organizzare iniziative, di mettersi in contatto, 
	di condividere informazioni o risorse. <br />
	Tuttavia non ne esiste ancora nessuno che permetta di fare tutte queste cose in modo organico, 
	semplice ed intuitivo consentendo la <b>democrazia diretta</b>. <br />
	Per questo la maggior parte dei gruppi utilizza mailing list, forum, facebook, o altri strumenti che rendono difficile lavorare 
	insieme in modo produttivo, elaborare una sintesi condivisa, individuare le migliori soluzioni per risolvere i problemi e sceglierle. 
	Airesis &egrave; stato concepito come uno strumento decisionale di <b>democrazia diretta</b> per rispondere a questi problemi.
</p>
<h2  id="slideshow">Slideshow di presentazione</h2>
<iframe src="https://docs.google.com/presentation/embed?id=1w3nD2CQiK4GpOOhpM7vtyaCdbQwDHPjat2Dj1oe2qjA&start=false&loop=false&delayms=3000" frameborder="0" width="770" height="620" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<iframe src="http://www.slideshare.net/slideshow/embed_code/14374071" width="770" height="620" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen></iframe>
<h2  id="principi">Principi che guidano il nostro progetto </h2>
<ul>
	<li>
		<h3>Partecipazione</h3>
		Coinvolgere i cittadini significa avere a disposizioni più energie, più punti di vista. Solo attraverso la partecipazione diretta è possibile approfondire i problemi, cambiare idea, comprendere cosa si vuole veramente.
		La partecipazione è l’essenza di decisioni rappresentative.
	</li>
</ul>
<ul>
	<li>
		<h3>Trasparenza e Sicurezza</h3>
		Senza trasparenza le regole possono essere facilmente aggirate e la democrazia degenera in fretta. Trasparenza significa anche apertura, capacità di accogliere: per
		questo Airesis consente anche agli utenti non registrati di visionare i contenuti del sito.
	</li>
</ul>
<ul>
	<li>
		<h3>Dialogo costruttivo</h3>
		Nessuno ha in tasca tutte le risposte giuste, altrimenti non vi sarebbe bisogno di democrazia. Con opportuni strumenti, elaborare idee a più mani può risultare molto più produttivo che farlo da soli.
	</li>
</ul>
<ul>
	<li>
		<h3>Equit&agrave;</h3>
		Equità significa eguaglianza effettiva di possibilità.
		Senza equità ogni democrazia è un po’ un’oligarchia.
	</li>
</ul>
<ul>
	<li>
		<h3>Flessibilit&agrave;</h3>
		Ogni gruppo ha le proprie necessità, ogni proposta è diversa dalle altre, ogni utente ha le proprie esigenze.
	</li>
</ul>
<h2  id="caratteristiche">Caratteristiche e funzioni </h2>
<ul>
	<li>
		Registrazione e integrazione con Facebook
	</li>
	<li>
		Gestione dei gruppi, ruoli e permessi per gli iscritti
	</li>
	<li>
		Gestione di eventi e dei partecipanti
	</li>
	<li>
		Inserimento proposte assistito
	</li>
	<li>
		Possibilit&agrave; di discussioni anonime (con la creazione di nickname!)
	</li>
	<li>
		Creazione di elezioni e votazione tramite metodo di Schulze
	</li>
	<li>
		Gestione di blog personali e stream dei gruppi
	</li>
	<li>
		Filtri geografici di interesse
	</li>
</ul>

<h2>Coinvolgimento</h2>
<ul>
	<li>
		Informazione (Documenti,
		Informazioni e notizie,
		Open data)
	</li>
	<li>
		Cosultazione (Sondaggi,
		Blog post)
	</li>
	<li>
		Partecipazione (Proposte, Eventi)
	</li>
</ul>
<h2  id="roadmap">Destinazione: la democrazia elettronica</h2>
<p>Airesis nasce dall'incontro di un progetto avviato oltre due anni fa denominato Agora 2.0 a seguito della necessit&agrave; di usufruire di uno strumento informatico che potesse integrare le funzioni principali di social network, gestione di eventi, forum e votazione, gi&agrave; esistenti se prese singolarmente, ma mai presenti contemporaneamente in alcun software.</p>
<p>La nostra missione &egrave; ambiziosa, ma sappiamo che &egrave; possibile realizzarla con gli strumenti giusti, passo dopo passo.</p>
<p>Grazie alla nostra determinazione quello che sembrava un sogno di libert&agrave;, ha trovato il supporto di numerose persone e finalmente il sostegno di programmatori, analisti, matematici, grafici e cittadini responsabili &egrave; riuscito a tracciare un percorso per la messa online di Airesis entro gennaio 2013. Successivamente saranno previste ulteriori release del software a cadenza mensile o bimestrale per soddisfare le richieste e le esigenze degli utenti, nell'ottica del miglioramento continuo.</p>
<p><strong>Gennaio 2013</strong> - data ultima per l'uscita di una nuova versione del software con nuove funzioni, tra cui:</p>
<ul>
  <li>Log delle operazioni degli amministratori</li>
  <li>Possibilit&agrave; di invitare alla discussione di una proposta i propri contatti facebook, google mail o su altri social network</li>
  <li>Url significativi per le pagine</li>
  <li>Miglioramento e ampliamento dei metodi di votazione delle proposte</li>
</ul>
<p><strong>Novembre 2012</strong> - Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:</p>
<ul>
  <li>Miglioramento della scrivania dell'utente e del profilo utente</li>
  <li>Gestione di competenze nei gruppi</li>
</ul>
<p><strong>Ottobre 2012</strong> - Uscita di una nuova versione del software rivista e con nuove funzioni, tra cui:</p>
<ul>
  <li>Connessione tramite HTTPS</li>
  <li>Miglioramento della struttura e della grafica della pagina di elaborazione delle proposte</li>
  <li>Maggiore integrazione con i social network</li>
</ul>
<p><strong>Fine settembre 2012</strong> - Inizia la fase di sperimentazione della nuova versione del software da parte di alcuni gruppi. Tutti coloro che lo desiderano possono testare il software all'indirizzo <a href="http://www.airesis.it/">http://www.airesis.it/</a> , segnalare bug e suggerire miglioramenti al sistema.</p>
<p><strong>Settembre 2012</strong> - La struttura di Airesis viene rivoluzionata dall'introduzione di uno spazio per le proposte e di un calendario all'interno dei gruppi. Miglioramento dello strumento di forum (con la possibilit&agrave; di gestire anche dibattiti anonimi), miglioramento della grafica, correzione di alcuni bug.</p>
<p><strong>Luglio 2012</strong> - Fusione del progetto Agor&agrave; 2.0 e del progetto Airesis</p>
<p><strong>Giugno 2012</strong> - Esce una versione di Airesis in parte ispirata alle logiche di Agor&agrave; 2.0</p>
<p><strong>Febbraio 2012</strong> - Il progetto Agor&agrave; 2.0 ed Airesis entrano in contatto</p>
<p><strong>Gennaio 2012</strong> - Una primissima versione della piattaforma Airesis viene messa on line, nel progetto Agor&agrave; 2.0 si assiste al completamento dei principali mockup ad opera del gruppo grafica e alla messa a punto della piattaforma di sviluppo.</p>
<p><strong>Autunno 2011</strong> - Costituzione di un gruppo di lavoro dedicato allo studio dell'interfaccia grafica e di un gruppo di lavoro per la programmazione di Agor&agrave; 2.0.</p>
<p><strong>Estate 2011</strong> -  Completamento dello studio delle logiche di Agor&agrave; 2.0 e degli aspetti grafici pi&ugrave; rilevanti e definizione dei casi d'uso (una sintesi &egrave; presentata qui <a href="http://agora20.altervista.org/%20Informativa_Agora2punto0.pdf" target="_blank">http://agora20.altervista.org/ Informativa_Agora2punto0.pdf</a> e qui <a href="http://www.slideshare.net/%20agora20/progettoagor2punto0" target="_blank">http://www.slideshare.net/ agora20/progettoagor2punto0</a> ). Intanto, Alessandro Rodi, ancora non in contatto con il progetto Agor&agrave; 2.0, avvia indipendentemente la programmazione di Airesis, un portale per l'e-democarcy.</p>
<p><strong>Autunno 2010</strong>- Avvio dello studio delle logiche di Agor&agrave; 2.0</p>
<p><strong>Estate 2010</strong> - Avvio dello studio delle esperienze di e-democracy presenti nel mondo ed attivazione di relazioni con alcune di esse (a partire da quelle italiane)</p>
<p><strong>Primavera 2010</strong> - Avvio, nell'ambito del progetto Agor&agrave; 2.0, del dibattito su un nuovo strumento di e-democracy open source adatto a gestire anche l'elaborazione di proposte nell'ambito di un gruppo</p>
<p><br>
</p>
