<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<% @page_title = "Chi siamo"%>
<% @page_descr = "Un gruppo di volontari che vogliono migliorare il mondo in cui si vive, dei cittadini come te. "%>
<h2 id="opensource">Cittadini che vogliono una democrazia pi&ugrave; evoluta</h2>

<p>Airesis nasce dall'unione dei progetti Agor&agrave; 2.0 e Airesis, con l'obiettivo di realizzare al pi&ugrave; presto una innovativa piattaforma open-source per l'e-democracy. </p>
<p>Il lavoro &egrave; portato avanti <strong>interamente da volontari </strong>, uniti dalla volont&agrave; di creare uno strumento che consenta ai cittadini e ai gruppi di organizzarsi ed elaborare <strong>risposte ai problemi comuni </strong>in modo <strong>trasparente </strong>, <strong>democratico </strong>, <strong>partecipato </strong>, <strong>costruttivo </strong>, valorizzando l' <strong>intelligenza collettiva </strong>. </p>
<h2 id="opensource">I nostri volontari sono persone come te</h2>
<p>Se anche tu condividi il nostro obiettivo <a href="http://www.votiamoci.it/contenuto.asp?pag=partecipa">puoi contribuire</a> contattando i nostri volontari: </p>

<h3>Area Sviluppo</h3>
<div class="scheda_volontario">
	<div class="image_volontario">
	<%=image_tag "volunteers/rodi_alessandro.jpg"%>
	</div>
	<div class="descrizione_volontario">
  Referente per la programmazione : Alessandro Rodi 
<a href="skype:coorasse?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype" /></a><br>		
	</div>	
  </li>
</div> 
Altri volontari particolarmente attivi nella programmazione (in ordine alfabetico) : Fabio Parmegiano Palmieri, Marino Tilatti, Michelangelo Marchesi, Simone Curini. <br>
<h3>Area test e segnalazione bug</h3>

  <li>Referente per il <strong>test della piattaforma </strong>: Riccardo Leone
<a href="skype:rikkardoleone?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype" /></a>
<br>
  </li>
<h3></h3>

<h3>Analisi funzionalità, grafica e organizzazione</h3>

  <li>Referente per partecipare alle riunioni skype del gruppo: Simone Curini
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:curini.simone?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype" /></a>
<br>
  </li>
  <li>Referente per la <strong>grafica </strong>e la richiesta <strong>informazioni generali </strong>: <br>
    Nicola Giulietti 
    
    <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
 <a href="skype:nicolagiulietti?add"><img src="http://download.skype.com/share/skypebuttons/buttons/add_green_transparent_118x23.png" style="border: none;" width="118" height="23" alt="Aggiungimi a Skype" /></a><br>
cell 380/2931955<br>email: 
<a href="mailto:nicolagiulietti@hotmail.it">nicolagiulietti@hotmail.it
</a></li>
</ul>

<h3>Altri volontari attivi</h3>

<p>Altri volontari attivi (in ordine alfabetico) : Alessandro Molinari, Andrea Tonello, Chiara Gianferrari, Giacomo Albensi, Fabio Alemagna, Laura Maccioni, Marco di Agostino, Pietro Speroni di Fenizio. </p>

<h3>Hanno contribuito</h3>
<p>Hanno messo il loro tempo libero a disposizione del progetto anche (in ordine alfabetico): Alessandro Socciarello, Andrea Papini, Aramis amantini, Danilo Mezgec, Enrico Mengotti, Fabio Ceccarelli, Francesco Ercavalierenero, Gianmarco Barel, Marco Zordan, Mauro Sasso, Matteo Martini, Massimo Pagani, Pietro Polimeri, Simone D'Errico...</p>
<h3>Uno speciale ringraziamento a</h3>

<ul>
  <li>Chi ha lavorato nell'ombra per divulgare il progetto aiutandoci a reperire le professionalit&agrave; necessarie per portarlo avanti. <br>
  </li>
  <li>Chi ha contribuito economicamente a sostenere le spese per lo spazio su server, il dominio, e tutto quello che pu&ograve; servire anche in un progetto portato avanti da volontari. <br>
  </li>
  <li>Chi ci segue attraverso le nostre pagine facebook e le nostre mailing list, fornendo utili consigli, informazioni ed un caldo supporto morale. <br>
  </li>
  <li>Chi ha ospitato nella propria sede o nella propria casa le riunioni fisiche del gruppo. </li>
</ul>

