<div class="mini_event">
  <div style="float:left">
    <%= render partial: 'events/calendar_icon', locals: {time: event.starttime} %>
  </div>
  <div style="float:left">
    <p><%= link_to event.title, event %></p>
    <p></p>
  </div>

  <div class="clearboth"></div>
</div>
