<div class="mini_event">
  <div style="float:left">
    <%= render :partial => 'events/calendar_icon', :locals => {:time => event.starttime} %>
  </div>
  <div style="float:left">
    <%= event.title %>
  </div>

  <div class="clearboth"></div>
</div>