//$('#event_actions').fadeOut();
var event_edit = $('<div id="event_edit"></div>');

event_edit.dialog({
    title : '<%=j 'Modifica evento'%>',
    modal : true,
    width : 740,
    height: 'auto',
    close : function(event, ui) {
        event_edit.dialog('destroy');
        event_edit.remove();
    }
});

event_edit.html("<%= escape_javascript(render(:partial => 'edit_form'))%>");
