<% @extend=true %>
<div class="card">
  <%= render 'edit_form' %>
</div>

<% content_for :left_panel do %>
    <div class="mybox">
      <%= link_to (@group ? group_event_path(@group, @event) : event_path(@event)),
                  class: 'btn', data: {disable_with: t('loading')} do %>
          <%= t('buttons.go_back') %>
      <% end%>
    </div>
<%end%>
