$('#create_event_dialog').html("<%= j (render(partial: 'wizard'))%>");
<%unless params[:models] %>

<%end%>

start_end_fdatetimepicker($('#event_starttime'), $("#event_endtime"));

$('.legend').hide();

$("#new_event").quickWizard({
    prevButton: '<button id="form-wizard-prev" type="button" class="btn backButton"><%=j t('buttons.go_back')%></button>',
    nextButton: '<button id="form-wizard-next" type="button" class="btn blue forwardButton"><%=j t('buttons.next')%></button>',
    nextCallback: function () {
        setTimeout(function () {
            google.maps.event.trigger(map, 'resize');
            map.setCenter(latlng);
        }, 1000);
    },
    prevCallback: function () {
    }
});

window.ClientSideValidations.selectors = {
    inputs: ':input:not(button):not([type="submit"])[name]:enabled',
    validate_inputs: ':input:enabled:visible[data-validate], .select2-container:visible ~ :input:enabled[data-validate]',
    forms: 'form[data-validate]'
};

$('#new_event').enableClientSideValidations();

disegnaBottoni();

<%unless @event.is_votazione? %>
if (!geocoder) {
    geocoder = new google.maps.Geocoder();
}

var latlng = new google.maps.LatLng(42.407235, 14.260254);

var myOptions = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    mapTypeControl: false
};

map = new google.maps.Map(document.getElementById('create_map_canvas'), myOptions);

marker = new google.maps.Marker({
    map: map,
    position: latlng,
    draggable: true
});

google.maps.event.addListener(marker, 'dragend', listenMarkerPosition);
google.maps.event.addListener(map, 'center_changed', listenCenterChanged);
google.maps.event.addListener(map, 'zoom_changed', listenZoomChanged);

<%end%>

$('#create_event_dialog').foundation('reveal', 'open', {
    closeOnBackgroundClick: false,
    closeOnEsc: false
});
