<%proposalsnumber = proposals.count%>
<%if proposalsnumber > 0 %>
<% proposals.each do |proposal| %>
<div >
	<%= render partial: 'proposals/proposal_list_element', locals: {proposal: proposal}%>
</div>
<% end %>
<%end %>

