<% if election.event.is_not_started? %>
    <% @time = election.event.starttime %>
    <% @msg = 'Inizio iscrizione candidati tra:' %>
<% elsif election.is_candidates_phase? %>
    <% @time = election.candidates_end_time %>
    <% @msg = 'Chiusura iscrizione candidati ed inizio votazione tra:' %>
<% elsif election.is_voting_phase? %>
    <% @time = election.event.endtime %>
    <% @msg = 'Chiusura votazioni tra:' %>
<% else %>
    <% @closed = true %>
<% end %>
<% unless @closed %>
    <script type="text/javascript">

        var endDate = new Date(<%=@time.utc.to_i*1000%>);
        toastr.options = {tapToDismiss: false, extendedTimeOut: 0, timeOut: 0};
        toastr.info("<div class='countdown_header'><%=@msg%></div><div id='countdown'></div><div class='clearboth'></div>");
        $('#countdown').countdown($.extend({until: endDate, onExpiry: refreshAll}, $.countdown.regionalOptions['it']));

        function refreshAll() {
            window.location.reload();
        }

    </script>
<% end %>
