<div class="legend first">
  <div class="number">1</div>
  <div class="title">
    <%= t('pages.proposals.new.step_1') %>
  </div>
</div>
<div class="legend">
  <div class="number">2</div>
  <div class="title">
    <%= t('pages.proposals.new.step_2') %>
  </div>
</div>
<div class="legend">
  <div class="number">3</div>
  <div class="title">
    <%= t('pages.proposals.new.step_3') %>
  </div>
</div>
<div class="legend last">
  <div class="number">4</div>
  <div class="title">
    <%= t('pages.proposals.new.step_4') %>
  </div>
</div>