development:
  adapter: postgresql
  encoding: unicode
  database: AiresisDevelopment
  pool: 20
  username: postgres
  password: postgres  
  host: localhost
  port: 5432

#test:
#  adapter: postgresql
#  encoding: unicode
#  database: AiresisTest
#  pool: 20
#  username: postgres
#  password: postgres
#  host: localhost
#  port: 5432

#production:
#  adapter: postgresql
#  encoding: unicode
#  database: AiresisProduction
#  pool: 5
#  username: postgres
#  password: postgres
#  host: localhost
#  port: 5432
