<div class="cont-mess gray scrollable">
  <% @unread.each do |alert| %>
      <li>
        <a class="card mess new" href="<%= check_alert_path(alert) %>" data-proposal-id="<%= @proposal_id %>">
          <div>
            <p class="p2"><%= alert.message.html_safe %></p>

            <div class="p1"><%= l alert.created_at %></div>
          </div>
          <div class="clearboth"></div>
        </a>
      </li>
  <% end %>
</div>
