<%@extend = true %>
<h1><%= @page_title %></h1>

<div data-tag-cloud>
  <p>
  <% @tags.each do |tag| %>
      <%= link_to tag.text, tag_path(tag.text), rel: tag.groups_count, class: 'round label',
                  title: t('.tag_title', {proposals: tag.proposals_count,
                                          blog_posts: tag.blog_posts_count,
                                          groups: tag.groups_count}) %>
  <% end %>
  </p>
</div>

<script type="text/javascript">

    $('[data-tag-cloud] a').qtip({
        position: {
            at: 'bottom center',
            my: 'top center'
        },
        style: {
            classes: 'qtip-light qtip-shadow'
        }
    });
</script>
