<h2>Elenco proposte con tag: '<%= @tag %>'</h2>
<% if @proposals.size == 0 %>
	<div class="Proposal">
		<p>Non vi sono ancora proposte con questo tag.</p>
	</div>
<% else %>
	<%= render :collection => @proposals, :partial => 'proposals/proposal_list_element', :as => 'proposal' %>
<% end %>



<h2>Elenco post con tag: '<%=@tag%>'</h2>
<% if @blog_posts.size == 0 %>
	<div class="blogPost">
		<p>Non vi sono ancora Post con questo tag.</p>
	</div>
<% else %>
	<%= render :collection => @blog_posts, :partial => 'blog_posts/blog_post' %>
<% end %>
