<% @page_tile = 'Page not found' %>
<%@extend=true%>
  <div class="error_dialog card">
    <div style="text-align: center;">
    <h1><%=raw @title || t('error.error_404.title')%></h1>
    <p><%=raw @message ||t('error.error_404.description')%></p>
    <%=link_to t('buttons.go_back'), :back%>
    </div>
  </div>
