<style type="text/css">
		div.error_dialog {
			width: 450px;
			padding: 0 4em;
			margin: 0px auto 20px;
			border: 1px solid #ccc;			
		}
		div.error_dialog h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
	</style>

  <div class="error_dialog shadow-box">
    <div style="float:left; text-align: center;width:100%;">
      <img src="/assets/allbroken128.png" style="margin: auto;display: block;">
    </div>
    <div style="float:left; text-align: center;">
      <h1>Oops...errore nostro</h1><!--TODO:I18n-->
      <p>E' stata inviata una segnalazione e l'errore verrà risolto quanto prima.
      </p>
      <%=link_to 'Torna indietro, grazie...', :back%>
    </div>
      <div style="clear: both;"></div>
  </div>