<%@extend=true%>
<div class="error_dialog card">

  <div style="text-align: center;">
    <h1><%= t('error.error_302.title')%></h1>
    <p><%= t('error.error_302.description')%></p>
    <%=link_to t('buttons.go_back'), :back%>
  </div>
  <div style="clear: both;"></div>
</div>