<a href="#" onclick="$('#schulze_modal').dialog({ height: 'auto', width: 750 });return false;" class="buttonStyle littleText">Sai come funziona?</a>
<div id="schulze_modal" title="Votazione di Schulze" style="width:400px;height:400px;display:none;text-align: justify" >
  <div>
    In questa votazione viene utilizzato il <b>metodo di Schulze</b>.<br />
    Esso permette di esprimere la propria preferenza in maniera più precisa rispetto ad una votazione tradizionale!<br />
    Accanto ad ogni opzione puoi assegnare una valutazione in base alla tua preferenza: <b>più è alto tale valore, maggiore è la tua preferenza</b>.<br />
    Ciò che viene considerato è l'ordine di preferenza con il quale hai disposto le diverse opzioni e non il valore assoluto.<br />
    Qualche esempio:
    <ul>
      <li>se non assegni nessun voto questo equivale a dire che non hai preferenze;</li>
      <li>se assegni a tutte le opzioni la stessa valutazione, ancora una volta questo significa che non hai preferenze;</li>
      <li>se valuti una sola opzione, qualsiasi punteggio tu inserisca, questo significa che preferisci lei rispetto a tutte le altre (come in una votazione semplice);</li>
      <li>se fornisci diverse valutazioni per le diverse opzioni imposterai il tuo ordine di preferenze; questo vuole dire che puoi indicare la tua preferita, ma anche quella che viene subito dopo e che magari ritieni comunque migliore delle rimanenti.</li>
    </ul>

  </div>
</div>