<p class="points">
    <span class="littleText">Score</span> <span class="rightAlign"><%=object.valutations %></span>
</p>
<p class="ranking">
    <span class="littleText">Rank</span> <span class="rightAlign"><%=object.rank %>%</span>
</p>