<div class="text"><b>La pagina delle candidature del gruppo
<br />
</b>
Questa è la pagina dove vengono riassunte tutte le candidature passate e attuali del gruppo.
<br />
Il sistema gestisce un meccanismo di elezioni per cui ciascun gruppo può indirne di interne e aperte a più gruppi.
In questa pagina sono riportati i nomi degli utenti inviati dal gruppo alle diverse elezioni.
Da qui potete visualizzare le pagine dei singoli utenti o quelle delle elezioni a cui partecipano.
<div style="clear: both"></div>
<%= link_to 'Ok', complete_tutorial_step_path(@step.tutorial,@step), :class => 'buttonStyle', :style => "float:right;" %>
<div style="clear: both"></div>
</div>