<div class="text"><b>Il dibattito anonimo</b>
<br />
Il dibattito delle proposte avviene in modo anonimo per garantire che ciascuno possa scrivere nella più completa libertà.<br />
Questo garantisce che le valutazioni che vengono date saranno improntate unicamente sul contenuto e non sulla persona che le ha scritte.<br />
Quando inizierai a partecipare, a fianco del tuo nome utente, ti verrà mostrato il nickname con il quale ti vedono gli altri partecipanti alla discussione.<br />
Sul menu laterale a sinistra puoi anche vedere qual è l'avatar che ti è stato assegnato in automatico dal sistema.<br />
Al termine della discussione i nicknames verranno nascosti e potrai vedere chi sono le persone con cui stavi dialogando ;)<br />
<b>Buon divertimento!</b>
<div style="clear: both"></div>
<%= link_to 'Ok', complete_tutorial_step_path(@step.tutorial,@step), :class => 'btn blue', :style => "float:right;" %>
<div style="clear: both"></div>
</div>