[
    {
        element: '#centerpanelextended .centerfloat',
        intro: "<div class=\"text\"><b>Gestione di una proposta</b><br />Quando si scrive una nuova proposta è bene ricordare che la sua gestione è totalmente affidata agli autori.<br />Una volta inserita la proposta la modificherai per aumentare il numero di valutazioni positive. <br />Se il ranking della sua proposta è maggiore del quorum scelto allora sarà possibile votare la proposta.<br />Se al contrario il ranking è inferiore al quorum allora la proposta verrà automaticamente respinta.<br /></div>",
        position: 'left'

    }
]
