[
    {
        element: '#centerpanelextended .centerfloat',
        intro: "Benvenuto nella tua prima proposta in dibattito su Airesis. Questo tutorial ti spiegherà nel dettaglio le parti di cui si compone",
        position: 'left'

    },
    {
        element: '.proposalTitle',
        intro: "Questo è il titolo della proposta e l'obiettivo che si vuole raggiungere",
        position: 'left'

    },
    {
        element: '.status_description',
        intro: "Qui sono indicate le regole del dibattito e per quanto tempo si svolgerà",
        position: 'left'

    },
    {
        element: '.proposal_main',
        intro: "Questi sono i paragrafi di cui si compone il testo della proposta",
        position: 'left'

    },
    {
        element: '.solution_main',
        intro: "Questa è una soluzione. Anche la soluzione si compone di diversi paragrafi. I redattori scriveranno una o più soluzioni per risolvere la problematica riscontrata",
        position: 'left'

    },
    {
        element: '.solution_main .contributeButton',
        intro: "Attraverso questi pulsanti potrai visualizzare i contributi dati dagli utenti e darne a tua volta. I contributi sono sempre relativi ad un paragrafo...",
        position: 'left'

    },
    {
        element: '#proposalNewComment',
        intro: "Utilizza questo campo per lasciare un contributo che non fà riferimento ad un paragrafo specifico",
        position: 'left'

    },
    {
        element: '#menu-left .menu2',
        intro: "Nel menu a sinistra troverai tutte le informazioni che ti servono che riguardano la proposta",
        position: 'right'

    },
    {
        element: '.points .inpoints',
        intro: "Il numero di valutazioni espresse dai partecipanti. Ovvero quanti partecipanti hanno indicato se la proposta debba passare in votazione o meno",
        position: 'right'

    },
    {
        element: '.points .ranking',
        intro: "La maturità della proposta, ovvero qual è la percentuale di partecipanti che ritiene che il dibattito possa essere chiuso e la proposta psosa essere votata",
        position: 'right'

    },
    {
        element: '#status',
        intro: "Lo stato in cui si trova la proposta. In questo caso siamo nella fase di dibattito",
        position: 'right'

    },
    {
        element: '#menu-left .dates',
        intro: "Date di creazione e di ultima modifica",
        position: 'right'

    },
    {
        element: '.socialnetwork',
        intro: "I pulsanti per condividere la proposta con i tuoi amici e invitarli alla discussione",
        position: 'right'

    },
    {
        element: '#menu-left .mybox.authors',
        intro: "Gli attuali redattori del testo della proposta",
        position: 'right'

    },

    {
        element: '#menu-left .mybox.category',
        intro: "La categoria assegnata",
        position: 'right'

    },
    {
        element: '#voteup',
        intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription4')%></div>",
        position: 'right'
    },
    {
        element: '#votedown',
        intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription5')%></div>",
        position: 'right'
    },
    {
        element: '.handscontainer',
        intro: "<div style='width:300px'><%=j t('pages.steps.rank_bar_explain.newdescription6')%></div>",
        position: 'right'
    }
]
