<div class="text"><b>Benvenuto su Airesis, <%= current_user.name%>
<br />
</b>
Questo breve tutorial ti aiuterà nelle prime scelte all'interno del sistema.
<br />
Questa che vedi è la tua scrivania: qui troverai tutte le informazioni che ti servono per restare in contatto con il tuo territorio.<br/>
Potrai gestire le tue proposte ed i gruppi ai quali partecipi, visualizzare gli eventi organizzati vicino a te ed entrare in contatto
con gli altri cittadini.<br />
Migliora Airesis segnalando eventuali anomalie a <a href="mailto:info@airesis.it">info@airesis.it</a>.<br />
<div style="clear: both"></div>
<%= link_to t('pages.steps.next'), complete_tutorial_step_path(@step.tutorial,@step), :class => 'btn blue forwardButton', :style => "float:right;" %>
<div style="clear: both"></div>
</div>
