<div class="text">
  <%=t('pages.steps.welcome.title_html', user: current_user.name)%>
  <%=t('pages.steps.welcome.description_html')%>
  <div style="clear: both"></div>
  <%= link_to t('buttons.next'), complete_tutorial_step_path(@step.tutorial, @step), :class => 'btn blue forwardButton', :style => "float:right;" %>
  <div style="clear: both"></div>
</div>
<!--TODO:I18n-->


<!--just a test with intro.js-->
<!--<script type="text/javascript">
    $(function () {
        $('.centerfloat').prepend('<div style="position: absolute; width: 100%; height: 400px;" id="tutorial1" ></div>');
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    element: '#tutorial1',
                    intro: "Questa che vedi è la tua <b>scrivania</b>:<br/> qui potrai gestire le <b>tue proposte</b> ed i <b>gruppi</b> ai quali partecipi, visualizzare gli <b>eventi</b> ed entrare in contatto con gli altri cittadini.",
                    position: 'left'

                }
            ],
            skipLabel: 'Ok'
        });
        intro.oncomplete(function() {
            $('body').css('overflow','auto');
            $.ajax({
                url: '<%=complete_tutorial_step_path(@step.tutorial, @step)%>'
            })
        })
        intro.start();
        $('body').css('overflow','hidden');
    })
</script>-->