<%unless @proposal.users.include?(current_user) %>
    <div class="mycont">
      <%if @proposal.available_user_authors.include?(current_user)%>
            <%= t('pages.proposals.show.offered_as_editor_message') %>
        <%else%>
            <%if (can? :participate, @proposal) || (!current_user && !@proposal.private) %>
                <span id="voglioredigere"><%=link_to t('pages.proposals.show.offer_as_editor_button'),  {controller: "proposals", action: "available_author", group_id: params[:group_id]}, remote: true, method: :post, :class=> 'btn contactButton', data: {confirm: t('pages.proposals.show.confirm_editors_button'), disable_with: t('loading')}%></span>
            <%end%>
	    <%end%>
    </div>
<%end%>

