<%unless @proposal.users.include?(current_user) %>
	<%if @proposal.available_user_authors.include?(current_user)%>
        Ti sei offerto per redigere la sintesi della proposta
    <%else%>
        <span id="voglioredigere"><%=link_to 'Voglio redigere la sintesi!',  {:controller => "proposals", :action => "available_author", :group_id => params[:group_id]}, :remote => true, :method => :post, :class=> 'buttonStyle littleText disableButton'%></span>
	<%end%>
<%end%>
<script>
    $(function() {
        $('#voglioredigere').ctooltip("Chiedi ai redattori di poter modificare il testo della proposta sulla base dei contributi degli utenti.");
    });
</script>

