<div class="blogComments" id="proposalComments">
  <% if @proposal_comments.any? %>
      <%= render partial: 'proposals/comment', collection: @proposal_comments, as: :comment %>
  <% else %>
      <div class="no-contributes-yet"><%= t('pages.proposals.show.no_contributes_yet') %></div>
  <% end %>
</div>
