<div class="blogComments" id="proposalComments">
  <% if @proposal_comments.any? %>
      <% @proposal_comments.each do |comment| %>
          <%= render partial: 'proposals/comment', locals: {comment: comment} %>
      <% end %>
  <% else %>
      <div class="no-contributes-yet"><%= 'No contributes yet' %></div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {

        $('.proposalComment[data-collapsed=true]').show(600);

        /*$('.deleteCommentLink').unbind('click');
         $('.deleteCommentLink').bind('click',function(event) {
         hiding(event,$(this).data('id'));
         });*/

        $('.deleteReplyLink').unbind('click');
        $('.deleteReplyLink').bind('click', function (event) {
            hideAndDeleteReply(event, $(this).data('id'));
        });


        initTextAreaTag();
    });
</script>
