<div class="blogComments" id="proposalComments">
	<% @proposal_comments.each do |comment| %>
		<%= render :partial => 'proposals/comment', :locals => {:comment => comment} %>
	<% end %>
</div>

<script type="text/javascript">
	$(function() {
		hide_vote_controls();
	})
</script>
