<div class="blogComments" id="proposalComments">
	<% @proposal_comment_search.proposal_comments.each do |comment| %>
		<%= render partial: 'proposals/edit_comment', locals: {comment: comment} %>
	<% end %>
</div>
