<% @proposal.proposal_lives.each do |life| %>
    <%=l life.created_at, format: :until_long_date_time %>
    <% life.users.each do |user| %>
        <%= user_tag(user) %>
    <% end %>
<% end %>


<div style="clear: both;"></div>
