
<div id="promote_steps">
  <form class="disableForm">
      <div class="legend">
        <div class="number">1</div>
        <div class="title">
          <%= t('pages.events.new.step_2') %>
        </div>
      </div>
      <div class="legend">
        <div class="number">2</div>
        <div class="title">
          <%= t('pages.events.new.step_3') %>
        </div>
      </div>


      <div class="step root root">

           aaaa

      </div>
      <div class="step">
         aaa

      </div>

      <input type="submit">
  </form>
</div>
