<div class="vote_container">
<%if @group%>
<%= link_to '', {:action => "rank"+action, :controller => "proposals", :id => @proposal.id, :group_id => @group.id}, :remote => true,  :id => "vote"+action, :class=>"vote"+action %>
<%else%>
<%= link_to '', {:action => "rank"+action, :controller => "proposals", :id => @proposal.id}, :remote => true, :id => "vote"+action, :class=>"vote"+action %>
<%end%>
<span class="vote_description"><%= action == 'up' ? 'Pronta per la votazione' : 'Continua la discussione' %></span>
<div class="clearboth"></div>
</div>
<%= image_tag "spinner.gif", :style => 'display: none;', :class => 'loading'+action %>