<div class="vote_container">

<%= render :partial => '/proposals/valutations/voteup' %>
<%= render :partial => '/proposals/valutations/votedown' %>
<span class="vote_description"></span>
<div class="clearboth"></div>
</div>
