<div class="proposal_comment_reply">
 	<%comment_nickname = @proposal.proposal_nicknames.find_by_user_id(reply.user.id)%>
		<div class="reply_img">
		<%if (comment_nickname && @proposal.is_current? && !(reply.user == current_user))%>
			<img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(comment_nickname.nickname)%>?s=32&d=identicon&r=PG"/>               	
		<%else%>
        	<%= reply.user_image_tag(32) %>
		<%end%>
		</div>
		<div class="reply_content">
   		<%=reply.content%>
   		<div class="baloon-footer">
   		Inserito il <span class="blogPostDate"><%= reply.created_at.strftime("%d/%m/%Y %H:%M") %></span>
   		</div>
   		</div>
   		<div style="clear: both;"></div>
 </div>