<li class="sec_nav {{classes}}" data-section_id="{{i}}">
    <span class="sec_title_c">
        <a href="#" data-scroll-to-section class="sec_title">{{title}}</a>
    </span>
    <a onclick="return false;" class="action move_up">
        <i class="fa fa-arrow-up"></i>
    </a>
    <a onclick="return false;" class="action move_down">
        <i class="fa fa-arrow-down"></i>
    </a>
    <a onclick="return false;" class="action remove">
        <i class="fa fa-trash"></i>
    </a>
</li>
