<%if can? :show_tooltips, current_user %>
    $('#random_stack_l').ctooltip("<strong>How it works?</strong><br/>Contributions are shown first novel and then evaluated and the contributions that you already rated in order of popularity. <br/> <b>Note</b>: Your rating will change the sort order!");
    $('#random_stack_2').ctooltip("<strong>How it works?</strong><br/>Contributions are shown in chronological order starting with the most recent");
    $('#random_stack_3').ctooltip("<strong>How it works?</strong><br/>Contributions are shown first in order of popularity. <br/> <b>Note</b>: Your rating will change the sort order!");
    $('#miglioricontributi').ctooltip({
    content: "<strong> How can I help? </strong> <br/> contributions should not express appreciation of the simple but substantial changes to the text: constructive criticism, alternatives or improvements to the proposal will help the writer to develop a summary of the text shared. <br /> <br/> <b>Note</b>: The most valuable contribution is what makes it possible to find a solution to the proposal!",
    position: "bottom"
    });
    $('#voglioredigere').ctooltip("Ask the editors allow you to edit the text of the proposal on the basis of contributions from users.");
    $('#voteup').ctooltip("<div class='votedup'></div>the proposal is mature and can go to the vote (you can change the rating whether the proposal is updated)");
    $('#votedown').ctooltip("<div class='voteddown' style='margin: 0px 10px 10px 0px'></div>the proposal is not yet mature as in the text has to be integrated user contributions (you can change the rating when the proposal will be updated)");
    $('#valutazioni').ctooltip("total number of evaluations received");
    $('#gradimento').ctooltip("percentage of positive evaluations on the total");
    $('#nickname_panel').ctooltip("<strong> In this proposal, we have chosen to discuss anonymously </strong> <br /> In this way is not possible for other users to know who you are <%= raw "(they see you as <b>#{@my_nickname.nickname}</b>)" if @my_nickname%> and at the same time, it is not possible for you to know who the others are. <br /> working and talking this way you will be able to make decisions and evaluate proposals based only on on content. <br/> <b>Note</b>: When the discussion is finished and the proposal will be approved or rejected then you will see the real names of users!");
<%end%>
<%if @proposal.is_standard?%>
    <%conditions = [] %>
    <%if @proposal.quorum.minutes%>
        <%conditions << "until <b>#{@proposal.quorum.ends_at.strftime("%d/%m/%Y")}</b> #{@proposal.quorum.ends_at.strftime(" at %H:%M")}" %>
    <%end%>
    <%if @proposal.quorum.valutations%>
        <%conditions << "until it will be rated good by <b>least #{@proposal.quorum.valutations} people</b>" %>
    <%end%>
    $('#suffgrad, #pb<%=@proposal.id%>').ctooltip("The proposal will be in debate  <%=raw conditions.join(@proposal.quorum.or? ? ' or ' : ' and ')%>. Will pass to votation state if obtain a <b>rank</b> (positive valutation) grater than <b><%= (@proposal.quorum.good_score) %>%</b> of the total number of votation.");
<%end%>