<%if can? :show_tooltips, current_user %>
    $('#random_stack_l').ctooltip("<strong>Come funziona?</strong><br/>Vengono mostrati prima i contributi nuovi o non valutati e quindi i contributi che hai già valutato in ordine di gradimento.<br/><br/><b>Nota</b>: La tua valutazione ne modifica l'ordinamento!");
    $('#random_stack_2').ctooltip("<strong>Come funziona?</strong><br/>Vengono mostrati i contributi in ordine cronologico a partire dal più recente");
    $('#random_stack_3').ctooltip("<strong>Come funziona?</strong><br/>Vengono mostrati prima i contributi in ordine di gradimento.<br/><br/><b>Nota</b>: La tua valutazione ne modifica l'ordinamento!");
    $('#miglioricontributi').ctooltip({
    content: "<strong>Come posso contribuire?</strong><br/>i contributi non devono esprimere dei semplici apprezzamenti ma sostanziali modifiche al testo: critiche costruttive, soluzioni alternative o miglioramenti alla proposta aiuteranno il redattore a sviluppare una sintesi del testo condivisa.<br/><br/><b>Nota</b>: Il contributo più prezioso è quello che permette di trovare una soluzione alla proposta!",
    position: "bottom"
    });
    $('#voglioredigere').ctooltip("Chiedi ai redattori di poter modificare il testo della proposta sulla base dei contributi degli utenti.");
    $('#voteup').ctooltip("<div class='votedup'></div>la proposta è matura e può andare in votazione (potrai cambiare la valutazione se la proposta viene aggiornata)");
    $('#votedown').ctooltip("<div class='voteddown' style='margin: 0px 10px 10px 0px'></div>la proposta non è ancora matura in quanto nel testo devono essere ancora integrati i contributi degli utenti (potrai cambiare la valutazione quando la proposta verrà aggiornata)");
    $('#valutazioni').ctooltip("numero totale di valutazioni ricevute");
    $('#gradimento').ctooltip("percentuale di valutazioni positive sul totale");
    $('#nickname_panel').ctooltip("<strong>In questa proposta si è scelto di discutere in modo anonimo</strong><br />In tal modo non è possibile, per gli altri utenti, sapere chi sei <%=raw "(loro ti vedono come <b>#{@my_nickname.nickname}</b>)" if @my_nickname%> e, allo stesso tempo, non è possibile per te sapere chi sono gli altri.<br /> Lavorando e discutendo in questo modo si potranno prendere decisioni e valutare le proposte solo sulla base dei contenuti.<br/><br/><b>Nota</b>: Quando la discussione sarà terminata e la proposta sarà approvata oppure respinta allora potrai vedere i veri nomi degli utenti!");
    <%if current_user && (@proposal.users.include? current_user) %>
        $('#noise_comments a').ctooltip({content: "<strong>Gestisci i contributi inutili</strong><br />I partecipanti ti segnaleranno quali contributi sono inutili alla discussione. Attraverso questo pannello potrai eliminarli e metterli nella cartella Contributi Eliminati'", position: 'right'});
    <%else%>
        $('#noise_comments a').ctooltip({content: "<strong>Visualizza i contributi inutili</strong><br />Qui dentro potrai trovare tutti i contributi che sono stati ritenuti inutili alla discussione e rimossi dagli autori della proposta", position: 'right'});
    <%end%>

<%end%>
<%if @proposal.is_standard?%>
    <%conditions = [] %>
    <%if @proposal.quorum.minutes%>
        <%conditions << "fino al <b>#{@proposal.quorum.ends_at.strftime("%d/%m/%Y")}</b> #{@proposal.quorum.ends_at.strftime(" alle %H:%M")}" %>
    <%end%>
    <%if @proposal.quorum.valutations%>
        <%conditions << "finché non sarà valutata da <b>almeno #{@proposal.quorum.valutations} persone</b>" %>
    <%end%>
    $('#suffgrad, #pb<%=@proposal.id%>').ctooltip("La proposta rimarrà in dibattito <%=raw conditions.join(@proposal.quorum.or? ? ' oppure ' : ' e ')%>. Passerà in votazione se  otterrà un <b>gradimento</b> (valutazioni positive) superiore al <b><%= (@proposal.quorum.good_score) %>%</b> del totale delle valutazioni.");
<%end%>