<h4>Il sistema ha individuato le seguenti proposte che potrebbero essere simili alla tua.<br /> 
	Guardale e continua con la creazione solo se pensi che la tua problematica non possa essere 
	discussa in uno dei moduli di dibattito già presenti</h4>          
<ul>
<%@proposals.each do |proposal|%>
<div>
	<%=link_to proposal.title, proposal, target: "_blank"%>
</div>
<%end%>
</ul>