<div id="statistics_modal" title="Statistiche proposta <%=proposal.title%>" style="width:600px;height:300px;" >
<div id="placeholder" style="width:400px;height:200px;"></div>
</div>

<script type="text/javascript">
	$(function() {	
		
		$( "#statistics_modal" ).dialog({ height: 250, width: 450 });
		var data = [];		
		// fetch one series, adding to what we got
    	var alreadyFetched = {};
    	
    	var options = {
	        lines: { show: true },
	        points: { show: true },
	        xaxis: { tickDecimals: 0, tickSize: 1 }
    	};
		
		 $.ajax({
            url: "/proposal_statistics/rank_time?id=<%=proposal.id%>",
            method: 'GET',
            dataType: 'json',
            success: function(series) {
            	 // let's add it to our current data
	            if (!alreadyFetched[series.label]) {
	                alreadyFetched[series.label] = true;
	                data.push(series);
	            }
                // and plot all we got
            	$.plot($("#placeholder"), data);
            }
        });
	});
</script>
