<div id="statistics_modal" title="Statistiche proposta <%=proposal.title%>" >
<p>Pannello in cui vengono visualizzate tutte le informazioni e le statistiche sulla proposta</p>
</div>
<script>
	$(function() {
		$( "#statistics_modal" ).dialog();
	});
</script>
