var container_ = $('<div id="facebook_share_container" class="reveal-modal" data-reveal></div>');
container_.html("<%=j render 'facebook_share'%>");
$('body').append(container_);
airesis_reveal(container_);