<%= render :partial => "steps/#{@step.fragment}", :layout => "layouts/tutorial" if @step%>
<h1>Inserisci una nuova proposta</h1>

<%= render :partial => @proposal, :locals => { :button_name => "Crea", :remote => false } %>

<%= link_to 'Indietro', :back, :class=>'buttonStyle' %>

<script type="text/javascript">
		$('#accordion').accordion({
				collapsible: true,
				autoHeight: false, 
	    		active: false 
			});
		disegnaBottoni();
</script>