var container_ = $('<div id="promote_container" class="reveal-modal large" data-reveal></div>');
container_.html("<%=j render 'promote'%>");
$('body').append(container_);
airesis_reveal(container_);

$('.legend').hide();

$("#promote_form").quickWizard({
    prevButton: '<button id="form-wizard-prev" type="button" class="btn"><i class="fa fa-arrow-left"></i><%=j t('buttons.go_back')%></button>',
    nextButton: '<button id="form-wizard-next" type="button" class="btn blue"><i class="fa fa-arrow-right"></i><%=j t('buttons.next')%></button>',
    clickableBreadCrumbs: true,
    breadCrumbListClass: 'bread-crumb',
    nextCallback: function() {},
    prevCallback: function() {},
    submit: '.wizard[type = "submit"]'
});

try{
    FB.XFBML.parse();
}catch(ex){}
twttr.widgets.load();

new AiresisFormValidation($('#promote_form'));

