var container_ = $('<div id="vote_results_container" class="reveal-modal" data-reveal></div>');
container_.html("<%=j render(:partial => @proposal.is_schulze? ? 'schulze_vote_results' : 'vote_results')%>");
$('body').append(container_);
airesis_reveal(container_, false);

$('#resultsButton').click(function (e) {
    $('#vote_results_container').foundation('reveal', 'show');
    e.preventDefault();
    return false;
});
