var container_ = $('<div id="vote_results_container" class="reveal-modal" data-reveal></div>');
container_.html("<%=j render(partial: @proposal.is_schulze? ? 'proposal_votation_results/schulze_vote_results' : 'proposal_votation_results/vote_results')%>");
$('body').append(container_);
airesis_reveal(container_, false);

$('.results-button').click(function (e) {
    container_.foundation().foundation('reveal', 'open');
    e.preventDefault();
    return false;
});
