<div class="results_list">
  <h3><%= 'Groups' %></h3>

  <div class="results_list">
    <% @search.groups.each do |group| %>
        <div class="result_element">
          <%= group.name %>
        </div>
    <% end %>
  </div>
  <h3><%= 'Proposals' %></h3>

  <div class="results_list">
    <% @search.proposals.each do |proposal| %>
        <div class="result_element">
          <%=link_to_proposal proposal %>
        </div>
    <% end %>
  </div>

</div>
<a class="close-reveal-modal">&#215;</a>