!window.console && (console = { log: function() {}});

$(function() {
    /*$('#great_container').height($(window).height()-0);*/
    var submenupannel=0;



	disegnaBottoni();

	if (window.location.hash) {
		setTimeout(function() {
			$(window.location.hash + " #commentcc").effect('highlight',{mode:'show'},3000)
		},500);
	}


    if ($('.sticky-anchor').length > 0) {
          $(window).scroll(sticky_relocate);
          sticky_relocate();
    }

    $("#menu-top #logo-but, #logo-airesis").click(function () {
        if(submenupannel==0){
            submenupannel=1;
            /*$('#main #main-copy').animate({'padding-top':'250px'}, 200);*/
            $('#menu-top .group-cont').slideDown().delay(200);
            $('#submenu .tria').hide();
            $(this).addClass("sel");
        }else{
            submenupannel=0;
            /*$('#main #main-copy').animate({'padding-top':'80px'}, 200);*/
            $('#menu-top .group-cont').slideUp().delay(0);
            $('#submenu .tria').delay(200).show(0);
            $(this).removeClass("sel");
        }
    });


    var feedback_options =

    Feedback({
        h2cPath: '/assets/html2canvas.js',
        url: '/send_feedback',
        label: 'Invia feedback',
        header: 'Invia feedback',
        nextLabel: 'Aggiungi dettagli',
        reviewLabel: 'Visualizza anteprima',
        sendLabel: 'Invia',
        closeLabel: 'Chiudi',
        messageSuccess: 'Feedback inviato correttamente. Grazie!',
        messageError: 'Spiacenti ma si è verificato un errore durante l\'invio del feedback',
        appendTo: $('#footer .pull-right')[0],
        btnClass: "feedbackBtn",
        pages: [
            new window.Feedback.Form([{
                    type: "textarea",
                    name: "message",
                    label: "Descrivi il problema che stai affrontando",
                    required: true
                },
                /*{
                    type: "input",
                    name: "Email",
                    label: "Inserisci un'indirizzo email sul quale ricevere risposta",
                    required: false
                }*/]
            ),
            new window.Feedback.Screenshot({h2cPath: '/assets/html2canvas.js'}),
            new window.Feedback.Review()
        ]
    });
});

function sticky_relocate() {
    var window_top = $(window).scrollTop();
    $('.sticky-anchor').each(function() {
        var div_top = $(this).offset().top;
        if (window_top > (div_top - 90)) {
            $('.sticky').addClass('stick');
        } else {
            $('.sticky').removeClass('stick');
        }
    });
}

function gbutton() {

}

function disegnaBottoni() {
    console.log('diisegna bottoni');
	$('.buttonStyle').gbutton();
	$('.editButton').gbutton({icons : {primary : "ui-icon-pencil"}});
	$('.personButton').gbutton({icons : {primary : "ui-icon-person"}});
	$('.homeButton').gbutton({icons : {primary : "ui-icon-home"}});
	$('.calendarButton').gbutton({icons : {primary : "ui-icon-calendar"}});
	$('.commentButton').gbutton({icons : {primary : "ui-icon-comment"}});
	$('.ideaButton').gbutton({icons : {primary : "ui-icon-lightbulb"}});
	$('.deleteButton').gbutton({icons : {primary : "ui-icon-circle-close"}});
    $('.trashButton').gbutton({icons : {primary : "ui-icon-trash"}});
	$('.newButton').gbutton({icons : {primary : "ui-icon-plusthick"}});
	$('.settingsButton').gbutton({icons : {primary : "ui-icon-wrench"}});
	$('.mapButton').gbutton({icons : {primary : "ui-icon-image"}});
    $('.forwardButton').gbutton({icons : {primary : "ui-icon-arrowthick-1-e"}});
	$('.historyButton').gbutton({icons : {primary : "ui-icon-arrowreturnthick-1-w"}});
	$('.notesButton').gbutton({icons : {primary : "ui-icon-note"}});
	$('.supportButton').gbutton({icons : {primary : "ui-icon-heart"}});
    $('.searchButton').gbutton({icons : {primary : "ui-icon-search"}});
    $('.acceptButton').gbutton({icons : {primary : "ui-icon-check"}});
    $('.rejectButton').gbutton({icons : {primary : "ui-icon-close"}});
    $('.showAllButton').gbutton({icons : {primary : "ui-icon-script"}});
    $('.inviteButton').gbutton({icons : {primary : "ui-icon-mail-open"}});
    $('.documentButton').gbutton({icons : {primary : "ui-icon-document"}});
    $('.closeButton').gbutton({icons : {primary : "ui-icon-close"}});
    $('.draftsButton').gbutton({icons : {primary : "ui-icon-pencil"}});
    $('.contributeButton').gbutton({icons : {primary : "ui-icon-signal-diag"}});
    $('.pdfButton').gbutton({icons : {primary : "ui-icon-print"}});
    $('.resultsButton').gbutton({icons : {primary : "ui-icon-check"}});
    $('.searchButton').gbutton({icons : {primary : "ui-icon-search"}});
	$('.disabledButton').gbutton("option", "disabled", true);


	$(".disableButton")
	    .unbind("ajax:beforeSend")
	    .bind("ajax:beforeSend", function() {
	    	hideDisableButton($(this));
	    })
	    .unbind("ajax:complete")
	    .bind("ajax:complete", function() {
	    	showDisableButton($(this));
	    });

    $(".btn.disable")
            .unbind("ajax:beforeSend")
            .bind("ajax:beforeSend", function() {
                hideDisableGButton($(this));
            })
            .unbind("ajax:complete")
            .bind("ajax:complete", function() {
                showDisableGButton($(this));
            });

    $(".disableClickButton")
    .bind("click", function() {
        hideDisableButton($(this));
    });



    $(".disableForm")
    	.unbind("ajax:beforeSend")
	    .bind("ajax:beforeSend", function() {
	    	hideDisableButton($('.disableButton',this));
	    })
	    .unbind("ajax:complete")
	    .bind("ajax:complete", function() {
	    	showDisableButton($('.disableButton',this));
	    });

    $('.ddslick').ddslick();

}

function hideDisableButton(button) {
	button.hide();
	var toAdd = $('<div class="waitDiv"><%=image_tag "facebook-loader.gif", :alt => "loading..."%> </div>');
	toAdd.width(button.outerWidth(true));
	toAdd.height(button.outerHeight(true));
	button.after(toAdd);
}

function showDisableButton(button) {
	button.show();
	$('.waitDiv').remove();

}

function hideDisableGButton(button) {
    //button.hide();
    var textInside = button.html();

    var toAdd = $('<div class="load"><span>LOADING</span><%=image_tag "gloading.gif", :alt => ""%></div>');
    button.width(button.width());
    button.height(button.height());
    button.empty();
    button.append($('<span class="hidden">').append(textInside));
    button.append(toAdd);
}

function showDisableGButton(button) {
    var content = $('.hidden',button).html();
    $('.load',button).remove();
    button.html(content);
}

$.datepicker.setDefaults( $.datepicker.regional[ "it" ] );



var et = {};


function calculate_event_times() {
	et.est = $("#event_starttime")
	et.eet = $("#event_endtime")
	et.eventStartTime = et.est.datetimepicker("getDate");
    et.eventEndTime = et.eet.datetimepicker("getDate");
    et.eventStartDate = new Date(et.eventStartTime);
    et.eventEndDate = new Date(et.eventEndTime);

    et.get = $("#groups_end_time")
    et.cet = $("#candidates_end_time")
    et.groupTime = et.get.datetimepicker("getDate");
    et.candidatesTime = et.cet.datetimepicker("getDate");
    et.groupDate = new Date(et.groupTime);
    et.candidatesDate = new Date(et.candidatesTime);
}

function addMinutes(date, minutes) {
    return new Date(date.getTime() + minutes*60000);
}

function startTimeChanged() {

	//se la data inizio supera la data fine
	if (!(et.eventEndDate.getTime() > et.eventStartDate.getTime())) {
		//reimposto la data fine avanti
        var min15 = addMinutes(et.eventStartTime,15)
		et.eet.datetimepicker("setDate",min15);
	}

	//se la data inizio supera la data fine gruppi
	if (!(et.groupDate.getTime() > et.eventStartDate.getTime())) {
		//reimposto la data gruppi avanti
		et.get.datetimepicker("setDate",et.eventStartTime);
	}

	//se la data inizio supera la data fine candidati
	if (!(et.candidatesDate.getTime() > et.eventStartDate.getTime())) {
		//reimposto la data candidati avanti
		et.cet.datetimepicker("setDate",et.eventStartTime);
	}

	//imposta come data minima quella di inizio dell'evento
	var diff =  Math.floor(( et.eventStartDate - new Date()) / 86400000);
	//et.eet.datetimepicker("option","minDate",diff);
}

function endTimeChanged() {
	//se la data inizio supera la data fine
	if (!(et.eventEndDate.getTime() > et.eventStartDate.getTime())) {
		//reimposta la data inizio indietro
        var min15 = addMinutes(et.eventStartTime,-15)
		et.est.datetimepicker("setDate",min15);
	}
}

function groupsTimeChanged() {

	//se supera la data fine candidati
	if (!(et.candidatesDate.getTime() > et.groupDate.getTime())) {
		//sposto la data fine candidati
		$("#candidates_end_time").datetimepicker("setDate",et.groupTime);
	}

	//se supera la data fine evento
	if (!(et.eventEndDate.getTime() > et.groupDate.getTime())) {
		// sposto la data fine evento in avanti
		et.eet.datetimepicker("setDate",et.groupTime);
	}

	//imposta un limite inferiore alla data fine dei candidati
	var diff =  Math.floor(( et.groupDate - new Date()) / 86400000);
	$("#candidates_end_time").datetimepicker("option","minDate",diff);
}

function candidatesTimeChanged() {
	//se è inferiore alla data fine gruppi
	if (!(et.candidatesDate.getTime() > et.groupDate.getTime())) {
		//sposto indietro la data fine gruppi
		$("#groups_end_time").datetimepicker("setDate",et.candidatesTime);
	}

	//se supera la data fine evento
	if (!(et.eventEndDate.getTime() > et.candidatesDate.getTime())) {
		// sposto la data fine evento in avanti
		et.eet.datetimepicker("setDate",et.candidatesTime);
	}
}

var datePickerOptions = {
	dateFormat : "dd/mm/yy",
	buttonImageOnly : true,
	buttonImage : "<%= asset_path('iconCalendar.png') %>",
    showOn : "both",
    changeMonth : false,
    changeYear : false,
    yearRange : "c:c+10",
    minDate : -2,
    maxDate: "+10Y",
    duration: "",
    showTime: true,
    constrainInput: true,
    stepMinute: 15,
    stepHour: 1,
    altTimeField: "alt",
    time24h: true
}


function disegnaDatePicker() {
	//data inizio evento
	$('#event_starttime').datetimepicker($.extend({},datePickerOptions,{
        onClose: function(date) {
        	calculate_event_times();
        	startTimeChanged();
        }
     }));

	//data termine evento
	$("#event_endtime").datetimepicker($.extend({},datePickerOptions,{
        onClose: function(date) {
        	calculate_event_times();
        	endTimeChanged();
        }
 	}));

	$("#candidates_end_time").datetimepicker($.extend({},datePickerOptions,{
        onClose: function(date) {
        	calculate_event_times();

	        candidatesTimeChanged();

        }
 	}));

	$('#groups_end_time').datetimepicker($.extend({},datePickerOptions,{
        onClose: function(date) {
        	calculate_event_times();

	        groupsTimeChanged();
        }
   }));
 }

function deleteMe(el) {
	$(el).remove();
}

function getURLParameter(name) {
    return decodeURIComponent(
        (location.search.match(RegExp("[?|&]"+name+'=(.+?)(&|$)'))||[,null])[1]
    );
}


function array2dToJson(a, p, nl) {
  var i, j, s = '{"' + p + '":[';
  nl = nl || '';
  for (i = 0; i < a.length; ++i) {
    s += nl + array1dToJson(a[i]);
    if (i < a.length - 1) {
      s += ',';
    }
  }
  s += nl + ']}';
  return s;
}

function array1dToJson(a, p) {
  var i, s = '[';
  for (i = 0; i < a.length; ++i) {
    if (typeof a[i] == 'string') {
      s += '"' + a[i] + '"';
    }
    else { // assume number type
      s += a[i];
    }
    if (i < a.length - 1) {
      s += ',';
    }
  }
  s += ']';
  if (p) {
    return '{"' + p + '":' + s + '}';
  }
  return s;
}


function doModal(el){
    el.modal({
        opacity: 60,
        overlayCss: {
           backgroundColor: "#dddddd"
        },
        minWidth: '400px',
        minHeight: '200px',
        transient: 'true',
        persist: 'true',
        onShow: function(dialog){
            dialog.data.prepend('<div id="error_updating"></div>');
        },
        onClose: function(dialog){
        	$('#error_updating').remove();
            $.modal.close();
        }
    });
}


function stripScripts(s) {
    var div = document.createElement('div');
    div.innerHTML = s;
    var scripts = div.getElementsByTagName('script');
    var i = scripts.length;
    while (i--) {
        scripts[i].parentNode.removeChild(scripts[i]);
    }
    return div.innerHTML;
}


