<%@extend=true%>
<div id='forums_container'>
  <h1 id='forums_title'><%= t('.title') %></h1>

  <%= render @categories %>
</div>



<% if is_group_admin? @group %>
    <% content_for :left_panel do %>
        <div class="mybox">
          <h4><%= t('frm.admin.area') %></h4>
        <%= link_to t("area", :scope => "frm.admin"), group_frm_admin_root_url(@group), class: 'btn' %>
        </div>
    <% end %>
<% end %>

