<div title="Conferma sostegno alla proposta" id="proposal_support" style="display: none;">
	<%=form_for [@proposal,@proposal_support], :remote => true do |f|%>
		<% current_user.scoped_group_partecipations(GroupAction::PROPOSAL).each do |partecipation|%>
			<%= check_box_tag "proposal[group_ids][]", partecipation.group.id %>
			<%= f.label partecipation.group.name%><br />
			
		<%end%> 
		<%=f.submit 'Conferma', :class => 'buttonStyle'%>
	<%end%>
</div>