<p xmlns="http://www.w3.org/1999/html">
Salve,<br />
sono Alessandro Rodi, uno dei volontari del progetto Airesis - Scegli di partecipare, portale open-source di e-democracy.
</p>
<p>
La ringrazio prima di tutto per aver sperimentato la nostra piattaforma: se stiamo creando un valido strumento,
il merito è di tutti coloro che danno fiducia al progetto e che, testandolo, forniscono agli sviluppatori
preziosi feedback per migliorarlo.
</p>
<p>
Sperando che gradisca, abbiamo attivato un servizio di notifiche via mail, che le consentirà di seguire più facilmente le
proposte e le votazioni a cui partecipa, presenti in Airesis.
Inoltre, una volta al mese, le sarà inviata una newsletter per tenerla aggiornata sulle nuove funzionalità introdotte nella piattaforma.
</p>
<p>
Qualora decida di non avvalersi di questi servizi, potrà facilmente disattivarli collegandosi alla
<%=link_to 'sua pagina di impostazione allarmi e notifiche', Maktoub.subscription_preferences_url %>.
Potrà anche scegliere,nella medesima pagina, le tipologie di eventi su cui ricevere notifiche.
</p>
<p>
La ringrazio per l'attenzione e le auguro una buona giornata,
</p>
<p>
Rodi Alessandro,<br/>
Head Developer di Airesis</br>
info@airesis.it
</p>