<p xmlns="http://www.w3.org/1999/html">
  Ciao <%= @name %>,<br/>
  il nostro Team sta lavorando incessantemente per rendere questo strumento per la democrazia partecipativa sempre più utile e completo,
  ma ciò è stato possibile soprattutto grazie a coloro che lo utilizzano e, con assiduità e impegno, ci forniscono preziose indicazioni su
  come proseguire lungo il cammino evolutivo della piattaforma!
  </p>
 <p>
  A tal fine abbiamo predisposto questo <a href="https://docs.google.com/forms/d/1aSxtqYg3ei7NENyCE94fzxF6JcqnCzvJyL0kTetygWk/viewform" target="_blank">BREVE SONDAGGIO</a> che ti invitiamo a compilare.
 </p>
<p>
  Airesis oggi è alla versione 2.3 e sono presenti nuovi importanti strumenti fra i quali:
  <ul>
  <li>la scelta di un modello di proposta fra
  <ul>
    <li>Proposta standard</li>
    <li>Regolamento</li>
    <li>Comunicato stampa</li>
    <li>Organizzazione evento</li>
    <li>Preventivo di spesa</li>
    <li>Ordine del giorno</li>
      </ul>
  </li>
  <li>Possibilità di attivare un Security Token utilizzabile durante le votazioni per aumentare la sicurezza del vostro account (sistema normalmente usato dalle banche)</li>
  <li>Inserimento di nuovi paragrafi nelle soluzioni della proposta</li>
  </ul>
</p>
<p>
  Inoltre stiamo lavorando per implementare:
  <ul>
  <li>Notifiche e dibattito in tempo reale (sarà possibile discutere come in una chat)</li>
  <li>Inserimento dei contributi e dibattito in prossimità del paragrafo di riferimento</li>
  </ul>
</p>
<p>
  Il nostro team è da sempre concentrato sullo sviluppo del software e, visto il carattere totalmente volontario dell'iniziativa,
  non disponiamo di mezzi economici sufficienti per divulgare più ampiamente la piattaforma.
  </p>
<p>
  Se credi che il nostro progetto meriti più visibilità ti preghiamo di <a href="http://www.airesis.it/sostienici#linkback">farlo conoscere</a>: aiuterai la democrazia a crescere.
</p>
<p>
  Lo staff di Airesis<br/>
  <%= mail_to 'info@airesis.it'%>
</p>