<p xmlns="http://www.w3.org/1999/html">
  Ciao <%= @name %>,<br/>
  grazie al contributo di molti volontari, un altro <b>importante traguardo</b> è stato raggiunto:
  è finalmente online la <b>Versione 3.0</b> di Airesis!<br/>
  Ricca di sensazionali novità, che non mancheranno senz'altro di stupirti per quantità e qualità, questa nuova
  release annovera sostanziali miglioramenti sia nel comparto delle <b>funzionalità</b>, sia a livello
  d'<b>interfaccia</b> e <b>usabilità</b>.
</p>
<p>
  Ecco l'elenco delle <b>principali novità</b>:
</p>
<ul>
  <li><b>Forum</b> dedicato per ogni gruppo, con annessa mailing list

  </li>
  <li>Rivisitazione dei <b>tutorial</b> per i nuovi utenti
  </li>
  <li>Nuovo <b>design della lista proposte</b> arricchito da filtri e ricerca testuale
  </li>
  <li>Funzionalità di <b>citazione</b> "@cite" nelle discussioni con anonimato attivo
  </li>
  <li>Nuova lista proposte arricchita da filtri combinabili e barra di ricerca

  </li>
  <li><b>Nuova bacheca</b> di gruppo con annesse informazioni sulle attività recenti
  </li>
  <li>Aggiunta la possibilità di <b>commentare eventi in calendario</b>
  </li>
  <li>sostituita la funzionalità Elezioni con il modulo di proposta <b>Scelta di un candidato</b>
  </li>
  <li>Modifica e gestione delle proposte ulteriormente migliorato e semplificato
  </li>
  <li>Un layout responsive accessibile anche da <b>tablet e smartphone</b>
  </li>
</ul>


<p>
  Inoltre stiamo lavorando per:
</p>
<ul>
  <li>L’internazionalizzazione del sito in francese, tedesco, spagnolo, portoghese e rumeno.
  </li>
  <li>Maggiore integrazione con i <b>Social Network</b></li>
  <li><b>Nuovo sistema di quorum</b> semplificato, migliorato e molto, molto più potente!</li>
  <li>Modello di proposta: <b>Petizione</b></li>
</ul>

<p>
  Ti ricordiamo che il progetto persegue esclusivamente finalità di promozione sociale,
  si sostiene esclusivamente tramite le <b>donazioni</b> ed il suo team è composto essenzialmente da volontari.
</p>
<p>
  Prendi l'iniziativa, <b>aiutaci a far conoscere questo progetto</b>! Ti
  aspettiamo, <%= link_to 'il tuo contributo', main_app.sostienici_url %> può fare la differenza!
</p>

<p>
  Lo staff di Airesis<br/>
  <%= mail_to 'info@airesis.it' %>
</p>

