<div title="<%= t('pages.proposal_histories.title') %>" id="proposal_histories" style="display: none;">
  <div class="row full-width">
    <div class="columns large-4">
      <%= render :partial => 'panel_menu' %>
    </div>
    <div class="columns large-8">
      <%= render :partial => 'panel_content' %>
    </div>
  </div>
</div>


