<div class="diffview ice">
  <div class="loading" style="margin:auto;text-align:center;display:none;">
    <%= image_tag 'ajax-loader.gif' %>
    <br/>
    <b>Caricamento revisione...</b>
  </div>
  <div class="diffcontainer"></div>
</div>