<div id="proposal_histories"  class="reveal-modal" data-reveal>
  <h2><%= t('pages.proposal_histories.title') %></h2>
  <div class="row full-width">
    <div class="columns large-4">
      <%= render partial: 'panel_menu' %>
    </div>
    <div class="columns large-8">
      <%= render partial: 'panel_content' %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


