<% if (params[:view] == SearchProposal::ORDER_BY_RANK) %>
    <span class="order_option sel">
            <%= link_to t('pages.proposals.tabs.most_popular'), current_url(action: :tab_list, view: SearchProposal::ORDER_BY_RANK, order: params[:order] == 'a' ? nil : 'a'), title:"Ordina le proposte per gradimento", remote: true, data: {disable_with: t('loading')} %>
      <span class="<%=(params[:order] == 'a') ? 'icon-arrow-up3' : 'icon-arrow-down3'%>"></span>
      </span>
<% else %>
    <span class="order_option">
			<%= link_to t('pages.proposals.tabs.most_popular'), current_url(action: :tab_list, view: SearchProposal::ORDER_BY_RANK),title:"Ordina le proposte per gradimento", remote: true, data: {disable_with: t('loading')} %>
              </span>
<% end %>
