<% if params[:view] == SearchProposal::ORDER_BY_VOTES_NUMBER %>
    <span class="order_option sel">
      <%= link_to t('pages.proposals.tabs.most_valutated'), current_url(action: :tab_list, view: SearchProposal::ORDER_BY_VOTES_NUMBER, order: params[:order] == 'a' ? nil : 'a'), title:"Ordina le proposte per numero di votazioni ricevute", remote: true, data: {disable_with: t('loading')} %>
      <%= order_arrow %>
    </span>
<% else %>
    <span class="order_option">
			<%= link_to t('pages.proposals.tabs.most_valutated'), current_url(action: :tab_list, view: SearchProposal::ORDER_BY_VOTES_NUMBER), title:"Ordina le proposte per numero di votazioni ricevute", remote: true, data: {disable_with: t('loading')}%>
    </span>
<% end %>
