<% if (params[:view] == SearchProposal::ORDER_BY_END) %>
    <span class="order_option sel">
            <%= link_to t('pages.proposals.tabs.most_urgent'), current_url(:view => SearchProposal::ORDER_BY_END, :replace => true, :replace_id => @replace_id, order: params[:order] == 'a' ? nil : 'a'),  title:"Ordina le proposte per data di termine dibattito", :remote => true, data:{disable_with: t('loading')} %>
      <span class="<%=(params[:order] == 'a') ? 'icon-arrow-up3' : 'icon-arrow-down3'%>"></span>
          </span>
<% else %>
    <span class="order_option">
            <%= link_to t('pages.proposals.tabs.most_urgent'), current_url(:view => SearchProposal::ORDER_BY_END, :replace => true, :replace_id => @replace_id), title:"Ordina le proposte per data di termine dibattito", :remote => true, data: {disable_with: t('loading')} %>
          </span>
<% end %>