<% if params[:view] == SearchProposal::ORDER_BY_VOTES_NUMBER %>
    <span class="order_option sel">
            <%= link_to t('pages.proposals.tabs.most_valutated'), current_url(view: SearchProposal::ORDER_BY_VOTES_NUMBER, replace: true, replace_id: @replace_id, order: params[:order] == 'a' ? nil : 'a'), title:"Ordina le proposte per numero di votazioni ricevute", remote: true, data: {disable_with: t('loading')} %>
      <span class="<%=(params[:order] == 'a') ? 'icon-arrow-up3' : 'icon-arrow-down3'%>"></span>
          </span>
<% else %>
    <span class="order_option">
			<%= link_to t('pages.proposals.tabs.most_valutated'), current_url(view: SearchProposal::ORDER_BY_VOTES_NUMBER, replace: true, replace_id: @replace_id), title:"Ordina le proposte per numero di votazioni ricevute", remote: true, data: {disable_with: t('loading')}%>
          </span>
<% end %>