<% if (!params[:view] || (params[:view] == SearchProposal::ORDER_BY_DATE)) %>
    <span class="order_option sel">
        <%= link_to t('pages.proposals.tabs.last_inserted'), current_url(action: :tab_list, view: SearchProposal::ORDER_BY_DATE, order: (params[:order] == 'a') ? nil : 'a'), title: "Ordina le proposte per data di aggiornamento", remote: true, data: {disable_with: t('loading')} %>
        <span class="<%=(params[:order] == 'a') ? 'icon-arrow-up3' : 'icon-arrow-down3'%>"></span>
    </span>
<% else %>
    <span class="order_option">
	    <%= link_to t('pages.proposals.tabs.last_inserted'), current_url(action: :tab_list, view: SearchProposal::ORDER_BY_DATE), title: "Ordina le proposte per data di aggiornamento", remote: true, data: {disable_with: t('loading')} %>
    </span>
<% end %>
