.qtip.qtip-alerts {
  max-width: none;
}



.cont-mess ::-webkit-scrollbar {
  width: 8px;
}

.cont-mess ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgb(0, 0, 0);
  border-radius: 10px;
}

.cont-mess ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}


.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgb(0, 0, 0);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}


/*ALERTS CSS*/
.cont-mess {
  font-size: 0.9rem;

  &.scrollable {
    max-height: 450px;
    overflow-y: auto;
  }

  .tool {
    height: 60px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px dotted silver;
    padding: 5px;
    background-color: white;
    div {
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      display: inline-block;
      margin-top: 10px;
      line-height: 1.1em;
      margin-left: 2px;
    }
    .logo {
      height: 40px;
      margin-bottom: -15px;
    }

  }
  .read_all {
    text-align: right;
    padding: 0 5px 5px 0;
  }

  .mess {
    cursor: pointer;
    display: block;
    padding: 0.9 rem 0.5 rem;
    color: #555555;
    &:hover {
      border: 1px dotted black;
      button {
        display: inline-block;
      }
      .read {
        visibility: visible;
      }
    }
    &.new {

    }
    &.old {
      background-color: #ededed;
    }
    button {
      float: right;
      border: 0px;
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      margin-top: -3px;
      margin-right: -3px;
      border-radius: 3px;
      font-size: 10px;
      cursor: pointer;
      display: none;
    }
    .read {
      position: absolute;
      border-radius: 10px;
      visibility: hidden;
      width: 20px;
      height: 20px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
      top: 5px;
      right: 5px;
    }
    img {
      display: inline-block;
      width: 50px;
    }
    .mess_desc {
      display: inline-block;
      width: calc(100% - 50px - 10px - 10px);
    }
  }

  .cont1 {
    max-height: 500px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 1rem;
  }
  .p2 {
    margin: 0px;
    overflow: hidden;
  }
  .p1 {
    margin: 0px;
  }
}
