#new_blog_comment .counter {
    float: right;
}

.blogPostTitle {
    font-size: 1.4em;
}

.tag_label {
    color: #999;
}

.tags_list a{
    font-style: italic;
    color: #666;
}

.blogPostTags {
    font-size: 0.87em;
}

.post_buttons {
    font-size: 0.8em;
    color: #666;
    line-height: 18px;
    vertical-align: top;
}

.blogPostFooter {
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    margin-bottom: 40px;
}

.blogPostPostedAt {
    font-size: 0.87em;
    margin-bottom: 5px;
}

.blogPostPostedAt a img {
    vertical-align: top;
}

.blogPostFooter .blogComments a{
    color: #666;
    font-weight: bold;
}

.blogComment {
    padding: 20px 0 0;
    border-bottom: 1px dashed #CCC;
    border-top: 1px dashed #CCC;
    clear: both;
    color: #333333;
}

.blogCommentPostedAt {
    margin-bottom:10px;
}

.blogNewComment {
    margin-top: 5px;
    clear: both;
}

.blogPoster {
    font-style: italic;
}

.blogCommentAdmin {
    background-color: #EBE0BF;
}

.blogFooter a {
    margin-right: 5px;
}

.blogUserImage {
    float: left;
    margin: 0px 5px 5px 0px;
}

.blog-comment-content {
    word-wrap: break-word;
    margin: 5px 0px;
}


.blog-comment-footer {
    font-size: 0.9em;
    display: inline;
    margin-top: 0.9em;
}