.blogComment {
	padding: 20px 0 0;
	border-bottom: 1px dashed #CCC;
    border-top: 1px dashed #CCC;
	clear: both;
	color: #333333;
}

.blogCommentPostedAt {
	margin-bottom:10px;
}

.blogNewComment {
	margin-top: 5px;
	clear: both;
}

.blogNewCommentField {

}

.new_blog_comment {
	
}

.blogPoster {
	font-style: italic;
}

.blogCommentAdmin {
	background-color: #EBE0BF;
}

.blogFooter a {
	margin-right: 5px;
}

.blogUserImage {
	float: left;
	margin: 0px 5px 5px 0px;
}

ul.blogList {
	list-style: none;
	padding: 5px 10px;
	margin: 0;
}
ul.blogList li {
	display: inline;
	padding: 0px 10px;
	border-left: 1px solid #777;
	margin: 0px 0px;
}
ul.blogList li.blogListFirst {
	border-left: none;
}

.blogEditRightPanel {
	float: left;
	margin-left: 20px;
	width: 450px;
}
.blogEditLeftPanel {
	float: left;
}
#blogImages {
	width: 100%;
}
.blogImageHeader td {
	font-weight: bold;
}
.imageFileName {
	width: 120px;
	overflow-x: hidden;
}

.blogMarkdownHelp {
	margin-top: 20px;
}

.blogKitCode pre {
	overflow-x: auto;
}

.blog-comment-content {
	word-wrap: break-word;
	margin: 5px 0px;
}


.blog-comment-footer {
	font-size: 0.9em;
    display: inline;
    margin-top: 0.9em;

}


