#guests_number {
  .inputs {
    display: inline;
  }
}
.event_calendar {
  background: asset_url("calendar.png") no-repeat;
  width: 64px;
  height: 64px;
  cursor: default;
  float: left;
  .day {
    font-size: 11px;
    margin: auto;
    padding-top: 16px;
    text-align: center;
  }
  .number {
    font-size: 22px;
    font-weight: bold;
    margin-top: -6px;
    text-align: center;
  }
}

.event_calendar_mini {
  background: asset_url("calendar-32.png") no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  float: left;
  margin-top: -18px;
  .day {
    font-size: 10px;
    margin: auto;
    padding-top: 14px;
    text-align: center;
  }
  .number {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
  }
}

.event-overview {
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #294145;
  display: none;
  height: 80px;
  margin-bottom: 5px;
  margin-left: -182px;
  margin-top: -39px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 158px;
  z-index: 3;
}

.mini_event {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 2px;
  margin-top: 2px;
}

/*proposal models*/

.event_model_option {
  float: left;
  width: 260px;
  height: 250px;
  border: 1px dotted #ccc;
  cursor: pointer;
  margin: 5px;

  &:hover {
    opacity: 0.8;
  }

  .model_name {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    .name {
      height: 50px;
    }
  }
}

.participant_left {
  margin-bottom: 10px;
  .participant_image {
    float: left;
  }
  .participant_text {
    float: left;
    margin-left: 5px;
    max-width: 165px;
    span {
      color: darkslategray;
    }
  }
}

.loading_place {
  margin-top: 24px;
  display: none;
}

.map-canvas {
  width: 100%;
  height: 300px;
  img {
    max-width: none;
  }
}
