.fc-event {
  cursor: pointer;
}

.fc-content {
  background: white;
}

.event_calendar {
  background: url("/assets/calendar.png") no-repeat;
  width: 64px;
  height: 64px;
  cursor: default;
  float: left;
  .day {
    font-size: 11px;
    margin: auto;
    padding-top: 16px;
    text-align: center;
  }
  .number {
    font-size: 25px;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
  }
}

.event_calendar_mini {
  background: url("/assets/calendar-32.png") no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  float: left;
  margin-top: -18px;
  .day {
    font-size: 10px;
    margin: auto;
    padding-top: 14px;
    text-align: center;
  }
  .number {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
  }
}

.event-overview {
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #294145;
  display: none;
  height: 80px;
  margin-bottom: 5px;
  margin-left: -182px;
  margin-top: -39px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 158px;
  z-index: 3;
}

.mini_event {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 2px;
  margin-top: 2px;
}

.event_main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 0px 1px black;
  margin-bottom: 20px;
  .event_content {
    padding: 10px;
  }
}

/*proposal models*/

.event_model_option {
  float: left;
  width: 260px;
  height: 250px;
  border: 1px dotted #ccc;
  cursor: pointer;
  margin: 5px;

  &:hover {
    opacity: 0.8;
  }

  .model_name {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    .name {
      height: 50px;
    }
  }
}

.partecipant_left {
  margin-bottom: 10px;
  .partecipant_image {
    float: left;
  }
  .partecipant_text {
    float: left;
    margin-left: 5px;
    max-width: 165px;
    span {
      color:darkslategray;
    }
  }
}

.loading_place {
  margin-top: 24px;
  display:none;
}