.eventtitle {
	color: #333333;
}

.fc-widget-content {
	cursor: pointer;
}


.fc-widget-content:hover {
	background-color: #f5f8f9;
}

.fc-widget-content:active {
	background-color: #fbec88;
}

.event_description {
	float: left;
}



.event_calendar {
	background: url("/assets/calendar.png") no-repeat;
	width: 64px;
	height: 64px;
	cursor: default;
	float:left;
}

.event_calendar .day {
	font-size: 11px;
    margin: auto;
    padding-top: 16px;
    text-align: center;
}

.event_calendar .number {
	font-size: 25px;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
}


.event_calendar_mini {
	background: url("/assets/calendar-32.png") no-repeat;
	width: 32px;
	height: 32px;
	cursor: pointer;
	float:left;
	margin-top:-18px;
}

.event_calendar_mini .day {
	font-size: 10px;
    margin: auto;
    padding-top: 14px;
    text-align: center;
}

.event_calendar_mini .number {
	font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
}
