.event-date {
  width: 6rem;
  margin: 0 auto 0.6rem;
  display: table-cell;
  width: auto;
  float: left;
  padding-right: 10px;

  .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
  }

  .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

.event_dates_text {
  float: left;
  margin-top: 17px;
}

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top;

  .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
  }

  .event-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}

// .event_calendar_mini {
//   background: asset_url("calendar-32.png") no-repeat;
//   width: 32px;
//   height: 32px;
//   cursor: pointer;
//   float: left;
//   margin-top: -18px;
//   .day {
//     font-size: 10px;
//     margin: auto;
//     padding-top: 14px;
//     text-align: center;
//   }
//   .number {
//     font-size: 20px;
//     font-weight: bold;
//     margin-top: -5px;
//     text-align: center;
//   }
// }

.event-overview {
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #294145;
  display: none;
  height: 80px;
  margin-bottom: 5px;
  margin-left: -182px;
  margin-top: -39px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 158px;
  z-index: 3;
}

.mini_event {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 6px;
  margin-top: 2px;
}

/*proposal models*/

.event_model_option {
  float: left;
  width: 260px;
  height: 250px;
  border: 1px dotted #ccc;
  cursor: pointer;
  margin: 5px;

  &:hover {
    opacity: 0.8;
  }

  .model_name {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    .name {
      height: 50px;
    }
  }
}

.participant_left {
  margin-bottom: 10px;
  .participant_image {
    float: left;
  }
  .participant_text {
    float: left;
    margin-left: 5px;
    max-width: 165px;
    span {
      color: darkslategray;
    }
  }
}

.loading_place {
  margin-top: 24px;
  display: none;
}

.map-canvas {
  width: 100%;
  height: 300px;
  img {
    max-width: none;
  }
}
