.group_area {
  position: relative;
  word-wrap: break-word;
  .group_area_name {
    font-weight: bold;
    height: 35px;
    overflow: hidden;
    position: relative;
  }
}

.members {
  border: 1px dotted #CCCCCC;
  float: left;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 3px;
  position: relative;
  text-align: left;
  width: 170px;
  background-color: white;
  img {
    border: 1px solid #CCCCCC;
    float: left;
    padding: 2px;
  }
  b {
    font-size: 1em;
  }
}

.areas_list {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  width: 200px;
  position: absolute;
  z-index: 1;
  ul {
    margin: 0;
    padding: 2px;
    li {
      list-style: none outside none;
      padding: 2px;
    }
  }
}

.remove_area_button {
  float: right;
  margin-right: 5px;
}
