.groupListContainer {
    border: 1px solid #cccccc;
    background: repeat scroll 0 0 #FFF;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#DFEFFC));
	background: -moz-linear-gradient(center top , #FFFFFF, #F4F4F4) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top , #FFFFFF, #F4F4F4);
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    position: relative;
    width: 235px;
}
.groupListContainer h3 {
    font-size: 16px;
    line-height: 18px;
    margin:0px;
}
.groupUserImage {
	float: left;
	margin: 0px 5px 5px 0px;
	height: 50px;
	width: 50px;
}

.groupcontainer {
	clear: both;
}

.groupcontainer .groupImg24 {
	cursor: pointer;
    float: left;
    height: 24px;
    width: 24px;
    margin-right:5px;
    margin-top:2px;

}

.groupcontainer .group {
	cursor: pointer;
    float: left;
    /*width:140px;*/
}

.group_description {
	font-size: 16px;
	font-weight: bold;
}

input.days, input.hours, input.minutes {
	width:50px;
}

.form_float {
	float:left;
	padding: 5px 10px 5px 0;	
}

.loading_groups {
    background-color: #FAFAFA;
    border-top: 1px solid #E3E3E3;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #3366CC;
    font-weight: bold;
    cursor: pointer;
}

.loading_groups:hover {
    background-color: #F4F4F4;
    text-decoration: none;
}

#groups_list {
    margin-bottom: 10px;
}


