.group_area {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    float: left;
    height: 125px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
    position: relative;
    text-align: left;
    width: 235px;
    z-index: 0;
    word-wrap: break-word;

}

.group_area .group_area_name {
    font-weight: bold;
    height: 35px;
    overflow: hidden;
    position: relative;
}

.group_area .group_area_name .fade_out{
    position: absolute;
    bottom: 0px;
    height: 13px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(245, 245, 245, 0) 20%, rgba(245, 245, 245, 1) 100%);
    background-image: -moz-linear-gradient(rgba(245, 245, 245, 0) 20%, rgba(245, 245, 245, 1) 100%);
    background-image: -o-linear-gradient(rgba(245, 245, 245, 0) 20%, rgba(245, 245, 245, 1) 100%);
    background-image: linear-gradient(rgba(245, 245, 245, 0) 20%, rgba(245, 245, 245, 1) 100%);
    background-image: -ms-linear-gradient(rgba(245, 245, 245, 0) 20%, rgba(245, 245, 245, 1) 100%);
}


.members {
    border: 1px dotted #CCCCCC;
    float: left;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px;
    position: relative;
    text-align: left;
    width: 170px;
    background-color: white;

}

.members img {
    border: 1px solid #CCCCCC;
    float: left;
    padding: 2px;
}

.members b {
    font-size: 1em;
}

.areas_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    width: 200px;
    position: absolute;
    z-index: 1;
}

.areas_list ul {
    margin: 0;
    padding:  2px;
}

.areas_list li {
    list-style: none outside none;
    padding: 2px;
}

.remove_area_button {
    float:right;
    /*visibility: hidden;*/
    margin-right: 5px;
}

.group_area:hover .remove_area_button {
    /*visibility: visible;*/
}