html, body { height: 100%; }

#great_container {
    height:  auto;
    min-height: 95%;
    padding-bottom: 35px;
}

#footer {
    font-size: 12px;
    clear: both;
    position: relative;
    z-index: 10;
    height: 35px;
    margin-top: -45px;
    width: 981px;
    margin-left: auto;
    margin-right: auto;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover, a:active {
    outline: 0
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

button {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button {
    cursor: pointer;
    -webkit-appearance: button
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'ubuntu', arial, tahoma, 'lucida grande', verdana, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background-color: #fff
}

a {
    color: #08c;
    text-decoration: none
}

a:hover {
    color: #005580;
    text-decoration: underline
}

.row {

}

.row:before, .row:after {
    display: table;
    content: ""
}

.row:after {
    clear: both
}

[class*="span"] {
    float: left;
    margin-left: 20px
}

.container {
    width: 1000px
}

.span4 {
    width: 300px
}

.span2 {
    width: 140px
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1
}

.container:before, .container:after {
    display: table;
    content: ""
}

.container:after {
    clear: both;
    position: absolute;
}

p small {
    font-size: 11px;
    color: #999
}

.lead {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999
}

h1 {
    font-size: 30px;
    line-height: 36px
}

h1 small {
    font-size: 18px
}

h2 {
    font-size: 24px;
    line-height: 36px
}

h2 small {
    font-size: 18px
}

h3 {
    font-size: 18px;
    line-height: 27px
}

h3 small {
    font-size: 14px
}

h4, h5, h6 {
    line-height: 18px
}

h4 {
    font-size: 14px
}

h4 small {
    font-size: 12px
}

h5 {
    font-size: 12px
}

h6 {
    font-size: 11px;
    color: #999;
    text-transform: uppercase
}

ul, ol {
    padding: 0;
    margin: 0 0 9px 25px
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li {
    line-height: 18px
}

dl {
    margin-bottom: 18px
}

dt, dd {
    line-height: 18px
}

dt {
    font-weight: bold;
    line-height: 17px
}

dd {
    margin-left: 9px
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}

.btn:active, .btn.active {
    background-color: #ccc;
}

.btn:first-child {
    *margin-left: 0
}

.btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.active, .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn.disabled, .btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.btn-large [class^="icon-"] {
    margin-top: 1px
}

.btn-success, .btn-success:hover:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-success.active {
    color: rgba(255, 255, 255, 0.75)
}

.btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
}

.btn-success {
    background-color: #5A7BC1;
    *background-color: #4B6EB7;
    background-image: -ms-linear-gradient(top, #5A7BC1, #4B6EB7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5A7BC1), to(#4B6EB7));
    background-image: -webkit-linear-gradient(top, #5A7BC1, #4B6EB7);
    background-image: -o-linear-gradient(top, #5A7BC1, #4B6EB7);
    background-image: -moz-linear-gradient(top, #5A7BC1, #4B6EB7);
    background-image: linear-gradient(top, #5A7BC1, #4B6EB7);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5A7BC1', endColorstr='#4B6EB7', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #4B6EB7;
    *background-color: #4B6EB7
}

.btn-success:active, .btn-success.active {
    background-color: #5A7BC1
}

button.btn, input[type="submit"].btn {
    *padding-top: 2px;
    *padding-bottom: 2px
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

button.btn.btn-large, input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px
}

/*NAV*/
.nav {
    margin-bottom: 18px;
    margin-left: 0;
    list-style: none
}

.nav>li>a {
    display: block
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav>.pull-right {
    float: right
}

.nav-pills {
    *zoom: 1
}

.nav-pills:before, .nav-pills:after {
    display: table;
    content: ""
}

.nav-pills:after {
    clear: both
}

.nav-pills>li {
    float: left
}

.nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px
}

.nav-pills>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.nav-pills>.active>a, .nav-pills>.active>a:hover {
    color: #fff;
    background-color: #08c
}

.nav-pills>li>a {
    margin-bottom: 3px
}

.nav-pills>li:last-child>a {
    margin-bottom: 1px
}

.nav-pills {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.pull-right {
    margin-right: 0;
    margin-left: 10px
}

.pull-right {
    right: 0;
    left: auto
}

.pull-right:before {
    right: 12px;
    left: auto
}

.pull-right:after {
    right: 13px;
    left: auto
}

/*Formattazioni*/
.pull-right {
    float: right
}

.pull-left {
    float: left
}

.hide {
    display: none
}

.show {
    display: block
}

.invisible {
    visibility: hidden
}

/* frontpage */
body {
    padding-top: 60px;
}

.dashboard {
    padding-top: 0px;
}

.customization {
    padding-top: 90px;
}

.frontpage {
    padding-top: 0px;
}

/* Footer
-------------------------------------------------- */
.pull-right a {
    margin-left: 5px;
    margin-right: 5px;
}

/* frontpage */

.frontpage em {
    color: #5A7BC1;
    font-style: normal;
}


.frontpage b {
    color: #000;
}

.frontpage {
    background: url('/assets/people.jpg') center 0px no-repeat;
}

.frontpage .fuicon {
    background-image: url('/images/followus-icons.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 27px;
    display: inline-block;
}

#slogan {
    font-size: 18px;
    position: absolute;
    margin-top: 335px;
    width: 1000px;
}

#sub-slogan {
    font-size: 18px;
    position: absolute;
    margin-top: 365px;
    margin-left: 80px;
    width: 980px;
    text-align: center;
}

#pop-cloud {
    position: absolute;
    margin-top: 330px;
    margin-left: 845px;
    width: 300px;
}

/* navbar */
.navbar {
    list-style: none;
}

.navbar li {
    float: left;
}

.navbar > li > a {
    font-size: 11pt;
    float: none;
    padding: 10px 10px 11px;
    line-height: 19px;
    color: #369;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    display: block;
    margin-top: 3px;
}

.navbar > li > a:hover {
    color: #FE8A5D;
    border-top: solid 3px #FE8A5D;
    margin-top: 0px;
}

/* General dropdown styles */
.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0px;
    padding: 0px;
}

.dropdown dd {
    position: relative;
    z-index: 1;
}

/* DT styles for sliding doors */
.cur.language {
    background: url(arrow.png) no-repeat scroll right center;
    display: block;
    padding: 3px 20px 3px 0px;
    color: #336699;
    cursor: pointer;
}

#language a {
    font-size: 1.5em;
    line-height: 1.5em;
}

.dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}

/* UL styles */
.dropdown dd ul {
    background: white none repeat scroll 0 0;
    display: none;
    list-style: none;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 110px;
    min-width: 100px;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown {
    float:left;
    margin-bottom: 0px;
    margin-top: 8px;
    margin-left: 10px;
}
