@import "foundation/functions";
@include exports("global") {}
@import "foundation/components/global";


#homecont .portlet_panel {
  width: 100%;
}


@media (min-width: 1201px) and (max-width: 1600px) {
  #homecont .portlet_panel {
    width: 50%;
  }
}

@media (min-width: 1601px) {
  #homecont .portlet_panel {
    width: 33%;
  }
}

#notification-portlet {
  overflow: auto;
  height: 260px;
}

#group_portlet {
  overflow: auto;
  height: 260px;
}

#homegroup .portlet_panel {
  width:  100%;
}

#homecont, #homegroup {
  position: relative;
  .portlet_panel {
    float: left;

    .inner {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      height: 400px;

      .scrollable {
        height: 348px;
        overflow-x: hidden;
        overflow-y: auto;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0px rgb(0, 0, 0);
        &:hover {
          background-color: #ddd;
        }
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }

      ::-webkit-scrollbar {
        width: 8px;
      }

      .title {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0px 5px;
        min-height: 45px;
        line-height: 40px;
      }
    }
  }
}
