#proposalsListContainer {
	
}

#loading_proposals {
	background-color: #FAFAFA;
	border-top: 1px solid #E3E3E3;
	display: block;
	padding: 10px 0;
	text-align: center;
	color: #3366CC;
	font-weight: bold;
}
#loading_proposals:hover {
	background-color: #F4F4F4;
	text-decoration: none;
}


.proposalComment {
	padding: 20px 0 0;
/*	border-top: 1px solid #ccc;*/
	clear: both;
}

.proposalCommentPostedAt {
	margin-bottom:16px;
}


.proposalNewComment {
	margin-top: 5px;
	clear: both;
}

.proposalNewCommentField {
	border:none;
	width: 100%;
	height: 130px;
	resize: none;
	background: none;
}

.new_blog_comment {
	
}

.blogPoster {
	font-style: italic;
}

.blogCommentAdmin {
	background-color: #EBE0BF;
}

.blogFooter a {
	margin-right: 5px;
}

.blogUserImage {
	float: left;
	margin: 0px 5px 5px 0px;
}

ul.blogList {
	list-style: none;
	padding: 5px 10px;
	margin: 0;
}
ul.blogList li {
	display: inline;
	padding: 0px 10px;
	border-left: 1px solid #777;
	margin: 0px 0px;
}
ul.blogList li.blogListFirst {
	border-left: none;
}

.blogEditRightPanel {
	float: left;
	margin-left: 20px;
	width: 450px;
}
.blogEditLeftPanel {
	float: left;
}
#blogImages {
	width: 100%;
}
.blogImageHeader td {
	font-weight: bold;
}
.imageFileName {
	width: 120px;
	overflow-x: hidden;
}

.blogMarkdownHelp {
	margin-top: 20px;
}

.blogKitCode pre {
	overflow-x: auto;
}