@import "foundation/functions";

@include exports("global") {
}

@import "foundation/components/global";

.loading_proposals.card {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #3366CC;
  font-weight: bold;
  cursor: pointer;
}

.loading_proposals:hover {
  background-color: #F4F4F4;
  text-decoration: none;
}

.new_section {
  text-align: center;
}

.comment-form-comment {
  margin-bottom: 13px;
}

.close-right-section {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.proposalComment {
  padding: 20px 0 0;
  clear: both;
  position: relative;
}

.panel.callout.comment_update_divider {
  margin-left: 97px;
  margin-bottom: 0px;
  border-top: 0px;
  padding: 0.3em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.proposalNewComment {
  margin-top: 5px;
  clear: both;
}

.proposalNewCommentField {
  border: none;
  width: 100%;
  height: 130px;
  resize: none;
  background: none;
}

.proposal_title_index {
  overflow: hidden;
  border-bottom: 1px solid #D8D2C3;
}

.proposal_main {

}

.solution_main {
  .proposal_main {
    margin-bottom: 0px;
  }
}

.solution_main h3 {
  margin: -5px -7px 17px -5px; //fuck fix
}

.proposal_comment {
  position: relative;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #333333;
  background-color: #fff;
  @media #{$medium-up} {
    margin-left: 50px;
  }
}

.show_all_comments {
  position: relative;
  background: #fff;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  margin-left: 150px;
  padding: 5px;
  color: #333333;
}

.proposal_comment_reply {
  padding-top: 1px;
  position: relative;
  background: #fff;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  margin-left: 32px;
  @media #{$medium-up} {
    margin-left: 97px;
  }
  color: #333333;
  .reply_area {
    margin-right: 100px;
    @media #{$medium-up} {
      margin-right: 140px;

    }
    margin-left: 10px;
    margin-bottom: 24px;
    textarea {
      width: 100%;
      height: 32px;
    }
  }
  .reply_button {
    bottom: 5px;
    position: absolute;
    @media #{$medium-up} {
      right: 20px;
    }
    right: 10px;
  }
  .reply_content {
    padding: 5px;
    word-break: break-word;
  }
  textarea {
    border: 1px solid #BDC7D8;
    margin: 5px;
    resize: none;
    width: 80%;
  }
  .textntags-beautifier {
    background: white;
  }
  form {
    margin-top: 10px;
  }
}

.reply_img {
  @media #{$medium-up} {
    margin: 5px 5px 0px 55px;
  }
  float: left;
}

.vote_proposal .proposal_list {
  float: left;
  width: 90%;
}

.order-options {
  margin: 15px 0px;
  .order_option {
    padding: 0.8rem 1rem;
    cursor: pointer;
    &.sel {
      background-color: #fff;
    }
    a {
      color: black;
    }
  }
}

.authors {
  .title {
    border-top: 1px dotted #ccc;
    padding-top: 5px;
    margin-top: 5px;
  }
}

.proposal_list {
  position: relative;
  width: 100%;
  display: inline-block;

  .authors, .groups {
    display: none;
  }

  .text_content {
    word-wrap: break-word;
    word-break: break-word;
    margin-top: 20px;
    height: 3.5em;
    overflow-y: hidden;
  }

  .category_icon {
    text-align: center;
    opacity: 1;
    border-bottom: 1px dotted silver;
    padding-bottom: 4px;
  }

  .model {
    font-size: 11px;
    color: #525252;
    width: 90px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    height: 32px;
  }

  .proposal_cont {
    display: table;
    width: 100%;
    .left_cont {
      width: 90px;
    }
    .left_cont, .right_cont {
      display: table-cell;
      position: relative;
      vertical-align: top;
    }
    .right_cont {
      padding: 10px;
      width: 100%;
    }
    .left_cont .inner_cont {
      border-right: 1px dotted black;
      padding: 0px 8px 0px 0px;
      margin: 8px 0px;
      width: 107px;
      .status {
        font-size: 10px;
        color: gray;
        width: 90px;
        font-weight: bold;
        text-align: center;
        height: 45px;
        margin-top: 4px;
        line-height: 1.6em;
      }
    }
  }

  .like-mini {
    background: asset_url('like-mini.gif') 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  .dislike-mini {
    background: asset_url('dislike-mini.gif') 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }

  .maintitle {
    line-height: 1.2em;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: -3px;
    left: 0px;
    right: 10px;
    &.voteright {
      right: 70px;
    }
  }

  .proposalDescription {
    margin: 0px 10px;
    overflow: hidden;

    &.participants, &.contributes {
      max-width: 15%;
    }
  }
  .territoryDescription {
    max-width: 30%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px 10px;
  }
  .timeDescription {
    max-width: 50%;
    margin-right: 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  .proposal_bottom {
    padding-top: 10px;
    padding-left: 5px;
    .count {
      font-weight: bold;
      color: #626262;
    }

    .alerts_and_vote {
      position: absolute;
      top: 8px;
      right: 6px;
      .btn {
        padding: 3px 8px;
        margin: 0px 5px;
      }
    }
  }
}

.timeline {
  background: asset_url('plist/timeline_bg.png');
  height: 5px;
  margin-top: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px silver;
  position: relative;
  opacity: 0.7;
  margin-left: 10px;
  margin-right: 15px;

  .cur {
    /* height: 13px;
     width: 13px;
     border-radius: 50%;*/
    position: absolute;
    cursor: help;
    /*box-shadow: 0px 0px 1px #000;*/
    margin-top: -4px;
    background-color: #e6e6e6;
    z-index: 1;
    margin-left: -6px;
    opacity: 0.9;

    &.start {
      background: no-repeat asset_url('plist/start.png');
      height: 25px;
      width: 7px;
      margin-top: -10px;
    }

    &.stop {
      right: -22px;
      background: asset_url('plist/traguardo.png') no-repeat center;
      background-size: 18px;
      height: 20px;
      width: 16px;
      margin-top: -12px;
    }

    &.now {
      background: no-repeat asset_url('plist/freccia_dx.png');
      left: 100%;
      height: 16px;
      width: 14px;
      margin-left: 0px;
      margin-top: -5px;
    }

    &.quorum {
      margin-top: -11px;
      border-radius: 50%;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 15px solid #767676;
      box-shadow: none;
      background-color: transparent;
      margin-left: -13px;
      &.bad {
        margin-top: 0px;
        border-top: none;
        border-bottom: 15px solid #767676;
      }
    }

  }

  .time {
    background-color: red;
    height: 100%;
    width: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    .good {
      background-color: #07c100;
      height: 100%;
      width: 0%;
      float: left;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

  }

  &.vote {
    .time {
      background-color: white;
      border: 1px solid silver;
      .good {
        background-color: blue;
      }
    }
  }
}

.portlet_panel {
  .proposal_list {

    .proposal_cont {
      height: auto;
      .left_cont, .left_cont .inner_cont {
        width: 40px;
      }
    }
    .category_icon {
      border-bottom: none;
      img {
        width: 40px;
      }
    }
    .maintitle {
      font-size: 1em;
    }

    .datetime {
      width: 150px;
    }

    .timeline {
      margin-top: 33px;
    }

    .proposal_bottom {
      img {
      }
    }
  }

}

#start_preset {
  .start_vot {
    margin-top: 10px;
  }
}

.proposal_list {
  .datetime {
    margin: 5px 0px;
    position: absolute;
    width: 130px;
    top: 0;
    right: 0;
  }
}

.proposal_content {
  word-wrap: break-word;
  word-break: break-word;
  padding: 10px;
  line-height: 1.6em;
  overflow: hidden;
  p {
    margin-bottom: 0.2em;
  }
}

.proposal_list {
  .authors {
    margin-top: 28px;
    float: left;
    .title {
      font-weight: bold;
      margin-right: 5px;
      float: left;
      color: #808080;
    }
  }
  .groups {
    margin-top: 28px;
    float: left;
    .title {
      font-weight: bold;
      margin-right: 5px;
      float: left;
      color: #808080;
    }
  }
  .borders {
    .title {
      font-weight: bold;
      margin-right: 5px;
      float: left;
      color: #808080;
    }
    .border {
      width: auto;
      float: left;
      margin-left: 5px;
      padding: 0 5px;
    }
  }
  .rankcontainer {
    float: left;
  }
  .votedup-mini {
    float: none;
  }
  .voteddown-mini {
    float: none;
  }
}

.proposalTitle {
  border-bottom: 1px solid #D8D2C3;
  /*border-top: 1px solid #D8D2C3;*/
  margin-bottom: 8px;
  margin-top: 0px;
  padding-bottom: 8px
}

#categories {
  position: relative;
  left: 1px;
  /*border-top: 1px solid #D8D2C3;
  border-left: 1px solid #D8D2C3;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #D8D2C3;*/
}

.new_blog_comment {

}

.blogPoster {
  font-style: italic;
}

.blogCommentAdmin {
  background-color: #EBE0BF;
}

.blogFooter a {
  margin-right: 5px;
}

.blogUserImage {
  @media #{$medium-up} {
    float: left;
    margin: 0px 5px 5px 0px;
  }
}

ul.blogList {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
}

ul.blogList li {
  display: inline;
  padding: 0px 10px;
  border-left: 1px solid #777;
  margin: 0px 0px;
}

ul.blogList li.blogListFirst {
  border-left: none;
}

.solution_main .proposal_main {
  box-shadow: none;
}

.diffcontainer h3 .tit1 .tit2 {
  margin-right: 0px;
}

h3 {
  .tit1 {
    position: relative;
    margin-bottom: -16px;
    background-color: rgba(222, 222, 222, 0.5);
    padding: 10px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
    &.sol {
      background-color: #33b5e5;
      color: #fff;
    }
    .tit2 {
      margin-right: 56px;
      @media #{$medium-up} {
        margin-right: 238px;
      }
      word-break: break-word;
      input {
        display: inline;
        width: 50%;
        margin-bottom: 0px;
      }
    }
    .suggest {
      position: absolute;
      right: 0px;
      color: gray;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-top: -29px;
    }
  }
}

.sol_content {
  padding: 5px;
}

.rankleftpanel {
  margin: auto;
  .littleText {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  .rightAlign {
    color: #F17C22;
    font-size: 21px;
    font-weight: bold;
    text-align: right;
  }
  .voteup {
    margin-right: 5px;
  }
  .votedown {
    margin-right: 5px;
  }
  .votedup {
    margin-right: 5px;
  }
  .voteddown {
    margin-right: 5px;
  }
  .handscontainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 15px;
  }
}

.vote_container {
  margin: 5px auto;
  display: table;
}

.vote_description {
  margin-top: 8px;
  float: left;
  font-weight: bold;
}

.baloon {
  float: left;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #EBE0BF;
}

.baloon_header {
  margin: 0px 5px;
  .integrate_button.panel.callout {
    float: right;
    margin-bottom: 0px;
    .integrate_label {
      margin-right: 3px;
    }
    input {
      margin-bottom: 0px;
    }
  }
}

.baloon-content {
  word-wrap: break-word;
  margin: 5px;
}

.baloon-footer {
  /*margin: 0px 5px;*/
  font-size: 0.9em;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 2px;
  color: #999999;
  float: left;
}

.reply-footer {
  font-size: 0.9em;
  margin-top: 5px;
  color: #999999;
}

.rankingpanelcontainer {
  color: #444;
  float: right;
  font-size: 0.9em;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 2px;
  .think {
    color: #999999;
    margin-right: 10px;
  }
}

.baloon-triangle {
  background: asset_url('baloon-triangle.png') no-repeat top left;
  width: 10px;
  height: 21px;
  position: absolute;
  left: -10px;
  top: 7px;
  @media #{$small-only} {
    &.contribute {
      left: 5px;
      top: -15px;
      transform: rotate(90deg);
    }
  }
}

.ui-tabs.ui-widget-content,
.ui-tabs .ui-tabs-panel {
  margin-top: -1px;
  margin-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid silver;
}

.ui-widget-header .ui-state-default.ui-state-focus {
  background-color: white;
}

.ui-tabs {
  .ui-tabs-nav {
    li.ui-state-default {
      background-color: #e6e6e6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      font-weight: bold;
      font-size: 13px;
      color: #333;
      cursor: pointer;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;

      &.ui-state-hover, &.ui-state-focus {
        background-color: white;
      }
      &.ui-tabs-active {
        background-color: white;
        color: black;
        border-left: 1px solid silver;
        border-right: 1px solid silver;
        border-top: 1px solid silver;
        border-bottom: none;
      }
      a {
        color: black;
      }
    }
  }
}

.ui-tabs ul.ui-widget-header {
  background: none;
  border: none;
}

.status_title {
  font-size: 15px;
}

form {
  .counter {
    font-size: 0.8em;
    font-weight: bold;
    color: #333333;
  }
  .warning {
    color: #d00;
  }
  .exceeded {
    color: #e00;
  }
}

.paragraph_select {
  max-width: 400px;
}

#new_proposal_comment .counter {
  float: right;
  padding-top: 15px;
}

.ice .cts-1 {
  color: green;
}

.ice .ins {
  text-decoration: underline;
}

.del {
  text-decoration: line-through;
}

.ice-ins {
  background-color: #e5ffcd !important;
}

.ice-del {
  background-color: #fad1e1 !important;
  img.cke_iframe {
    background-color: #fad1e1 !important;
  }
}

.solution_title {
  h3 {
    float: left;
    margin-bottom: 5px;
  }
  .slideNumber {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    -moz-padding-start: 0.2rem;
    -moz-padding-end: 0.2rem;
  }
  .slider {
    float: left;
    width: 120px;
    margin-left: 15px;
    margin-top: 10px;
  }
}

input.edit_label {
  color: #444;
  font-weight: bold;
  font-size: 1em;
}

.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 309px !important;
  width: 98%;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

.section_container {
  background: white;
  margin-bottom: 20px;
  input[type="text"] {
    margin-bottom: 2px;
  }
}

//TODO old button to remove stuff
.remove_button {
  display: none;
}

.mceLayout {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn.contribute-section-button {
  margin-top: 4px;
  padding: 0.5em 0.8em !important;
  min-width: 30px;
  min-height: 30px;
}

.vote_panel {
  background-color: #E2F0B6;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  .solution_row.panel {
    padding: 1em 0.3em;
    .slideNumber {
      margin-bottom: 0px;
    }
    .slider-row {
      padding-top: 2px;
    }
  }
}

.hidden_link {
  background: no-repeat asset_url("arrow.png") right;
}

.hidden_link:hover {
  background-image: asset_url("arrow_hover.png");
  cursor: pointer;
}

.mycont .hidden_link {
  width: auto;
  padding-right: 18px;
}

.hidden_link {
  &.visible {
    visibility: visible;
  }
  &.invisible {
    visibility: hidden;
  }
}

.hidden_menu {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px 0px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, .2);
  z-index: 1;

}

.hidden_menu .menu_item {
  padding: 6px 8em 6px 30px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  display: block;
}

.hidden_menu .menu_item:hover {
  background-color: #eee;
  border-color: #eee;
}

.hidden_menu .menu_item.checked {
  background: no-repeat asset_url('checkmark2.png') left;
}

.choose_dates_modal {
  width: 400px;
  height: 300px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

.proposal_comment_area {
  resize: none;
}

.noise_element {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
  background-color: white;
  cursor: move;
}

.noise_element.ui-sortable-placeholder {
  height: 100px !important;
  width: 94%;
}

.noise-sortable {
  padding: 5px;
  background-color: #eee;
  min-height: 100px;
}

/*proposal models*/

.proposal_model_option {
  width: 100%;
  height: 180px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 5px 0px;

  &:hover {
    opacity: 0.8;
  }

  .model_name {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-top: 10px;
    .name {
      height: 80px;
      overflow-x: hidden;
    }
  }
}

.arrow_right {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #fb3;
  position: absolute;
  top: 1px;
  right: -13px;
}

.first .arrow_right {
  border-left-color: #fff;
}

.btn.later {

}

#create_proposal, #create_event, #promote_steps {
  form {
    overflow: hidden;
    max-width: 1280px;
    margin: auto;
    clear: both;
  }
  .bread-crumb {
    list-style: none outside none;
    padding: 0;
    width: 100%;
    margin: auto;
    max-width: 1280px;
    height: 47px;
    li {
      float: left;
      position: relative;
      padding-left: 3px;
      padding-right: 3px;
      font-weight: bold;
      cursor: default;

      div.step_title {
        color: #CCCCCC;
        background: #F8F8F8;
        border: 1px solid #CCC;
        padding: 3px;
        border-radius: 5px;

        &.first {
          border-left: 1px solid #ccc;
        }

        &.last {
          border-right: 1px solid #ccc;
        }

        .number {
          display: inline-block;
          font-size: 2em;
          font-family: verdana;
          width: 10%;
        }

        .title {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      &.bread-crumb-completed {
        /*cursor: pointer;*/
        div.step_title {
          color: #FFF;
          background: #8CC63F;
          border: 1px solid #8CC63F;
        }
      }

      &.bread-crumb-active {
        div.step_title {
          color: #F8F8F8;
          background: #EA8511;
          border: 1px solid #EA8511;
        }
      }

    }
  }
}

#create_proposal, #create_event {
  .bread-crumb {
    li {
      width: 20%;
      .title {
        width: 80%;
      }
    }
  }
}

#promote_steps {
  .bread-crumb {
    li {
      width: 180px;
      .title {
        width: 100px;
      }
    }
  }
  div.step {
    text-align: center;
  }
}

#proposals_table td.first {
  width: 60%;
}

#proposals_table td.second {
  width: 40%;
}

.suggest .tria {
  position: absolute;
  right: -24px;
  margin-top: -40px;
  height: 38px;
  width: 20px;
  display: none;
}

.suggest_l .ui-icon {
  position: absolute;
}

.suggest_l .ui-icon.bulb {
  right: -22px;
  top: 0px;
}

.suggest_l .ui-icon.clock {
  right: -22px;
  top: 15px;
}

.suggest_l .ui-icon.star {
  right: -22px;
  top: 30px;
}

.change_nick {
  display: inline;
  .countdown_row {
    font-size: 12px;
  }
}

.remove_sol_button {
  position: absolute;
  right: 20px;
  top: 12px;
}

.remove_sol_button a {
  color: white;
}

.remove_sol_button a:hover {
  text-decoration: none;
}

.pressed {
  text-align: center;
  padding: 10px;
}

.diffcontainer {
  float: left;
}

.proposal_tag {
  border: 1px dotted #ccc;
  padding: 0.3em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.geocode_proposal {
  opacity: 0.5;
  width: 60px;
}

.cite.nickname {
  color: #3b5998;
}

.fake_content {
  color: #777;
  font-size: 0.85em;
}

#listContainer {
  margin-top: 15px;
}

.navigator {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.navigator p {
  margin: 0;
  display: block;
}

.navigator p:hover {
  background-color: #121212;
}

.navigator li {
  line-height: 140%;
  text-indent: 0px;
  background-position: 1px 8px;
  padding-left: 15px;
  background-repeat: no-repeat;
}

/* Collapsed state for list element */
.navigator .collapsed {
  background-image: image_url('collapsed.png');
}

/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
.navigator .expanded {
  background-image: image_url('expanded.png');
}

ul {
  &.navigator {
    margin-left: 0px;
    overflow: hidden;
    .sec_nav, .sol_sec_nav {
      width: 100%;
      &:last-child {
        .move_down {
          display: none !important;
        }
      }
      &:first-child {
        .move_up {
          display: none !important;
        }
      }

    }
    .sol_nav {
      width: 100%;
      &:last-child {
        .sol.move_down {
          display: none !important;
        }
      }
      &:first-child {
        .sol.move_up {
          display: none !important;
        }
      }
    }
    .sol_sec_nav {
      padding-left: 0px;
    }

    .sec_title_c {
      overflow: hidden;
      width: 155px;
      white-space: nowrap;
      margin-left: -20px;
      padding-left: 20px;
      vertical-align: middle;
      display: inline-block;
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.07);
      .action {
        display: inline-block;
      }
      li:not(:hover) {
        .action {
          display: none;
        }
      }
      li:hover {
        .action {
          display: inline-block;
        }
      }
    }
    .action {
      float: right;
      display: none;
    }

  }
}

.radiolabel {
  display: inline;
}

.choise_b {
  margin-top: 10px;
}

.date-creation {
  display: inline;
}

.date-update {
  display: inline;
}

.status_description {
  font-size: 0.9em;
  color: #333;
}

.choise_b .inner {
  margin-top: 10px;
}

.color_legend {
  width: 13px;
  height: 13px;
  &.positive {
    background-color: #4bb2c5;
  }
  &.negative {
    background-color: #EAA228;
  }
  &.neutral {
    background-color: #c5b47f;
  }
}

.time_end {
  margin-bottom: 5px;
}

.join_clause {
  margin: 5px 0px;
}

.end-debate {
  font-weight: bold;
}

.schulze {
  width: 19px;
  height: 18px;
  display: inline-block;
  &.bad {
    background: asset_url('faces/red_full_16.png') 0 0 no-repeat;
  }
  &.good {
    background: asset_url('faces/green_full_16.png') 0 0 no-repeat;

  }
}

ul.friends_list {
  list-style: none;
  margin: 2px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  .fb_friend {
    .panel {
      padding: 0.5em;
      margin-bottom: 0.5em;
      form {
        margin: 0;
        .fb_msg_area {
          width: 100%;
          height: 64px;
        }
      }
    }
  }
}

#sent_friends {
  .row {
    padding: 15px 10px 15px 10px;
    [class*="column"] + [class*="column"]:last-child {
      float: left;
    }
  }
}

.read_contributes {
  position: fixed;
  color: #333;
  z-index: 1;
}

.hidden_link {
  height: 17px;
  width: 17px;
  .blogPost & {
    float: right;
  }
}
