.select2-container.select2-container--default {
  .select2-selection.select2-selection--single,
  .select2-selection.select2-selection--multiple {
    border-radius: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 2.84615rem;
    .select2-selection__arrow {
      height: 2.715rem;
    }
    .select2-selection__rendered {
      line-height: 2.815rem;
    }
    .select2-search__field {
      box-shadow: none;
    }
  }
}
