#user-panel {
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #294145;
	display: block;

	padding: 10px;
	position: absolute;
	text-align: left;
	width: 235px;
	height:102px;
	z-index: 3;
}

#user-panel ul.menu-list {
	float: left;
    list-style-type: none;
    margin-left: 8px;
    margin-top: 2px;
    padding: 0 0 0;
}

#user-panel ul.menu-list li {
	padding-top:2px;
	padding-bottom:2px;
}
#user-panel ul.menu-list li:hover {
	opacity: 0.5;	
}
