.Mo {
  cursor: pointer;
  float: left;
}

.MoImg24 {
  cursor: pointer;
  float: left;
  width: 24px;
  height: 24px;
}

.caption {
  top: 0px;
  position: absolute;
  display: none;
  background: none repeat scroll 0 0 #4A4D4A;
  color: white;
  letter-spacing: -1px;
  opacity: 0.6;
  padding: 4px;
  margin: 5px;
  left: 1px;
  .leftUserImage & {
    background: none repeat scroll 0 0 #4A4D4A;
    color: white;
    display: none;
    letter-spacing: -1px;
    margin-left: 2px;
    margin-top: 10px;
    opacity: 0.6;
    padding: 4px;
    position: absolute;
    top: 0;
    font-size: 13px;
  }
}

.caption a {
  cursor: pointer;
}

.image_container:hover .caption {
  display: block;
}

.user_profile {
  border: 1px solid #808080;
  border-radius: 3px 3px 3px 3px;
}

.profile_element, .profile_element_no_click {
  padding: 7px;
  margin: 5px auto;
  width: 95%;
}

.profile_element:hover {
  background: #DFEFFC;
}

.label_profile {
  color: #888888;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4em;
  text-align: right;
  vertical-align: top;
  width: 130px;
  margin: 0px;
  display: inline-block;
  position: relative;
}

.info_profile {
  line-height: 1.39em;
  padding: 0 0 0 15px;
  display: inline-block;
  position: relative;
}

.edit_user {
  padding-top: 8px;
}

.user_certified {
  position: relative;
  .certification {
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
}

.user_certified_mini {
  border: 3px solid #57CF1C;
}

.card.user {
  padding: 0;
  width: 100%;
  .image {
    width: 100%;
    max-height: 140px;
    overflow-y: hidden;
    img {
      width: 100%;
    }
  }
  .info {
    padding: 0.4rem;
    .name {
      font-size: 1.1rem;
      font-weight: bold;
      white-space: nowrap;
      overflow-x: hidden;
      margin: 5px 0px 5px 0px;
    }
  }
  .bottom {
    padding: 0.4rem;
  }
}