.voteup {
	background: url('/assets/like-blank.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
.voteup:hover {
	background: url('/assets/like.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
.votedown {
	background: url('/assets/dislike-blank.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
.votedown:hover {
	background: url('/assets/dislike.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
.votedup {
	background: url('/assets/like.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
.voteddown {
	background: url('/assets/dislike.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block;
}
.notvotedup {
	background: url('/assets/like-blank.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
.notvoteddown {
	background: url('/assets/dislike-blank.gif') 0 0 no-repeat;
	width: 25px;
	height: 25px;
	display: block;
}

/*pulsanti valutazione positiva contributo*/


.notvotedup-mini {
    background: url('/assets/faces/green_empty_16.png') 0 0 no-repeat;
    width: 19px;
    height: 18px;
    float: right;
    display: inline-block;
}

.voteup-mini {
    background: url('/assets/faces/green_empty_16.png') 0 0 no-repeat;
    width: 19px;
    height: 18px;
    float: right;
    display: inline-block;
}

.voteup-mini:hover {
	background: url('/assets/faces/green_full_16.png') 0 0 no-repeat;
	
}

.votedup-mini {
	background: url('/assets/faces/green_full_16.png') 0 0 no-repeat;
	width: 19px;
	height: 18px;
	display: inline-block;
	float: right;
}

/*pulsanti valutazione neutra contributo*/
.notvotednil-mini {
    background: url('/assets/faces/white_empty_16.png') 0 0 no-repeat;
    width: 19px;
    height: 18px;
    float: right;
    display: inline-block;
    margin-right: 5px;
}

.votenil-mini {
	background: url('/assets/faces/white_empty_16.png') 0 0 no-repeat;
	width: 19px;
	height: 18px;
	float: right;
	display: inline-block;
	margin-right: 5px;
}

.votenil-mini:hover {
	background: url('/assets/faces/white_full_16.png') 0 0 no-repeat;
	
}

.votednil-mini {
	background: url('/assets/faces/white_full_16.png') 0 0 no-repeat;
	width: 19px;
	height: 18px;
	display: inline-block;
	float: right;
}

/*pulsanti valutazione negativa contributo*/
.notvoteddown-mini {
    background: url('/assets/faces/red_empty_16.png') 0 0 no-repeat;
    width: 19px;
    height: 18px;
    float: right;
    display: inline-block;
    margin: 0 5px;
}

.votedown-mini {
	background: url('/assets/faces/red_empty_16.png') 0 0 no-repeat;
	width: 19px;
	height: 18px;
	float: right;
	display: inline-block;
}
.votedown-mini:hover {
	background: url('/assets/faces/red_full_16.png') 0 0 no-repeat;
}


.voteddown-mini {
	background: url('/assets/faces/red_full_16.png') 0 0 no-repeat;
	width: 19px;
	height: 18px;
	display: inline-block;
	float: right;
}

.votered {
	background: url('/assets/red-2.png') 0 0 no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin-left: 7px;
	margin-top: 5px;
}
.votered:hover {
	background: url('/assets/red.png') 0 0 no-repeat;
}
.voteyellow {
	background: url('/assets/yellow-2.png') 0 0 no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin-left: 7px;
	margin-top: 5px;
}
.voteyellow:hover {
	background: url('/assets/yellow.png') 0 0 no-repeat;
}
.votegreen {
	background: url('/assets/green-2.png') 0 0 no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin-left: 7px;
	margin-top: 5px;
}
.votegreen:hover {
	background: url('/assets/green.png') 0 0 no-repeat;
}
.points {
	margin: 5px 0px 0px 0px;
}
.ranking {
	margin: 0px 0px 5px 0px;
}
