<p>Benvenuto su DemocracyOnlineAlfa <%= @resource.name %>!</p>

<p>Puoi confermare il tuo indirizzo email cliccando sul link qui sotto:</p>

<p><%= link_to 'Conferma account', user_confirmation_url(:confirmation_token => @resource.confirmation_token) %></p>

<p> Se hai problemi con la procedura contatta un amministratore: coorasse+admin@gmail.com</p>
