<p>Ciao <%= @resource.fullname %>!</p>

<p>Ecco il link per cambiare la tua password:</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se non hai richiesto un cambio di password ignora questa email.</p>
<p>La tua password non cambierà fino a quando non cliccherai sul link sopra riportato.</p>
