<h2>Errore durante la procedura di invito</h2>

Siamo spiacenti ma non è possibile concludere la procedura d'invito.<br />
Ti invitiamo a recarti sulla pagina del gruppo <%= link_to @group.name, @group %> e a richiedere esplicitamente di essere invitato.