.Mo {
	cursor: pointer;
	float: left;
}

.MoImg24 {
	cursor: pointer;
	float: left;
	width: 24px;
	height: 24px;
}


.leftUserImage {
	/*width:100%;
	margin:auto;
	text-align: center;*/
}

.leftUserImage .caption {
    background: none repeat scroll 0 0 #4A4D4A;
    color: white;
    display: none;
    letter-spacing: -1px;
    margin-left: 28px;
    margin-top: 5px;
    opacity: 0.6;
    padding: 4px;
    position: absolute;
    top: 0;
}

.caption {
	top: 0px;
	position: absolute;
	display: none;
	background: none repeat scroll 0 0 #4A4D4A;
	color: white;
	letter-spacing: -1px;
	opacity: 0.6;
	padding: 4px;
	margin: 5px;
}
.caption a {
	cursor: pointer;
}
.image_container {
/*	position: relative;*/
}