<% if @frm_group.members.any? %>
    <h3><%= t('.current_members') %></h3>
    <div class="row">
      <ul id='members'>
        <% @frm_group.members.each do |member| %>
            <%=user_tag member %>
        <% end %>
      </ul>
    </div>
<% end %>