var container_ = $('<div id="group_container" style="display:none;" title="<%= @page_title %>"></div>');
container_.append('<%=j (render partial: 'form', locals: {remote: true}) %>');
$('body').append(container_);
container_.dialog({
    width: 500,
    height: 'auto',
    modal : true,
    resizable: false,
    close : function(event, ui) {
        container_.dialog('destroy');
        container_.remove();
    }
});