<% flash.each do |key,value| %>
<% if key == :notice
	classeFlash = 'ui-state-highlight'
   else
 	classeFlash = 'ui-state-error'
   end
%>
<div id="flash" class="<%= classeFlash %>">
    <span class="message"><%= value %></span>
</div>
<%end %>

<script>
$(document).ready(function () {
    //$('[class^=flash_]').delay(5000).hide(2000);
});
</script>