<div id="language" class="reveal-modal" data-reveal>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% I18n.available_locales.each do |locale| %>
      <li><%= flag_for(I18n.t("db.sys_locales.#{locale}.description"), locale) %></li>
    <% end %>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>
