<div class="contain-to-grid sticky">
<nav id="menu-top" class="top-bar">
  <ul class="title-area">

    <li class="name">
      <div id="logo-airesis">
        <%= link_to (image_tag (Rails.env == 'production') ? 'logo.png' : 'logo_test.png', class: "logo1"), root_path, tabindex: 1 %>
      </div>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
    </ul>
  </section>
</nav>
</div>