var container_ = $('<div id="category_container" style="display:none;" title="Nuova categoria"></div>');
container_.append('<%=j render :partial => 'new', locals: {remote: true} %>');
$('body').append(container_);
container_.dialog({
    width: 500,
    height: 'auto',
    modal : true,
    resizable: false,
    close : function(event, ui) {
        container_.dialog('destroy');
        container_.remove();
    }
});