<h2><%= t('new', :scope => 'frm.admin.category') %></h2>

<%= render :partial => 'new', locals: {remote: false} %>

<%= content_for :left_panel do %>
    <%= render :partial => 'groups/administration_panel' %>
<% end %>
